<div class="row">
    <div class="col-sm-12">
        <div class="card">

            <div class="card-block main-card-block pb-0">
                <div class="border-bt">
                    <h2 class="main-title">{{'navbar.validate-signature'| translate}} </h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block mr-3 ml-3">
                    <form #f="ngForm" class="form inner-form" name="validateSignatureForm" novalidate>
                        <div class="form-body">
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{'tool-pages.validate-signature.signature-hash-label'| translate}}
                                            <i class="fa fa-question-circle-o" container="body" placement="right"
                                                triggers="mouseenter:mouseleave" ngbPopover="{{'tool-pages.validate-signature.signature-hash-popover'| translate}}"></i>
                                        </label>
                                        <div class="position-relative">
                                            <textarea rows="3" placeholder="{{'tool-pages.validate-signature.signature-hash-label'| translate}}"
                                                type="text" [(ngModel)]="validateSignatureForm.token" class="form-control"
                                                name="token" #token="ngModel" required></textarea>
                                        </div>
                                        <div *ngIf="token?.invalid && (token?.dirty || token?.touched)" class="input-error">
                                            <div *ngIf="token?.errors.required">
                                                {{'tool-pages.validate-signature.token-required'| translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{'common.signature-input-label'| translate}}
                                            <i class="fa fa-question-circle-o" container="body" placement="right"
                                                triggers="mouseenter:mouseleave" ngbPopover="{{'tool-pages.validate-signature.signature-input-popover'| translate}} "></i>
                                        </label>
                                        <div class="input-group mb-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <h6 [innerHTML]="valid | txIsValid" style="margin-bottom: 0px"></h6>
                                                </span>
                                            </div>
                                            <input type="text" placeholder="{{'tool-pages.validate-signature.signature-input-placeholder'| translate}}"
                                                [(ngModel)]="validateSignatureForm.message" name="meassage" #message="ngModel"
                                                class="form-control" required>
                                            <div class="mt-3">
                                                <button class="btn btn-gradient mr-3 mb-2">
                                                    {{account}}
                                                </button>
                                                <button class="btn btn-border mb-2" (click)="validateToken()">
                                                    {{'tool-pages.validate-signature.validate-btn'| translate}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>