<section *isExpertView="false">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block main-card-block">
                    <div class="border-bt">
                        <h2 class="main-title">{{'account.receive-xin.receive-xin-title'| translate}}</h2>
                        <app-breadcrumb [routeChange]="routeChange"></app-breadcrumb>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <app-receive></app-receive>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *isExpertView="true">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block main-card-block">
                    <div class="border-bt">
                        <h2 class="main-title">{{'account.receive-xin.receive-xin-title'| translate}}</h2>
                        <app-breadcrumb [routeChange]="routeChange"></app-breadcrumb>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs nav-fill nav-auto" (click)="onTabChange();">
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['receive']">{{'account.receive-xin.receive-xin-tab'| translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLinkActive="active" [routerLink]="['claim']">{{'account.receive-xin.claim-tab'| translate}}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>