.nav-dots{
  border-bottom: 1px solid #e9dedd;
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 700;
    color: #535353;
    &:before{
      content: '';
      background: #868e96;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: inline-block;
      margin-right: 15px;
    }
    &.green-link:before{
      background: #0cc27e;
    }
    &.orange-link:before{
      background: #fc9e79;
    }
    &.blue-link:before{
      background: #fc9e79;
    }
    &.active{
      border-bottom: 2px solid #e72d45;
    }
    &.all:before{
      content: none;
    }
  }
}