<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block pb-0">
                <div class="border-bt">
                    <h2 class="main-title">{{'navbar.transaction-types'| translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block mr-3 ml-3 app-container row mb-4 mt-4">
                    <div class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                        <span class="list-icon" [innerHtml]="0 | transactionIconSubType: 0"></span>
                        <span class="list-description">
                            {{'tool-pages.transaction-types.type-one'| translate}}
                        </span>
                    </div>
                    <div class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                        <span class="list-icon" [innerHtml]="1 | transactionIconSubType: 0"></span>
                        <span class="list-description">
                            {{'tool-pages.transaction-types.type-two'| translate}}
                        </span>
                    </div>
                    <div class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                        <span class="list-icon" [innerHtml]="1 | transactionIconSubType: 1"></span>
                        <span class="list-description">
                            {{'tool-pages.transaction-types.type-three'| translate}}
                        </span>
                    </div>
                    <div class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                        <span class="list-icon" [innerHtml]="1 | transactionIconSubType: 2"></span>
                        <span class="list-description">
                            {{'tool-pages.transaction-types.type-four'| translate}}
                        </span>
                    </div>
                    <div class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                        <span class="list-icon" [innerHtml]="1 | transactionIconSubType: 5"></span>
                        <span class="list-description">
                            {{'tool-pages.transaction-types.type-five'| translate}}
                        </span>
                    </div>
                    <div class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                        <span class="list-icon" [innerHtml]="2 | transactionIconSubType: 0"></span>
                        <span class="list-description">
                            {{'tool-pages.transaction-types.type-six'| translate}}
                        </span>
                    </div>
                    <div class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                        <span class="list-icon" [innerHtml]="5 | transactionIconSubType: 0"></span>
                        <span class="list-description">
                            {{'tool-pages.transaction-types.type-seven'| translate}}
                        </span>
                    </div>
                    <div class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                        <span class="list-icon" [innerHtml]="7 | transactionIconSubType: 0"></span>
                        <span class="list-description">
                            {{'tool-pages.transaction-types.type-eight'| translate}}
                        </span>
                    </div>
                    <div class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                        <span class="list-icon" [innerHtml]="21 | transactionIconSubType: 3"></span>
                        <span class="list-description">
                            {{'tool-pages.transaction-types.type-nine'| translate}}
                        </span>
                    </div>
                    <div class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                        <span class="list-icon" [innerHtml]="21 | transactionIconSubType: 0"></span>
                        <span class="list-description">
                            {{'tool-pages.transaction-types.type-ten'| translate}}
                        </span>
                    </div>
                    <div class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                        <span class="list-icon" [innerHtml]="22 | transactionIconSubType: 0"></span>
                        <span class="list-description">
                            {{'tool-pages.transaction-types.type-eleven'| translate}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>