<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'shuffling.create-shuffling.title'| translate}} </h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>

                <div class="card-body mt-4">
                    <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                        <aw-wizard [navBarLayout]="'large-filled-symbols'">
                            <aw-wizard-step stepTitle="{{'common.details-step'| translate}}" [navigationSymbol]="{ symbol: '1' }">
                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <p class="alert alert-info readonly-note"> {{'shuffling.create-shuffling.note'|
                                            translate}}
                                        </p>
                                    </div>
                                </div>
                                <form class="form inner-form" #f="ngForm" novalidate>
                                    <div class="form-body">
                                        <div class="row mt-4">
                                            <div class="col-md-6">
                                                <div class="form-group ml-0 mr-0">
                                                    <label>{{'common.holding-type-label'| translate}}
                                                        <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                            container="body" ngbPopover="{{'shuffling.create-shuffling.holding-type-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <div class="position-relative">
                                                        <select name="type" class="form-control" [(ngModel)]="createShuffleForm.holdingType"
                                                            name="holdingType" #holdingType="ngModel">
                                                            <option *ngFor='let option of holdingOptions' [value]="option.value">
                                                                {{'shuffling.create-shuffling.holding-type.'+
                                                                option.label | translate}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group  ml-0 mr-0" *ngIf="createShuffleForm.holdingType==1">
                                                    <label>{{'common.asset-id-label'| translate}}
                                                        <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                            container="body" ngbPopover="{{'shuffling.create-shuffling.asset-id-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <input type="text" class="form-control" [(ngModel)]="createShuffleForm.assetId"
                                                        name="assetId" #assetId="ngModel" (input)="getAsset(createShuffleForm.assetId)">
                                                    <div *ngIf="(assetId?.invalid && (assetId?.dirty || assetId?.touched)) || assetError != ''"
                                                        class="input-error">
                                                        {{ assetError != ''? assetError : "Enter the asset ID
                                                        (numeric)"
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="form-group  ml-0 mr-0" *ngIf="createShuffleForm.holdingType==2">
                                                    <label>{{'common.currency-ticker-label'| translate}}
                                                        <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                            container="body" ngbPopover="{{'shuffling.create-shuffling.currency-ticker-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <input type="text" class="form-control" [(ngModel)]="createShuffleForm.code"
                                                        name="holding" (input)="getCurrency(createShuffleForm.code)"
                                                        name="currencyCode" #currencyCode="ngModel">
                                                    <div *ngIf="(currencyCode?.invalid && (currencyCode?.dirty || currencyCode?.touched)) || currencyError !=''"
                                                        class="input-error">
                                                        {{ currencyError != ''? currencyError : "Enter the currency
                                                        ticker" }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group  ml-0 mr-0">
                                                    <label>{{'common.amount-label'| translate}}
                                                        <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                            container="body" ngbPopover="{{'shuffling.create-shuffling.amount-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <div class="input-group  ml-0 mr-0">
                                                        <input type="number" class="form-control" [(ngModel)]="createShuffleForm.amount"
                                                            name="amount" #amount="ngModel" required [minValue]=1000>
                                                    </div>
                                                    <div *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)"
                                                        class="input-error">
                                                        <div *ngIf="amount?.errors.required">
                                                            {{'common.amount-required'| translate}}
                                                        </div>
                                                        <div *ngIf="amount?.errors.minValue && !amount?.errors.required">
                                                            {{'shuffling.create-shuffling.amount-greater'| translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group  ml-0 mr-0">
                                                    <label>{{'shuffling.create-shuffling.participant-count-label'|
                                                        translate}}
                                                        <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                            container="body" ngbPopover="{{'shuffling.create-shuffling.participant-count-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <div class="input-group m-0">
                                                        <input type="number" placeholder="0" class="form-control"
                                                            [(ngModel)]="createShuffleForm.participantCount" name="participantCount"
                                                            #participantCount="ngModel" required minValue="3" maxValue="30">
                                                    </div>
                                                    <div *ngIf="participantCount?.invalid && (participantCount?.dirty || participantCount?.touched)"
                                                        class="input-error">
                                                        <div *ngIf="participantCount?.errors.required">
                                                            {{'shuffling.create-shuffling.participant-count-required'|
                                                            translate}}
                                                        </div>
                                                        <div *ngIf="participantCount?.errors.minValue && !participantCount?.errors.required">
                                                            {{'shuffling.create-shuffling.participant-count-greater'|
                                                            translate}}
                                                        </div>
                                                        <div *ngIf="participantCount?.errors.maxValue && !participantCount?.errors.required">
                                                            {{'shuffling.create-shuffling.participant-count-less'|
                                                            translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group  ml-0 mr-0">
                                            <label>{{'shuffling.create-shuffling.register-block-until-label'|
                                                translate}}
                                                <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                    container="body" ngbPopover=" {{'shuffling.create-shuffling.register-block-until-popover'| translate}} ">
                                                </i>
                                            </label>
                                            <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                <div class="col-12 col-md-10 pl-0">
                                                    <input type="number" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                        [(ngModel)]="createShuffleForm.finishHeight" name="finishHeight"
                                                        #finishHeight="ngModel" required minValue="1440" maxValue="20160">
                                                </div>
                                                <div class="col-12 col-md-2 pr-1">
                                                    <div class="btn-icon-group text-right text-sm-left btn-sm-top">
                                                        <a class="btn btn-primary" (click)="min()">
                                                            <i class="fa fa-fast-backward"></i>
                                                        </a>
                                                        <a class="btn btn-primary" (click)="decrement()">
                                                            <i class="fa fa-minus"></i>
                                                        </a>
                                                        <a class="btn btn-primary" (click)="increment()">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                        <a class="btn btn-primary" (click)="max()">
                                                            <i class="fa fa-fast-forward"></i>
                                                        </a>
                                                    </div>
                                                </div>


                                            </div>
                                            <div *ngIf="finishHeight?.invalid && (finishHeight?.dirty || finishHeight?.touched)"
                                                class="input-error">
                                                <div *ngIf="finishHeight?.errors.required">
                                                    {{'shuffling.create-shuffling.block-height-required'| translate}}
                                                </div>
                                                <div *ngIf="finishHeight?.errors.minValue && !finishHeight?.errors.required">
                                                    {{'shuffling.create-shuffling.block-height-greater'| translate}}
                                                </div>
                                                <div *ngIf="finishHeight?.errors.maxValue && !finishHeight?.errors.required">
                                                    {{'shuffling.create-shuffling.block-height-less'| translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 left">
                                        <button type="button" [disabled]="f.invalid || currencyError || assetError"
                                            class="btn btn-gradient mr-1 mb-0 float-right" (click)="createShuffle()"
                                            awNextStep>
                                            <i class="fa fa-chevron-right"></i> {{'common.next-btn'| translate}}
                                        </button>
                                    </div>
                                </form>
                            </aw-wizard-step>
                            <aw-wizard-step stepTitle="{{'common.confirm-step'| translate}}" [navigationSymbol]="{ symbol: '2' }"
                                class="form-bordered mt-4">
                                <div class="row">
                                    <div class="col-md-4" *ngIf="createShuffleForm.holdingType ==='0'">
                                        <div class="ucsb"> {{'common.amount-label'| translate}}
                                        </div>
                                        <h4> {{createShuffleForm.amount}}
                                            <small> {{'common.xin-unit-text'| translate}} </small>

                                        </h4>
                                    </div>
                                    <div class="col-md-4" *ngIf="createShuffleForm.holdingType ==='1'||createShuffleForm.holdingType ==='2'">
                                        <div class="ucsb"> {{'common.amount-label'| translate}}
                                        </div>
                                        <h4> {{createShuffleForm.amount}}
                                            <small> ({{createShuffleForm.code || createShuffleForm.assetId}}) </small>
                                        </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="ucsb"> {{'common.holding-type-label'| translate}}
                                        </div>
                                        <h4> {{createShuffleForm.holdingType | holdingType}} </h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="ucsb"> {{'common.service-fee-label'| translate}}
                                        </div>
                                        <h4> {{ tx_fee | amountTkn }}
                                            <small> {{'common.xin-unit-text'| translate}}</small>
                                        </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="ucsb"> {{'common.valid-label'| translate}}
                                        </div>
                                        <h4 [innerHTML]="validBytes | txIsValid"> </h4>
                                    </div>
                                </div>

                                <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}"
                                    class="btn btn-raised mr-1 mb-0 mt-3" (click)="unsignedTx = !unsignedTx">
                                    <i class="fa fa-key"></i> {{'common.signed-transaction-label'| translate}}
                                </button>
                                <!--  <hr *ngIf="unsignedTx"> -->
                                <div class="form-group" *ngIf="unsignedTx">
                                    <div class="position-relative sign_in_inputs">
                                        <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes"
                                            class="form-control pl-0" name="key"></textarea>
                                    </div>
                                </div>
                                <div class="mt-3 mb-3">
                                    <button type="button" [disabled]="!validBytes" (click)="broadcastTransaction(transactionBytes)"
                                        class="btn btn-gradient float-right">
                                        <i class="fa fa-check"></i> {{'common.finish-btn'| translate}}
                                    </button>
                                    <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                                        <i class="fa fa-chevron-left"></i> {{'common.previous-btn'| translate}}
                                    </button>
                                </div>
                            </aw-wizard-step>
                        </aw-wizard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>