<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'currencies.trade-desk-sell.title'| translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                    <h3 class="back-button" (click)="goBack()">
                        <i class="fa fa-chevron-left"></i> {{'common.back-btn'| translate}}
                    </h3>
                </div>
            </div>
            <div class="card-body" *ngIf="sellCurrencyForm">
                <div class="card-block mr-3 ml-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.currency-id-label'| translate}}
                            </div>
                            <h4> {{sellCurrencyForm.currencyId}} </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.currency-label'| translate}}
                            </div>
                            <h4> {{sellCurrencyForm.currency}} </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.price-label'| translate}}
                            </div>
                            <h4> {{sellCurrencyForm.rate | numericalString}}
                                <small> {{'common.xin-unit-text'| translate}} </small>
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.quantity-label'| translate}}
                            </div>
                            <h4> {{sellCurrencyForm.shares}} </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.service-fee-label'| translate}}
                            </div>
                            <h4> {{ tx_fee | amountTkn }}
                                <small> {{'common.xin-unit-text'| translate}}</small>
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.valid-label'| translate}}
                            </div>
                            <h4 [innerHTML]="validBytes | txIsValid"> </h4>
                        </div>
                    </div>
                    <hr>
                    <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}" class="btn btn-raised mr-1 mb-0"
                        (click)="unsignedTx = !unsignedTx">
                        <i class="fa fa-key"></i> {{'common.signed-transaction-label'| translate}}
                    </button>
                    <hr *ngIf="unsignedTx">
                    <div class="form-group" *ngIf="unsignedTx">
                        <div class="position-relative">
                            <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes" class="form-control"
                                name="key"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" [disabled]="!validBytes" (click)="broadcastTransaction(transactionBytes)"
                            class="btn btn-primary float-right">
                            <i class="fa fa-check"></i> {{'common.finish-btn'| translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>