<section>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block main-card-block">
                    <div class="border-bt">
                        <h2 class="main-title">{{'assets.my-transfers.title' | translate}}</h2>
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="card-header">
                        <div class="pull-right filter-group">
                            <div class="btn-group btn-group-justified btn-group-raised">
                                <a href="javascript:void(0)" class="btn btn-sm btn-grey btn-icon" (click)="reload()"
                                    triggers="mouseenter:mouseleave" container="body" placement="top" [ngbPopover]="'common.reload-filter-popover' | translate">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block mr-3 ml-3">
                            <ngx-datatable class="material" [rows]="myTransfers" [columnMode]="'force'" [rowHeight]="'auto'"
                                [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                                [limit]="page.size" (page)='setPage($event)' (autoRefresh)="reload()">
                                <ngx-datatable-column prop="timestamp" [name]="'table-header.date' | translate">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        {{value | timestamp}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="name" [name]="'table-header.name' | translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <a class="hyperlink" (click)="goToAssetDetails(row.asset)">{{value}}</a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="quantityQNT" [name]="'table-header.quantity' | translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{value | supply:row.decimals}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="recipientRS" [name]="'table-header.recipient' | translate">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <a class="hyperlink" (click)="goToAccountDetails(value)">{{value}}</a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="asset" [name]="'table-header.action' | translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <a class="btn btn-outline-danger" (click)="goToTransactionDetails(row.assetTransfer)"
                                            triggers="mouseenter:mouseleave" container="body" placement="top"
                                            [ngbPopover]="'common.details-table-action' | translate">
                                            <i class="fa fa-list-ul"></i>
                                        </a>
                                        <a class="btn btn-outline-danger" (click)="goToTradeDesk(value);" triggers="mouseenter:mouseleave"
                                            container="body" placement="top" [ngbPopover]="'common.tradeDesk-table-action' | translate">
                                            <i class="fa fa-bar-chart"></i>
                                        </a>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>