<section>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block main-card-block">
                    <div class="border-bt">
                        <h2 class="main-title">{{'assets.expected-order-details.title'| translate}} </h2>
                        <app-breadcrumb></app-breadcrumb>
                        <h3 class="back-button" (click)="goBack()">
                            <i class="fa fa-chevron-left"></i> {{'common.back-btn'| translate}}
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block mr-3 ml-3">
                        <form class="form" #f="ngForm" novalidate>
                            <div class="form-body">
                                <div class="form-group">
                                    <label>{{'common.asset-id-label'| translate}}
                                        <i class="fa fa-question-circle-o" aria-hidden="true" triggers="mouseenter:mouseleave"
                                            placement="right" container="body" ngbPopover="{{'assets.expected-order-details.asset-id-popover'| translate}}">
                                        </i>
                                    </label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" class="form-control" name="form-control-with-icon"
                                            [(ngModel)]="expectedOrderForm.asset" placeholder="{{ 'common.asset-placeholder' | translate}}"
                                            (input)="onSearchChange($event.target.value)" required>
                                        <div class="form-control-position">
                                            <i class="ft-search info"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <ngb-tabset [justify]="'fill'">
                    <ngb-tab title="{{'assets.expected-order-details.ask-orders-tab'| translate}} ">
                        <ng-template ngbTabContent>
                            <!-- <div class="card-header">
                <h4 class="card-title">Exchange XIN for {{currencyDetails.code}}</h4>
              </div> -->
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="form-actions" style="margin-bottom: 10px">
                                        <button type="button" class="btn mb-0 btn-default" (click)="getAskOrders()">
                                            <i class="fa fa-refresh"></i> {{'common.refresh-btn'| translate}}
                                        </button>
                                    </div>
                                    <ngx-datatable [rows]="askOrdersRows" [columnMode]="'standard'" [scrollbarH]="true"
                                        [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="askOrdersPage.totalElements"
                                        [offset]="askOrdersPage.pageNumber" [limit]="askOrdersPage.size" (page)='getAskOrders($event)'
                                        (autoRefresh)="getAskOrders()">
                                        <ngx-datatable-column headerClass="width-30-per" cellClass="width-30-per" prop="priceTQT"
                                            [name]="'table-header.price-per-share'| translate">
                                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                {{value | rateTqtToPrice:decimals}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column headerClass="width-30-per" cellClass="width-30-per" prop="quantityQNT"
                                            [name]="'table-header.quantity'| translate">
                                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                {{value | quantityToShare:decimals | numericalString}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column headerClass="width-30-per" cellClass="width-30-per" prop="priceTQT"
                                            [name]="'table-header.sum'| translate">
                                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                {{(value | quantToAmount) * row.quantityQNT | numericalString}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                    <hr>
                                    <!-- <p *ngIf="!hasSellOffers()">
                     <i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; No open sell offers. You cannot buy this currency now, but you could publish an exchange offer
                     instead, and wait for others to fill it.
                   </p>-->
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="{{'assets.expected-order-details.bid-orders-tab'| translate}}">
                        <ng-template ngbTabContent>
                            <!-- <div class="card-header">
                <h4 class="card-title">Sell</h4>
              </div> -->
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="form-actions" style="margin-bottom: 10px">
                                        <button type="button" class="btn mb-0 btn-default" (click)="getBidOrders()">
                                            <i class="fa fa-refresh"></i> {{'common.refresh-btn'| translate}}
                                        </button>
                                    </div>
                                    <ngx-datatable [rows]="bidOrdersRows" [columnMode]="'standard'" [scrollbarH]="true"
                                        [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="bidOrdersPage.totalElements"
                                        [offset]="bidOrdersPage.pageNumber" [limit]="bidOrdersPage.size" (page)='getBidOrders($event)'
                                        (autoRefresh)="getBidOrders()">
                                        <ngx-datatable-column headerClass="width-30-per" cellClass="width-30-per" prop="priceTQT"
                                            [name]="'table-header.price-per-share'| translate">
                                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                {{value | rateTqtToPrice:decimals}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column headerClass="width-30-per" cellClass="width-30-per" prop="quantityQNT"
                                            [name]="'table-header.quantity'| translate">
                                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                {{value | quantityToShare:decimals | numericalString}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column headerClass="width-30-per" cellClass="width-30-per" prop="priceTQT"
                                            [name]="'table-header.sum'| translate">
                                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                {{(value | quantToAmount) * row.quantityQNT | numericalString}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                    <hr>
                                    <!--<p *ngIf="!hasBuyOffers()">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; No open buy offers. You cannot sell this currency now, but you could publish an exchange offer instead, and wait for others to fill it.
                  </p>-->
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</section>