.at-tabs{
	.nav-link{
	font-weight: 500;
	padding-top: 20px !important;
    padding-bottom: 20px !important;
		i{
		display: block; margin-bottom: 10px;
			&:before{
			color: #333;
			font-size: 24px;
			}
		}
		span{
			font-size: 12px;
			color: #333;
			display: block;	
			    line-height: 18px;
			}
	&.active{
		span, i:before{
		color: #e72d45;
	}
	}
		
	}
.tab-content{
	color: #a9a9a9;
	    padding: 40px;
	font-size: 12px;
	border-top: 1px solid #dee2e6;
	border-left: 0;
	border-right:0;
	border-bottom:0;
	line-height: 18px; font-weight: 300;
	code{
	color: #a9a9a9; font-weight: 300;
	font-family: "Montserrat", sans-serif;
    }
    .btn-disabled-icon {
        position: absolute;
        right: 40px;
    }
}
}
.header-border{
	/* border: 1px solid #e72d45; */
	border-radius: 4px;
	padding: 25px 50px;
	color: #e72d45;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	.circle-arrow{
	border: 2px solid #e72d45;
	width: 30px; height: 30px;
	border-radius: 50%;
	padding: 5px;
	
	}
	&:hover{
	color: #f3931b;
		.circle-arrow{
		color: #f3931b; border-color: #f3931b;
		}
	}
}
.header-border{ 
 z-index: 1;
 background: transparent;
 border: none; 
 cursor: pointer;
 text-decoration: none !important;
 position: relative;
  &:before, &:after{
  content: "";
    background-image: linear-gradient(135deg, #e72d45, #f3931b);
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    border-radius: 9px;
    z-index: -2;
    transition: all 0.2s ease-in-out;
  }

  &:hover:before{
  background-image: linear-gradient(135deg, #f3931b, #e72d45);
  }

  &:after{
  background: #fff;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 7px;
  }
}

.text-dark{
	color: #333;
}
@media(max-width: 767px){
	.header-border {    
    padding: 10px 25px;    
    font-size: 14px;
}
.at-tabs .nav-link i {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}
.at-tabs .nav-link span{
    display: inline-block;
    line-height: 15px;
    margin-bottom: 0; 
    top: -5px;
    position: relative;
}
.at-tabs .nav-link {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    line-height: 25px;
}

}

	

.tab-wrapper.at-tabs{
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:0;
	    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
        border-radius: 4px;
}
.at-tabs{
.nav-tabs{
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.at-list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:0;
    margin-top:0px;
    /*padding-right: 65px;
    padding-left:0;*/
}

.at-list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}
.tab-content{margin-top:96px;}
}

.scroller-left {
  float:left;
}
.scroller i{
	    color: #f49928;
    border-radius: 100%;
    border: 2px solid #f49928;
    padding: 7px;
    background-color:#fff;
}

.scroller {
  text-align:center;
  cursor:pointer;
  /*display:none; */
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  
}

.scroller-right{
  float:right;
  position: absolute;
    right: 10px;
    top: 40px;
    z-index: 9; 
}
.scroller-left{transform: rotate(180deg);
  position: absolute;
    left: 10px;
    top: 40px;
    z-index: 9;}