<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'at.at-workbench.title'| translate}} </h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>

                <div class="card-body">
                    <div class="card-block mt-4 mr-md-2 ml-md-2 form-bordered">
                        <div class="row">
                            <div class="col-12">
                                <div class="header-border" (click)="showCompiler = !showCompiler">
                                    <div class="row">
                                        <div class="col-10">{{'at.at-workbench.compiler'| translate}} </div>
                                        <div class="col-2 text-right pl-0 pr-1"><i class="icon-next_arrow circle-arrow"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-compiler *ngIf="showCompiler"></app-compiler>
                        <div class="row mt-4">
                            <div class="col-12">
                                <h3 class="text-dark">{{'at.at-workbench.at-templates-title'| translate}} </h3>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-12 pb-2">
                                <div class="scroll-wrapper">
                                    <div class="scroller scroller-left"><i class="icon-next_arrow circle-arrow"></i></div>
                                    <div class="scroller scroller-right"><i class="icon-next_arrow circle-arrow"></i></div>
                                </div>
                            </div>
                            <div class="col-12 at-tabs tab-wrapper">
                                <ul class="nav nav-tabs nav-justified nav-auto  at-list">
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'simple'}"
                                            (click)="showTab('simple')">
                                            <i class="icon-SWApps"></i><span>{{'at.at-workbench.simple-at-tab'|
                                                translate}} </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'sleep'}"
                                            (click)="showTab('sleep')">
                                            <i class="icon-account_info"></i><span>{{'at.at-workbench.sleep-at-tab'|
                                                translate}} </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'auction'}"
                                            (click)="showTab('auction')">
                                            <i class="icon-receive"></i><span>{{'at.at-workbench.auction-at-tab'|
                                                translate}} </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'cod'}"
                                            (click)="showTab('cod')">
                                            <i class="icon-AT"></i><span>{{'at.at-workbench.certificate-at-tab'|
                                                translate}} </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'crowdfunding'}"
                                            (click)="showTab('crowdfunding')">
                                            <i class="icon-Dashboard"></i><span>{{'at.at-workbench.crowdfunding-at-tab'|
                                                translate}} </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'dormant'}"
                                            (click)="showTab('dormant')">
                                            <i class="icon-wallet"></i><span>{{'at.at-workbench.dormant-funds-at-tab'|
                                                translate}}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'lottery'}"
                                            (click)="showTab('lottery')">
                                            <i class="icon-Voting"></i><span> {{'at.at-workbench.lottery-at-tab'|
                                                translate}} </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'lotteryrepeat'}"
                                            (click)="showTab('lotteryrepeat')">
                                            <i class="icon-Shuffling"></i><span>
                                                {{'at.at-workbench.lottery-repeat-at-tab'| translate}} </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'theThrone'}"
                                            (click)="showTab('theThrone')">
                                            <i class="icon-Escrow"></i><span> {{'at.at-workbench.throne-at-tab'|
                                                translate}} </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'fuscavor'}"
                                            (click)="showTab('fuscavor')">
                                            <i class="icon-Crowdfunding"></i><span>{{'at.at-workbench.fuscavor-funds-at-tab'|
                                                translate}}</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'simple'}">
                                        <a class="btn btn-disabled-icon" (click)="copyText(simpleAT, tooltip)"
                                            ngbPopover="{{'common.copied-popover'| translate}}" #tooltip="ngbPopover"
                                            triggers="manual">
                                            <i class="icon-copy"></i>
                                        </a>
                                        <pre>
                                            <code #simpleAT>
Simple AT
------------------------------------------------------------
Simple AT to test transactions on amounts.


^declare DeveloperWallet
^declare AmountToReturn
^declare LastTransaction
^declare ValidTransaction
^declare WalletBalance

^comment Init runs once and never again.
Init:
^comment setting my address
SET @DeveloperWallet #6e4e78e8e25f59bd
^comment Return 20 XIN
SET @AmountToReturn #0000000077359400

^comment start of 2nd run
PCS
Update:
^comment Grab the last payment to the AT
FUN A_to_Tx_after_Timestamp $LastTransaction
^comment Check if the Transaction is valid
FUN @ValidTransaction check_A_Is_Zero
^comment if it is not valid, Check if Developers get any money.
BZR $ValidTransaction :DeveloperFund
^comment Update Last Transaction
FUN @LastTransaction get_Timestamp_for_Tx_in_A
^comment Send 20 XIN back
FUN B_to_Address_of_Tx_in_A
FUN send_to_Address_in_B $AmountToReturn
^comment Check for More Transactions
JMP :Update

DeveloperFund:
^comment Get The Current Balance of the wallet.
FUN @WalletBalance get_Current_Balance
^comment if the wallet balance is <20, dont send.
BLE $WalletBalance $AmountToReturn :Finish
^comment Leave 20 XIN in the Wallet and return the rest.
SUB @WalletBalance $AmountToReturn
^comment set B1 to Developer.
FUN set_B1 $DeveloperWallet
FUN send_to_Address_in_B $WalletBalance

Finish:
^comment Finish the AT and set 
FIN
                                            </code>
                                        </pre>
                                    </div>

                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'sleep'}">
                                        <a class="btn btn-disabled-icon" (click)="copyText(sleepAT, tooltip1)"
                                            ngbPopover="{{'common.copied-popover'| translate}}" #tooltip1="ngbPopover"
                                            triggers="manual">
                                            <i class="icon-copy"></i>
                                        </a>
                                        <pre>
                                            <code #sleepAT>
Sleep
------------------------------------------------------------
This is an AT that sleeps and wakes up every 5 blocks to update some values. Just a test that should run until it has no more value.

^declare SleepTillThisTime
^declare Counter

^comment set the AT to activate 5 blocks later.
SET @SleepTillThisTime #0000000000000005

Update:
PCS
SLP $SleepTillThisTime
INC @Counter
JMP :Update
                                            </code>
                                        </pre>
                                    </div>

                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'auction'}">
                                        <a class="btn btn-disabled-icon" (click)="copyText(auctionAT, tooltip2)"
                                            ngbPopover="{{'common.copied-popover'| translate}}" #tooltip2="ngbPopover"
                                            triggers="manual">
                                            <i class="icon-copy"></i>
                                        </a>
                                        <pre>
                                            <code #auctionAT>
Auction
------------------------------------------------------------
An auction. Users send their funds to the AT to bid, and the previous bidder's funds will be refunded. The user running the auction may have to send a transaction to the AT to collect their funds.


^declare endingCondition
^declare currentBid
^declare highBidder
SET @minNextBid $currentBid
FUN @timestamp get_Block_Timestamp
FUN @deadline add_Minutes_to_Timestamp $timestamp $endingCondition
PCS

txLoop:
FUN A_to_Tx_after_Timestamp $timestamp
FUN @scratch check_A_Is_Zero
FIZ $scratch
FUN @timestamp get_Timestamp_for_Tx_in_A
BGT $timestamp $deadline :refundEnd
FUN @scratch get_Amount_for_Tx_in_A
BLT $scratch $minNextBid :refund
FUN B_to_Address_of_Tx_in_A
FUN @scratch2 get_B1
FUN set_B1 $highBidder
FUN send_to_Address_in_B $currentBid
SET @currentBid $scratch
SET @highBidder $scratch2
SET @minNextBid $currentBid
INC @minNextBid
JMP :txLoop

refund:
FUN B_to_Address_of_Tx_in_A
FUN send_to_Address_in_B $scratch
JMP :txLoop

refundEnd:
FUN B_to_Address_of_Tx_in_A
FUN @scratch get_Amount_for_Tx_in_A
FUN send_to_Address_in_B $scratch
FUN B_to_Address_of_Creator
FUN send_to_Address_in_B $currentBid
FUN clear_A
FUN set_A1 $highBidder
FUN send_A_to_Address_in_B

endLoop:
FUN A_to_Tx_after_Timestamp $timestamp
FUN @scratch check_A_Is_Zero
BZR $scratch :sendAllCreator
FUN @timestamp get_Timestamp_for_Tx_in_A
FUN @scratch get_Amount_for_Tx_in_A
FUN B_to_Address_of_Tx_in_A
FUN send_to_Address_in_B $scratch
JMP :endLoop

sendAllCreator:
FUN B_to_Address_of_Creator
FUN send_All_to_Address_in_B
JMP :endLoop
                                            </code>
                                        </pre>
                                    </div>

                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'cod'}">
                                        <a class="btn btn-disabled-icon" (click)="copyText(codAT, tooltip3)" ngbPopover="{{'common.copied-popover'| translate}}"
                                            #tooltip3="ngbPopover" triggers="manual">
                                            <i class="icon-copy"></i>
                                        </a>
                                        <pre>
                                            <code #codAT>
Certificate of Deposit
------------------------------------------------------------
A user creates a CD contract and sends funds to it. Someone else can then send an amount of iterest. If the interest is received, the coins are locked for the duration of the contract, then sent to the contract creator.


^declare amtTotal
^declare waitBlocks
^declare paymentBlocks

SLP $waitBlocks
FUN @scratch get_Current_Balance
BLT $scratch $amtTotal :failedFunding
SLP $paymentBlocks
FUN B_to_Address_of_Creator

payoutLoop:
FUN send_All_to_Address_in_B
JMP :payoutLoop

failedFunding:
FUN B_to_Address_of_Creator
FUN @timestamp get_Creation_Timestamp

failedRefundLoop:
FUN A_to_Tx_after_Timestamp $timestamp
FUN @scratch check_A_Is_Zero
BZR $scratch :failedRefundCleanout
FUN @timestamp get_Timestamp_for_Tx_in_A
FUN B_to_Address_of_Tx_in_A
FUN @scratch get_Amount_for_Tx_in_A
FUN send_to_Address_in_B $scratch

JMP :failedRefundLoop
failedRefundCleanout:
FUN send_All_to_Address_in_B

JMP :failedRefundLoop
                                            </code>
                                        </pre>
                                    </div>

                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'crowdfunding'}">
                                        <a class="btn btn-disabled-icon" (click)="copyText(crowdfundingAT, tooltip4)"
                                            ngbPopover="{{'common.copied-popover'| translate}}" #tooltip4="ngbPopover"
                                            triggers="manual">
                                            <i class="icon-copy"></i>
                                        </a>
                                        <pre>
                                            <code #crowdfundingAT>
Crowdfunding
------------------------------------------------------------
Crowdfunding AT 


FUN @block_height get_Block_Timestamp
SLP $decision
FUN @amount get_Current_Balance
BGE $amount $target_amount :funded
FUN @timestamp get_Creation_Timestamp
refund_loop:
FUN A_to_Tx_after_Timestamp $timestamp
FUN @tx_info check_A_Is_Zero
BZR $tx_info :end_loop
FUN @tx_amount get_Amount_for_Tx_in_A
FUN @timestamp get_Timestamp_for_Tx_in_A
FUN B_to_Address_of_Tx_in_A
SET @funded #0000000000000002
FUN send_to_Address_in_B $tx_amount
JMP :refund_loop
funded:
SET @funded #0000000000000001
FUN B_to_Address_of_Creator
FUN send_All_to_Address_in_B
FUN @timestamp get_Last_Block_Timestamp
end_loop:
FUN A_to_Tx_after_Timestamp $timestamp
FUN @tx_info check_A_Is_Zero
BZR $tx_info :end_loop
FUN @timestamp get_Timestamp_for_Tx_in_A
FUN B_to_Address_of_Creator
FUN send_All_to_Address_in_B
JMP :end_loop
                                            </code>
                                        </pre>
                                    </div>

                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'dormant'}">
                                        <a class="btn btn-disabled-icon" (click)="copyText(dormantAT, tooltip5)"
                                            ngbPopover="{{'common.copied-popover'| translate}}" #tooltip5="ngbPopover"
                                            triggers="manual">
                                            <i class="icon-copy"></i>
                                        </a>
                                        <pre>
                                            <code #dormantAT>
Dormant Funds (Pseudocode Example)
------------------------------------------------------------


if @timestamp not zero goto loop
get last block timestamp and put in @timestamp
set @am_type_subtype to 0x0000000100000002 (AM)
set @payout account to 0x0000000011111111

:init
set @payout_time to $timestamp
set @tx_info to (604800 seconds in a week)
add @tx_info to @payout_time

:loop
get tx at after @timestamp and store in @txid
if @txid is zero finish
get timestamp for @txid and store in @tx_time
get tx type for @txid and store in @tx_info
if @tx_info != @am_type_subtype goto skip
get AT owner's account and store in @tx_info
get account for @txid and put in @tx_source
if @tx_info != @tx_source goto skip
get AM data for @txid at pos @zero and put in @tx_info
if @tx_info zero then goto skip
set @payout_account to @tx_info

:skip
if @payout_account zero goto ignore
if @tx_time > @payout_time goto payout

:ignore
set @timestamp to @tx_time
goto init

:payout
pay balance to @payout_account
finish
                                            </code>
                                        </pre>
                                    </div>

                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'lottery'}">
                                        <a class="btn btn-disabled-icon" (click)="copyText(lotteryAT, tooltip6)"
                                            ngbPopover="{{'common.copied-popover'| translate}}" #tooltip6="ngbPopover"
                                            triggers="manual">
                                            <i class="icon-copy"></i>
                                        </a>
                                        <pre>
                                            <code #lotteryAT>
Lottery 
------------------------------------------------------------
A single trustless lottery.

---
v1
---

^declare runBlocks
FUN @timestamp get_Block_Timestamp
top:
SET @best #8000000000000000
SET @bestAdr #0000000000000000
SLP $runBlocks
txLoop:
FUN A_to_Tx_after_Timestamp $timestamp
FUN @scratch check_A_Is_Zero
BZR $scratch :payout
FUN @timestamp get_Timestamp_for_Tx_in_A
FUN @scratch get_Ticket_Id_for_Tx_in_A
BLT $scratch $best :txLoop
SET @best $scratch
FUN B_to_Address_of_Creator
FUN @bestAdr get_B1
JMP :txLoop
payout:
FUN set_B1 $bestAdr
FUN send_All_to_Address_in_B
JMP :top

---
v2
---

^declare TicketPrice
^declare MinNumPlayers
^declare WinnerPercent
^declare GameEndBlocks
^declare CurrentWinner
^declare CurrentTime
^declare DeadAT
^declare LastTransaction
^declare ValidTransaction
^declare NewTickets
^declare TotalTicketsBoughtPreviously
^declare TotalTicketsBought
^declare MyRandomNumber
^declare EndTime
^declare ScratchBuffer
^declare CurrentBalance

^comment If this is the first time running, set some default variables.
Start:
^comment 50 XIN per ticket. min fee should = this.
SET @TicketPrice #000000012a05f200
SET @MinNumPlayers #0000000000000002
SET @WinnerPercent #0000000000000050
SET @GameEndBlocks #0000000500000000
^comment by default, the creator wins.
INC @TotalTicketsBoughtPreviously
FUN B_to_Address_of_Creator
FUN @CurrentWinner get_B1

^comment when the program starts for the next time, it will start from here.
PCS
Update:
FUN @CurrentTime get_Block_Timestamp

^comment if Lottery is over, just give me the XIN.
BNZ $DeadAT :ErrorHandle

UpdateNewPlayerLoop:
^comment new way of grabbing transactions
FUN A_to_Tx_after_Timestamp $LastTransaction
FUN @ValidTransaction check_A_Is_Zero
BZR $ValidTransaction :NoMoreTx
FUN @LastTransaction get_Timestamp_for_Tx_in_A

^comment check how much the PlayerPaid and convert to tickets
FUN @NewTickets get_Amount_for_Tx_in_A
ADD @NewTickets $TicketPrice
DIV @NewTickets $TicketPrice
^comment run internal lottery based on past tickets
SET @TotalTicketsBought $TotalTicketsBoughtPreviously
ADD @TotalTicketsBought $NewTickets
^comment Random Number Generator
SET @MyRandomNumber $CurrentTime
^comment based on random number, figure out who won.
MOD @MyRandomNumber $TotalTicketsBought
BGE $MyRandomNumber $TotalTicketsBoughtPreviously :ChangeWinner

UpdateNewPlayerContinue:
^comment update the totalnumber of tickets now
SET @TotalTicketsBoughtPreviously $TotalTicketsBought
JMP :UpdateNewPlayerLoop

ChangeWinner:
FUN B_to_Address_of_Tx_in_A
FUN @CurrentWinner get_B1
JMP :UpdateNewPlayerContinue

NoMoreTx:
^comment if the end time is not set, Try to set end time
BZR $EndTime :SetEndTime

EndTimeSetted:
^comment if endtime is still not set, wait for more players.
BZR $EndTime :End
^comment if time is up, end the lottery
BGT $CurrentTime $EndTime :CloseAuction
JMP :End

SetEndTime:
^comment do not set endtime if there are not enough players
BLT $TotalTicketsBought $MinNumPlayers :EndTimeSetted
^comment set the end time to EndTime.
SET @ScratchBuffer $GameEndBlocks
ADD @ScratchBuffer $CurrentTime
SET @EndTime $ScratchBuffer
JMP :EndTimeSetted

^comment we select a winner here and kill the AT
CloseAuction:
INC @DeadAT
FUN @CurrentBalance get_Current_Balance
FUN set_B1 $CurrentWinner

^comment calculate payout - total / 100 * pecent
SET @ScratchBuffer #0000000000000064
DIV @CurrentBalance $ScratchBuffer
MUL @CurrentBalance $WinnerPercent
FUN send_to_Address_in_B $CurrentBalance

^comment die and give me money.
ErrorHandle:
FUN B_to_Address_of_Creator
FUN send_All_to_Address_in_B
^comment Missing End here to save XIN

End:
FIN
                                            </code>
                                        </pre>
                                    </div>

                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'lotteryrepeat'}">
                                        <a class="btn btn-disabled-icon" (click)="copyText(lotteryRepeatAT, tooltip7)"
                                            ngbPopover="{{'common.copied-popover'| translate}}" #tooltip7="ngbPopover"
                                            triggers="manual">
                                            <i class="icon-copy"></i>
                                        </a>
                                        <pre>
                                            <code #lotteryRepeatAT>
Lottery Repeat
------------------------------------------------------------
A repeated trustless lottery.


^declare TicketPrice
^declare MinNumPlayers
^declare WinnerPercent
^declare GameEndBlocks
^declare CurrentWinner
^declare LastTransaction
^declare ValidTransaction
^declare NewTickets
^declare TotalTicketsBoughtPreviously
^declare TotalTicketsBought
^declare MyRandomNumber
^declare EndTime
^declare ScratchBuffer
^declare CurrentBalance
^declare OriginalCurrentBalance
^declare HostPercent

^comment If this is the first time running, set some default variables.
Start:
^comment 50 XIN per ticket. min fee should = this.
SET @TicketPrice #000000012a05f200
SET @MinNumPlayers #0000000000000003
SET @WinnerPercent #0000000000000050
SET @HostPercent #000000000000000a
^comment GameEnds in 50 Block automatically
SET @GameEndBlocks #0000000000000032

Restart:
^comment by default, the creator wins.
CLR @EndTime
CLR @TotalTicketsBought
SET @TotalTicketsBoughtPreviously #0000000000000001
FUN B_to_Address_of_Creator
FUN @CurrentWinner get_B1

^comment when the program starts for the next time, it will start from here.
PCS
Update:

UpdateNewPlayerLoop:
^comment new way of grabbing transactions
FUN A_to_Tx_after_Timestamp $LastTransaction
FUN @ValidTransaction check_A_Is_Zero
BZR $ValidTransaction :NoMoreTx
FUN @LastTransaction get_Timestamp_for_Tx_in_A

^comment check how much the PlayerPaid and convert to tickets
FUN @NewTickets get_Amount_for_Tx_in_A
ADD @NewTickets $TicketPrice
DIV @NewTickets $TicketPrice
^comment run internal lottery based on past tickets
SET @TotalTicketsBought $TotalTicketsBoughtPreviously
ADD @TotalTicketsBought $NewTickets
^comment Random Number Generator
SET @MyRandomNumber $LastTransaction
^comment based on random number, figure out who won.
MOD @MyRandomNumber $TotalTicketsBought
BGE $MyRandomNumber $TotalTicketsBoughtPreviously :ChangeWinner

UpdateNewPlayerContinue:
^comment update the totalnumber of tickets now
SET @TotalTicketsBoughtPreviously $TotalTicketsBought
JMP :UpdateNewPlayerLoop

ChangeWinner:
FUN B_to_Address_of_Tx_in_A
FUN @CurrentWinner get_B1
JMP :UpdateNewPlayerContinue

NoMoreTx:
^comment if the end time is not set, Try to set end time
BZR $EndTime :SetEndTime

EndTimeSetted:
^comment if endtime is still not set, wait for more players.
BZR $EndTime :End
^comment if time is up, end the lottery
BNZ $EndTime :CloseAuction
JMP :End

SetEndTime:
^comment do not set endtime if there are not enough players
BLT $TotalTicketsBought $MinNumPlayers :EndTimeSetted
^comment set the end time to 1
INC @EndTime
SLP $GameEndBlocks
JMP :Update

^comment we select a winner here and kill the AT
CloseAuction:
FUN @CurrentBalance get_Current_Balance
SET @OriginalCurrentBalance $CurrentBalance
FUN set_B1 $CurrentWinner

^comment calculate payout - total / 100 * pecent
SET @ScratchBuffer #0000000000000064
DIV @CurrentBalance $ScratchBuffer
MUL @CurrentBalance $WinnerPercent
FUN send_to_Address_in_B $CurrentBalance

^comment Payout Host
PayHost:
DIV @OriginalCurrentBalance $ScratchBuffer
MUL @OriginalCurrentBalance $HostPercent
FUN B_to_Address_of_Creator
FUN send_to_Address_in_B $OriginalCurrentBalance

^comment reset the AT
JMP :Restart
^comment Missing End here to save XIN

End:
FIN
                                            </code>
                                        </pre>
                                    </div>

                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'theThrone'}">
                                        <a class="btn btn-disabled-icon" (click)="copyText(theThroneAT, tooltip8)"
                                            ngbPopover="{{'common.copied-popover'| translate}}" #tooltip8="ngbPopover"
                                            triggers="manual">
                                            <i class="icon-copy"></i>
                                        </a>
                                        <pre>
                                            <code #theThroneAT>
TheThrone AT
------------------------------------------------------------


^declare CurrentKing
^declare TransactionID
^declare LastTransaction
^declare ValidTransaction
^declare MyRandomNumber
^declare Chance
^declare PayOutPrice
^declare MinLeft
^declare CurrentBalance

^comment If this is the first time running, set some default variables.
Start:
SET @PayOutPrice #00000001dcd65000
SET @MinLeft #000000001dcd6500
SET @Chance #0000000000000002
FUN B_to_Address_of_Creator
FUN @CurrentKing get_B1

^comment when the program starts for the next time, it will start from here.
PCS
Update:

UpdateNewPlayerLoop:
^comment new way of grabbing transactions
FUN A_to_Tx_after_Timestamp $LastTransaction
^comment can save 1 xin here.
FUN @ValidTransaction check_A_Is_Zero
BZR $ValidTransaction :NoMoreTx
FUN @TransactionID get_A1
FUN @LastTransaction get_Timestamp_for_Tx_in_A

^comment Random Number Generator
SET @MyRandomNumber $TransactionID
^comment based on random number, figure out who won.
MOD @MyRandomNumber $Chance
^comment only works at 50%
BZR $MyRandomNumber :ChangeWinner

UpdateNewPlayerContinue:
^comment pay current king here.
FUN set_B1 $CurrentKing
FUN send_to_Address_in_B $PayOutPrice
JMP :UpdateNewPlayerLoop

ChangeWinner:
FUN B_to_Address_of_Tx_in_A
FUN @CurrentKing get_B1
JMP :UpdateNewPlayerContinue

^comment Transactions has been processed finished.
NoMoreTx:
FUN @CurrentBalance get_Current_Balance
BLE $CurrentBalance $MinLeft :End
SUB @CurrentBalance $MinLeft
FUN B_to_Address_of_Creator
FUN send_to_Address_in_B $CurrentBalance

End:
FIN
                                            </code>
                                        </pre>
                                    </div>

                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'fuscavor'}">
                                        <a class="btn btn-disabled-icon" (click)="copyText(fuscavorAT, tooltip9)"
                                            ngbPopover="{{'common.copied-popover'| translate}}" #tooltip9="ngbPopover"
                                            triggers="manual">
                                            <i class="icon-copy"></i>
                                        </a>
                                        <pre>
                                            <code #fuscavorAT>
Fuscavor AT
------------------------------------------------------------


^declare ticket_price
^declare countdown_minutes
^declare percent_payout
^declare percent_dev
^declare percent_other
^declare dev_address
^declare other_address
^declare end_block
^declare current_winner
^declare last_pot
^declare last_tx
^declare one_hundred
^declare temp
^declare temp2
FUN @end_block get_Block_Timestamp
FUN @end_block add_Minutes_to_Timestamp $end_block $countdown_minutes
FUN @last_tx get_Creation_Timestamp
SET @one_hundred #0000000000000064
PCS
start:
FUN A_to_Tx_after_Timestamp $last_tx
FUN @temp check_A_Is_Zero
FIZ $temp
FUN @last_tx get_Timestamp_for_Tx_in_A
BGT $last_tx $end_block :payout
process:
FUN @temp get_Amount_for_Tx_in_A
BLT $temp $ticket_price :start
FUN B_to_Address_of_Tx_in_A
FUN @current_winner get_B1
FUN @end_block get_Block_Timestamp
FUN @end_block add_Minutes_to_Timestamp $end_block $countdown_minutes
JMP :start
payout:
FUN @last_pot get_Current_Balance
SET @temp $last_pot
DIV @temp $one_hundred
SET @temp2 $temp
MUL @temp2 $percent_payout
FUN clear_B
FUN set_B1 $current_winner
FUN send_to_Address_in_B $temp2
SET @temp2 $temp
MUL @temp2 $percent_dev
FUN clear_B
FUN set_B1 $dev_address
FUN send_to_Address_in_B $temp2
SET @temp2 $temp
MUL @temp2 $percent_other
FUN clear_B
FUN set_B1 $other_address
FUN send_to_Address_in_B $temp2
FUN @end_block get_Block_Timestamp
FUN @end_block add_Minutes_to_Timestamp $end_block $countdown_minutes
JMP :process                                
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>