<div class="row">
    <div class="col-sm-12" *ngIf="!openBookMarks">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'messages.send-message.title'| translate}}</h2>
                    <app-breadcrumb [routeChange]="routeChange"></app-breadcrumb>
                    <h3 class="back-button" (click)="goBack()">
                        <i class="fa fa-chevron-left"></i> {{'common.back-btn'| translate}}
                    </h3>
                </div>

                <div class="card-body">
                    <div class="card-body">
                        <div class="card-block mr-md-3 ml-md-3">
                            <aw-wizard [navBarLayout]="'large-filled-symbols'">
                                <aw-wizard-step stepTitle="{{'common.details-step'| translate}}" [navigationSymbol]="{ symbol: '1' }">
                                    <form #f="ngForm" class="form" name="sendMessageForm" novalidate>
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{'common.recipient-label'| translate}}
                                                            <i class="fa fa-question-circle-o ml-1 info-yellow"
                                                                container="body" placement="right" triggers="mouseenter:mouseleave"
                                                                ngbPopover="{{'messages.send-message.recipient-label-popover'| translate}}">
                                                            </i>

                                                        </label>



                                                        <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                            <div class="col-7 col-lg-8 pl-0 pr-0">
                                                                <input type="text" [(ngModel)]="sendMessageForm.recipientRS"
                                                                    name="recipientRS" class="pl-0 pt-0 pb-0 form-control"
                                                                    #recipientRS="ngModel" required placeholder="XIN - _____ - _____ - _____ - _____">
                                                            </div>
                                                            <div class="col-5 col-lg-4 pr-1 pl-0">
                                                                <div class="btn-icon-group text-right">

                                                                    <span *isAppEnabled="'Aliases'" class="btn btn-primary mlmr-auto"
                                                                        (click)="searchAliases()" triggers="mouseenter:mouseleave"
                                                                        placement="top" container="body" ngbPopover="{{'common.alias-connect-tooltip'| translate}}">
                                                                        <i class="fa fa-share-alt"></i>
                                                                    </span>


                                                                    <span *isExpertView="true" class="btn btn-primary btn-left"
                                                                        triggers="mouseenter:mouseleave" placement="top"
                                                                        (click)="loadBookmarkView()" container="body"
                                                                        ngbPopover="{{'common.open-bookmark-tooltip'| translate}}">
                                                                        <i class="fa fa-bookmark"></i>
                                                                    </span>

                                                                </div>
                                                            </div>


                                                        </div>
                                                        <div *ngIf="recipientRS?.invalid && (recipientRS?.dirty || recipientRS?.touched)"
                                                            class="input-error">
                                                            <div *ngIf="recipientRS?.errors.required">
                                                                {{'common.recipient-required'| translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{'common.type-label'| translate}}
                                                            <i class="fa fa-question-circle-o ml-1 info-yellow"
                                                                container="body" placement="right" triggers="mouseenter:mouseleave"
                                                                ngbPopover="{{'messages.send-message.type-label-popover'| translate}}">
                                                            </i>

                                                        </label>
                                                        <div class="position-relative sign_in_inputs form-border-bottom">
                                                            <select name="type" class="form-control mb-1 pl-0" name="prunable"
                                                                [(ngModel)]="sendMessageForm.prunable">
                                                                <option value="false">On chain (160 Chars)</option>
                                                                <option value="true">Off chain (24k Chars)</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>{{'common.message-label'| translate}}
                                                    <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                        container="body" ngbPopover="{{'messages.send-message.message-label-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="position-relative sign_in_inputs">
                                                    <textarea rows="3" placeholder="{{'common.message-label'| translate}}"
                                                        name="message" [(ngModel)]="sendMessageForm.message"
                                                        (ngModelChange)="onChangeMessageInfo($event)" class="form-control pl-0"></textarea>
                                                </div>
                                            </div>
                                            <button type="button" [ngClass]="{'btn-success': !hasReceiverPublicKey, 'btn-danger': hasReceiverPublicKey}"
                                                class="btn btn-raised mb-0" (click)="setPublicKye()">
                                                <i class="fa fa-key"></i> {{ hasReceiverPublicKey ? 'Remove' : 'Add' }}
                                                {{'common.public-key-btn'| translate}}
                                            </button>
                                            <div class="form-group mt-3" *ngIf="hasReceiverPublicKey">
                                                <div class="ucsb" placement="left" trigger="'mouseenter:mouseleave'"
                                                    ngbPopover="Additional security for brand new accounts without any outbound transaction.">
                                                    <label>{{'messages.send-message.recipient-public-key-label'|
                                                        translate}}
                                                        <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                            container="body" ngbPopover="{{'messages.send-message.recipient-public-key-label-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                </div>
                                                <div class="position-relative sign_in_inputs">
                                                    <input type="text" placeholder="{{'messages.send-message.recipient-public-key-label'|
                                                    translate}}"
                                                        name="pubkey" class="form-control pl-0" [(ngModel)]="sendMessageForm.pubkey">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 left">
                                            <button [disabled]="f.invalid" (click)="getAndVerifyAccount(sendMessageForm)"
                                                type="button" class="btn btn-gradient mr-1 mb-0 float-right" awNextStep>
                                                {{'common.next-btn'| translate}} <i class="fa fa-chevron-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                </aw-wizard-step>
                                <aw-wizard-step stepTitle="{{'common.confirm-step'| translate}}" [navigationSymbol]="{ symbol: '2' }"
                                    class="form-bordered mt-4">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="ucsb"> {{'common.recipient-account-label'| translate}}
                                            </div>
                                            <h4> {{sendMessageForm.recipientRS}} </h4>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="ucsb"> {{'common.recipient-name-label'| translate}}
                                            </div>
                                            <h4> {{accountDetails.name | notSet}} </h4>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="ucsb"> {{'common.recipient-balance-label'| translate}}
                                            </div>
                                            <h4> {{accountDetails.balanceTQT| amountTqt}}
                                                <small> {{'common.xin-unit-text'| translate}}</small>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="ucsb"> {{'common.service-fee-label'| translate}}
                                            </div>
                                            <h4> {{ tx_fee | amountTkn }}
                                                <small> {{'common.xin-unit-text'| translate}}</small>
                                            </h4>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="ucsb"> {{'common.valid-label'| translate}}
                                            </div>
                                            <h4 [innerHTML]="validBytes | txIsValid"></h4>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="ucsb"> {{'common.public-key-label'| translate}}
                                            </div>
                                            <h4 [innerHTML]="validBytes | txIsValid"></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="ucsb"> {{'common.message-label'| translate}}
                                            </div>
                                            <h4>{{sendMessageForm.message}}</h4>
                                        </div>
                                    </div>
                                    <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}"
                                        class="btn btn-raised mr-1 mb-0" (click)="unsignedTx = !unsignedTx">
                                        <i class="fa fa-key"></i> {{'common.signed-transaction-label'| translate}}
                                    </button>
                                    <button type="button" [ngClass]="{'btn-success': !aMessage, 'btn-danger': aMessage}"
                                        class="btn btn-raised mb-0" (click)="aMessage = !aMessage">
                                        <i class="fa fa-lock"></i> {{'common.encrypted-message-label'| translate}}
                                    </button>
                                    <button type="button" [ngClass]="{'btn-success': !aprunableAttachmentJSON, 'btn-danger': aprunableAttachmentJSON}"
                                        class="btn btn-raised mb-0" (click)="aprunableAttachmentJSON = !aprunableAttachmentJSON">
                                        <i class="fa fa-lock"></i> {{'common.attachment-lable'| translate}}
                                    </button>
                                    <!--     <hr *ngIf="unsignedTx || aMessage || aprunableAttachmentJSON"> -->
                                    <div class="form-group" *ngIf="unsignedTx">
                                        <label>{{'common.signed-transaction-label'| translate}}</label>
                                        <div class="position-relative sign_in_inputs">
                                            <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes"
                                                class="form-control pl-0" name="key"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="aMessage">
                                        <label>{{'common.encrypted-message-label'| translate}}</label>
                                        <div class="position-relative sign_in_inputs">
                                            <textarea disabled="true" rows="3" [(ngModel)]="encrypted" class="form-control pl-0"
                                                name="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="aprunableAttachmentJSON">
                                        <label>{{'common.encrypted-message-label'| translate}}</label>
                                        <div class="position-relative sign_in_inputs">
                                            <textarea disabled="true" rows="3" [(ngModel)]="prunableAttachmentString"
                                                class="form-control pl-0" name="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <button type="button" [disabled]="!validBytes" (click)="broadcastMessage(transactionBytes, prunableAttachmentJSON);"
                                            class="btn btn-gradient float-right">
                                            <i class="fa fa-check"></i> {{'common.finish-btn'| translate}}
                                        </button>
                                        <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                                            <i class="fa fa-chevron-left"></i> {{'common.previous-btn'| translate}}
                                        </button>
                                    </div>
                                </aw-wizard-step>
                            </aw-wizard>
                        </div>
                    </div>
                    <div class="row" *ngIf="openBookMarks">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">My Bookmarks</h4>
                                    <h5 class="back-button" (click)="goBack()">
                                        <i class="fa fa-chevron-left"></i> Back
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div class="card-block ml-3 mr-3">
                                        <h5 class="mb-1">Bookmark List</h5>
                                        <app-bookmark-list [viewFor]="'sendmessage'" (selectEvent)="bookmarkSelected($event)"></app-bookmark-list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>