<div class="wrapper gradient-header">
    <div class="app-sidebar" data-active-color="white" data-background-color="white" data-image="assets/images/background-side-menu.png">
        <app-sidebar></app-sidebar>
        <!-- <div class="sidebar-background"></div> -->
    </div>
    <app-navbar></app-navbar>
    <div class="main-panel">
        <div class="main-content">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>