<!-- Sidebar Header starts -->
<div class="sidebar-header" style="padding-bottom: 20px;">
    <div class="logo clearfix">
        <a [routerLink]="['/']" class="logo-text text-center">
            <div class="logo-img">
                <img src="assets/images/logo.png" />
            </div>
            <!--<span class="text align-middle">Infinity</span>-->
        </a>
        <!--<a class="nav-toggle d-none d-sm-none d-md-none d-lg-block" id="sidebarToggle" href="javascript:;">-->
        <!--<i class="ft-toggle-right toggle-icon" data-toggle="expanded"></i>-->
        <!--</a>-->
        <!--<a class="nav-close d-block d-md-block d-lg-none d-xl-none" id="sidebarClose" href="javascript:;">-->
        <!--<i class="ft-x"></i>-->
        <!--</a>-->
    </div>
</div>
<!-- Sidebar Header Ends -->

<!-- Sidebar Content starts -->
<div class="sidebar-content">
    <div class="nav-container">
        <ul class="navigation">
            <li class="wallet-switch" routerLinkActive="active">
                <a [routerLink]="['/dashboard']">
                    <i class="icon-Dashboard"></i>
                    <span class="menu-title">
                        <strong>{{balanceTQT | amountTqt }} {{'common.xin-unit-text'| translate}}</strong>
                    </span>
                </a>
            </li>
            <li class="wallet-switch">
                <a href="javascript:void(0)" (click)="triggerClick()">
                    <i class="icon-wallet"></i>
                    <!-- <span class="menu-title">{{isExpertWallet ? 'common.expert-wallet'| translate : 'common.basic-wallet'| translate}}</span> -->
                    <span class="menu-title" *ngIf="isExpertWallet">{{'common.expert-wallet'| translate}}</span>
                    <span class="menu-title" *ngIf="!isExpertWallet">{{'common.basic-wallet'| translate}}</span>
                </a>
                <ui-switch (change)="switchWallet()" [(ngModel)]="isExpertWallet" size="small"></ui-switch>
            </li>
            <!-- First level menu -->
            <ng-container *ngFor="let menuItem of menuItems;let first = index">
                <ng-container *isAppEnabled="menuItem.appName">
                    <ng-container *isExtensionEnabledView="menuItem.isExtensionView">
                        <li id="{{ 'first_' + first }}" *isExpertView="menuItem.isExpertView" [ngClass]="{'has-sub':menuItem.class == 'has-sub','open' : idArray.indexOf('first_'+first) !== -1}"
                            [routerLinkActive]="menuItem.submenu.length != 0 ? '' : 'active'" [routerLinkActiveOptions]="{exact: false}">
                            <a [routerLink]="menuItem.class === '' ? [menuItem.path] : null" *ngIf="!menuItem.isExternalLink; else externalLinkBlock">
                                <i [ngClass]="[menuItem.icon]"></i>
                                <span class="menu-title">{{'side-menu.'+menuItem.title | translate }}</span>
                                <span *ngIf="menuItem.badge != '' " [ngClass]="[menuItem.badgeClass]">{{menuItem.badge}}</span>
                            </a>
                            <ng-template #externalLinkBlock>
                                <a [href]="[menuItem.path]" target="_blank">
                                    <i [ngClass]="[menuItem.icon]"></i>
                                    <span class="menu-title">{{'side-menu.'+menuItem.title | translate }}</span>
                                    <span *ngIf="menuItem.badge != '' " [ngClass]="[menuItem.badgeClass]">{{menuItem.badge}}</span>
                                </a>
                            </ng-template>
                            <!-- Second level menu -->
                            <ul class="menu-content" *ngIf="menuItem.submenu.length > 0">
                                <li id="{{ 'second_' + second }}" [ngClass]="{'has-sub':menuSubItem.class == 'has-sub','open' : idArray.indexOf('second_'+second) !== -1}"
                                    *ngFor="let menuSubItem of menuItem.submenu;let second = index" [routerLinkActive]="menuSubItem.submenu.length > 0 ? '' : 'active'">
                                    <ng-container *isExpertView="menuSubItem.isExpertView">
                                        <a [routerLink]="menuSubItem.submenu.length > 0 ? null : [menuSubItem.path]"
                                            *ngIf="!menuSubItem.isExternalLink; else externalSubLinkBlock">
                                            <i [ngClass]="[menuSubItem.icon]"></i>
                                            <span class="menu-title">{{'side-menu.'+menuSubItem.title | translate }}</span>
                                            <span *ngIf="menuSubItem.badge != '' " [ngClass]="[menuSubItem.badgeClass]">{{menuSubItem.badge}}</span>
                                        </a>
                                        <ng-template #externalSubLinkBlock>
                                            <a [href]="[menuSubItem.path]">
                                                <i [ngClass]="[menuSubItem.icon]"></i>
                                                <span class="menu-title">{{'side-menu.'+menuSubItem.title | translate
                                                    }}</span>
                                                <span *ngIf="menuSubItem.badge != '' " [ngClass]="[menuSubItem.badgeClass]">{{menuSubItem.badge}}</span>
                                            </a>
                                        </ng-template>
                                        <!-- Third level menu -->
                                        <ul class="menu-content" *ngIf="menuSubItem.submenu.length > 0">
                                            <li id="{{ 'third_' + third }}" *ngFor="let menuSubsubItem of menuSubItem.submenu;let third = index;"
                                                routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
                                                [ngClass]="[menuSubsubItem.class]">
                                                <a [routerLink]="[menuSubsubItem.path]" *ngIf="!menuSubsubItem.isExternalLink; else externalSubSubLinkBlock">
                                                    <i [ngClass]="[menuSubsubItem.icon]"></i>
                                                    <span class="menu-title">{{'side-menu.'+menuSubsubItem.title |
                                                        translate }}</span>
                                                    <span *ngIf="menuSubsubItem.badge != '' " [ngClass]="[menuSubsubItem.badgeClass]">{{menuSubsubItem.badge}}</span>
                                                </a>
                                                <ng-template #externalSubSubLinkBlock>
                                                    <a [href]="[menuSubsubItem.path]">
                                                        <i [ngClass]="[menuSubsubItem.icon]"></i>
                                                        <span class="menu-title">{{'side-menu.'+menuSubsubItem.title |
                                                            translate }}</span>
                                                        <span *ngIf="menuSubsubItem.badge != '' " [ngClass]="[menuSubsubItem.badgeClass]">{{menuSubsubItem.badge}}</span>
                                                    </a>
                                                </ng-template>
                                            </li>
                                        </ul>
                                    </ng-container>
                                </li>
                            </ul>
                        </li>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ul>
    </div>
</div>
<!-- Sidebar Content Ends -->