<section id="wallet-settings">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block main-card-block">

                    <div class="border-bt">
                        <h2 class="main-title">{{ 'swapps.setting.title' | translate}}</h2>
                        <app-breadcrumb></app-breadcrumb>
                    </div>

                    <div class="card-body">
                        <div class="card-block">
                            <div class="board">
                                <form class="editForm" novalidate>
                                    <div>
                                        <div class='row mt-4'>
                                            <div class='col-sm-12'>
                                                <div class="form-group">
                                                    <div class="card-body">
                                                        <div class="card-block row">
                                                            <div *ngFor="let app of swapps" class="apps-wrapper col-sm-6 col-md-4 col-lg-3 text-center">
                                                                <div [class]="app.isEnabled ? 'app-container-left enabled' : 'app-container-left'">
                                                                    <label class="custom-control custom-checkbox" for="{{app.name}}">
                                                                        <input type="checkbox" class="custom-control-input"
                                                                               (change)="onChange()" [(ngModel)]="app.isEnabled"
                                                                               [ngModelOptions]="{standalone: true}" id="{{app.name}}">
                                                                        <i [ngClass]="[app.icon !== ''? app.icon: '']"></i>
                                                                        <div class="custom-control-label">
                                                                            {{'swapps.setting.swappsList.'+app.name+'.name'
                                                                            | translate}}</div>
                                                                    <span class="description">{{'swapps.setting.swappsList.'+app.name+'.desc'
                                                                        | translate}}</span>
                                                                        <div class="custom-control-icon"></div>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
