<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <!-- <h2 class="main-title">{{ view == 'transactionDetail' ? "Transaction" : "Block"}} Details</h2> -->
                    <h2 class="main-title" *ngIf="view == 'transactionDetail'">{{'transaction-details.transaction-details-label'| translate}}</h2>
                    <h2 class="main-title" *ngIf="view !== 'transactionDetail'">{{'transaction-details.block-details-label'| translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                    <h3 class="back-button" (click)="goBack()">
                        <i class="fa fa-chevron-left"></i> {{'common.back-btn'| translate}}
                    </h3>
                </div>

                <div class="card-body mt-4" *ngIf="transaction && view == 'transactionDetail'">
                    <div class="card-block mr-3 ml-3 form-bordered">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> {{'transaction-details.transaction-id-label'| translate}}
                                </div>
                                <h4> {{ transaction.transaction }} </h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> {{'transaction-details.block-id-label'| translate}}
                                </div>
                                <h4> {{ transaction.block }} </h4>
                            </div>
                            <div class="col-md-4">
                                <div class="ucsb"> {{'transaction-details.transaction-time-label'| translate}}
                                </div>
                                <h4> {{ transaction.blockTimestamp|timestamp }} </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> {{'transaction-details.block-height-label'| translate}}
                                </div>
                                <h4> {{ transaction.height }} </h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> {{'transaction-details.confirmations-label'| translate}}
                                </div>
                                <h4 [innerHtml]=" transaction.confirmations | transactionConf "></h4>
                            </div>
                            <div class="col-md-4">
                                <div class="ucsb"> {{'transaction-details.transaction-type-label'| translate}}
                                </div>
                                <h4> {{ transaction.type | transactionTextSubType : transaction.subtype }} </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> {{'transaction-details.token-label'| translate}}
                                </div>
                                <h4> {{ transaction.amountTQT | amountTqt }}
                                    <small> {{'common.xin-unit-text'| translate}}</small>
                                </h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> {{'common.service-fee-label'| translate}}
                                </div>
                                <h4> {{ transaction.feeTQT | amountTqt }}
                                    <small> {{'common.xin-unit-text'| translate}}</small>
                                </h4>
                            </div>
                            <div class="col-md-4">
                                <div class="ucsb"> {{'common.message-label'| translate}}
                                </div>
                                <h4 [innerHtml]=" transaction | hasMessage ">
                                </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> {{'common.sender-label'| translate}}
                                </div>
                                <h4> {{ transaction.senderRS }} </h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> {{'common.recipient-label'| translate}}
                                </div>
                                <h4> {{ transaction.recipientRS }} </h4>
                            </div>
                            <div class="col-md-4">
                                <div class="ucsb"> {{'transaction-details.controlled-label'| translate}}
                                </div>
                                <h4 [innerHtml]=" transaction.phased | isEnabled "></h4>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12 col-lg-12">
                                <ngb-tabset type="tabs" class="nav-auto">
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-key"></i> {{'transaction-details.sender-public-key-tab'|
                                            translate}}
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="form-group">
                                                <div class="position-relative sign_in_inputs">
                                                    <input disabled="true" type="text" value="{{ transaction.senderPublicKey }}"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-hashtag"></i> {{'transaction-details.full-hash-tab'|
                                            translate}}
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="form-group">
                                                <div class="position-relative sign_in_inputs">
                                                    <input disabled="true" type="text" value="{{ transaction.fullHash }}"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-hashtag"></i> {{'transaction-details.signature-hash-tab'|
                                            translate}}
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="form-group">
                                                <div class="position-relative sign_in_inputs">
                                                    <input disabled="true" type="text" value="{{ transaction.signatureHash }}"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-hashtag"></i> {{'transaction-details.signature-tab'|
                                            translate}}
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="form-group">
                                                <div class="position-relative sign_in_inputs">
                                                    <textarea rows="3" disabled="true" type="text" value="{{ transaction.signature }}"
                                                        class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-bookmark-o"></i> {{'transaction-details.attachment-tab'|
                                            translate}}
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="form-group">
                                                <div class="position-relative sign_in_inputs">
                                                    <textarea disabled="true" type="text" rows="3" value="{{ transaction.attachment | json }}"
                                                        class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body" *ngIf="transaction && view == 'blockDetail'">
                    <div class="card-block mr-3 ml-3 form-bordered mt-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> Block ID
                                </div>
                                <h4> {{ transaction.block }} </h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> Previous Block ID
                                </div>
                                <h4> {{ transaction.previousBlock }} </h4>
                            </div>
                            <div class="col-md-4">
                                <div class="ucsb"> Generator
                                </div>
                                <h4><a class="hyperlink" (click)="searchValue(transaction.generatorRS)">{{
                                        transaction.generatorRS }}</a></h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> Payload Length
                                </div>
                                <h4> {{ transaction.payloadLength }} <small>kb.</small> </h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> Base Target
                                </div>
                                <h4>{{ transaction.baseTarget }}</h4>
                            </div>
                            <div class="col-md-4">
                                <div class="ucsb"> Cumulative Difficulty
                                </div>
                                <h4> {{ transaction.cumulativeDifficulty }} </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> Height
                                </div>
                                <h4> {{ transaction.height }} </h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> Date
                                </div>
                                <h4> {{ transaction.timestamp | timestamp }} </h4>
                            </div>
                            <div class="col-md-4">
                                <div class="ucsb"> Total Fee
                                </div>
                                <h4>{{ transaction.totalFeeTQT | amountTqt }}
                                    <small>{{'common.xin-unit-text'| translate}}</small>
                                </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> Total Fee
                                </div>
                                <h4>{{ transaction.totalAmountTQT | amountTqt }}
                                    <small>{{'common.xin-unit-text'| translate}}</small>
                                </h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> Transactions
                                </div>
                                <h4> {{ transaction.numberOfTransactions }} </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <ngb-tabset type="pills">
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-key"></i> Public Key
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="form-group">
                                                <div class="position-relative sign_in_inputs">
                                                    <input disabled="true" type="text" value="{{ transaction.generatorPublicKey }}"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-hashtag"></i> Payload
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="form-group">
                                                <div class="position-relative sign_in_inputs">
                                                    <input disabled="true" type="text" value="{{ transaction.payloadHash }}"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-hashtag"></i> Signature
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="form-group">
                                                <div class="position-relative sign_in_inputs">
                                                    <input disabled="true" type="text" value="{{ transaction.generationSignature }}"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-hashtag"></i> Previous Block
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="form-group">
                                                <div class="position-relative sign_in_inputs">
                                                    <input disabled="true" type="text" value="{{ transaction.previousBlockHash }}"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-bookmark-o"></i> Block Signature
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="form-group">
                                                <div class="position-relative sign_in_inputs">
                                                    <textarea disabled="true" type="text" rows="2" value="{{ transaction.blockSignature }}"
                                                        class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>