<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'voting.create-poll.title' | translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </div>
            <div class="card-body create-poll mt-2 mt-md-4">
                <div class="card-block ml-md-3 mr-md-3">
                    <aw-wizard [navBarLayout]="'large-filled-symbols'">

                        <aw-wizard-step stepTitle="{{'common.details-step'| translate}}" [navigationSymbol]="{ symbol: '1' }" [canExit]="!createPollForm.invalid">
                            <form class="form inner-form mt-4" #createPollForm="ngForm" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{ 'voting.create-poll.voting-model-label' | translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" [ngbPopover]="'voting.create-poll.voting-model-popover' | translate"></i>
                                                </label>
                                                <div class="position-relative">
                                                    <select [(ngModel)]="votingModel" id="votingModel" name="votingModel"
                                                        class="form-control" #model="ngModel" required>
                                                        <option *ngFor="let option of votingOptions" value="{{ option.value }}">{{
                                                            'voting.create-poll.voting-options.'+option.label |
                                                            translate }}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="model?.invalid && (model?.dirty || model?.touched)"
                                                        class="input-error">
                                                        {{ 'voting.create-poll.voting-model-required-validation-error'
                                                        | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" *ngIf=" votingModel==1 ">
                                                <label for="addon-amount">{{'voting.create-poll.minimum-voter-balance-label'
                                                    | translate}}
                                                    <i class="fa fa-question-circle-o ml-1 info-yellow" triggers="mouseenter:mouseleave"
                                                        container="body" placement="top" [ngbPopover]="'voting.create-poll.minimum-voter-balance-popover' | translate"></i>
                                                </label>
                                                <div>
                                                    <div class="input-group m-0 sign_in_inputs row form-border-bottom">
                                                        <div class="col-10 pl-0">
                                                            <input type="number" id="addon-amount" class="pl-0 mb-0 pt-0 pb-0 form-control form-control"
                                                                placeholder="{{'voting.create-poll.minimum-voter-balance-placeholder' | translate}}"
                                                                name="amount" #amount="ngModel" [(ngModel)]="minimumBalance"
                                                                required>
                                                        </div>
                                                        <div class="col-2 text-right pl-0">
                                                            <div class="row input-single-group">
                                                                <div class="col-md-12">
                                                                    <span class="input-group-text text-right">{{'common.xin-unit-text'
                                                                        | translate}}</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)"
                                                        class="input-error">
                                                        {{'voting.create-poll.minimum-voter-balance-required-validation-error'
                                                        | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf=" votingModel==2 ">
                                                <label for="asset">{{'voting.create-poll.asset-id-label' | translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="top" [ngbPopover]="'voting.create-poll.asset-id-popover' | translate"></i>
                                                </label>
                                                <div>
                                                    <input type="text" id="asset" class="form-control" placeholder="{{'voting.create-poll.asset-id-placeholder' | translate}}"
                                                        name="asset" #asset="ngModel" [(ngModel)]="assetId" (input)="getAsset(assetId)"
                                                        required>
                                                    <div *ngIf="(asset?.invalid && (asset?.dirty || asset?.touched)) || assetError != ''"
                                                        class="input-error">
                                                        {{ assetError != ''? assetError :
                                                        'voting.create-poll.asset-id-validation-error' | translate}}

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf=" votingModel==3 ">
                                                <label for="currency">{{'common.currency-ticker-label' | translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="top" [ngbPopover]="'voting.create-poll.currency-ticker-popover' | translate"></i>
                                                </label>
                                                <div>
                                                    <input type="text" id="currency" class="form-control" placeholder="{{'voting.create-poll.currency-ticker-placeholder' | translate}}"
                                                        name="currencyCode" #currencyCode="ngModel" [(ngModel)]="currency"
                                                        (input)="getCurrency(currency)" required>
                                                    <div *ngIf="(currencyCode?.invalid && (currencyCode?.dirty || currencyCode?.touched)) || currencyError !=''"
                                                        class="input-error">
                                                        {{ currencyError != ''? currencyError :
                                                        'voting.create-poll.currency-ticker-validation-error' |
                                                        translate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name"> {{ 'common.name-label' | translate}}
                                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                container="body" placement="right" [ngbPopover]="'voting.create-poll.name-popover' | translate"></i>
                                        </label>
                                        <div>
                                            <input type="text" [(ngModel)]="name" id="name" class="form-control" name="pollName"
                                                #pollName="ngModel" placeholder="{{ 'common.name-label' | translate}}"
                                                maxlength="100" required>
                                            <div *ngIf="pollName?.invalid && (pollName?.dirty || pollName?.touched)"
                                                class="input-error">
                                                <div *ngIf="pollName?.errors.required">
                                                    {{ 'voting.create-poll.name-required-validation' | translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="poll_description"> {{ 'common.description-label' | translate}}
                                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                container="body" placement="right" [ngbPopover]="'voting.create-poll.description-popover' | translate"></i>
                                        </label>
                                        <div class="position-relative">
                                            <textarea id="poll_description" class="form-control" [(ngModel)]="description"
                                                rows="5" name="pollDescription" #pollDescription="ngModel" placeholder="{{ 'common.description-label' | translate}}"
                                                maxlength="1000" required></textarea>
                                            <div *ngIf="pollDescription?.invalid && (pollDescription?.dirty || pollDescription?.touched)"
                                                class="input-error">
                                                {{ 'common.description-required' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="left">
                                    <button type="button" [disabled]="createPollForm.invalid || currencyError || assetError"
                                        class="btn btn-gradient mr-1 mb-0 float-right" awNextStep>
                                        <i class="fa fa-chevron-right"></i> {{ 'common.next-btn' | translate}}
                                    </button>
                                </div>
                            </form>
                        </aw-wizard-step>


                        <aw-wizard-step stepTitle="{{'common.options-step'| translate}}" [navigationSymbol]="{ symbol: '2' }" [canExit]="!createPollForm2.invalid"
                            (stepEnter)="getBlockChainStatus(); validateStepTwo();">
                            <form class="form inner-form mt-4" #createPollForm2="ngForm" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{ 'voting.create-poll.minimum-options' | translate}}
                                                    <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                        container="body" [ngbPopover]="'voting.create-poll.minimum-options-popover' | translate"></i>
                                                </label>
                                                <div>
                                                    <input type="number" id="minOptions" class="form-control"
                                                        placeholder="{{ 'voting.create-poll.minimum-options-placeholder' | translate }}"
                                                        name="minOptions" #minOptions="ngModel" [(ngModel)]="minNumberOfOptions"
                                                        min="1" max="10" (ngModelChange)="validateStepTwo()" required
                                                        minValue="1">
                                                    <div *ngIf="minOptions?.invalid && (minOptions?.dirty || minOptions?.touched)"
                                                        class="input-error">
                                                        <div *ngIf="minOptions?.errors.required">
                                                            {{ 'voting.create-poll.minimum-options-require-validation'
                                                            | translate }}
                                                        </div>
                                                        <div *ngIf="minOptions?.errors.minValue && !minOptions?.errors.required">
                                                            {{ 'voting.create-poll.minimum-options-value-validation' |
                                                            translate }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{ 'voting.create-poll.maximum-options' | translate}}
                                                    <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                        container="body" ngbPopover="{{ 'voting.create-poll.maximum-options-popover' | translate}}"></i>
                                                </label>
                                                <div>
                                                    <input type="number" id="maxOptions" class="form-control"
                                                        placeholder="{{ 'voting.create-poll.maximum-options-placeholder' | translate}}"
                                                        name="maxOptions" #maxOptions="ngModel" [(ngModel)]="maxNumberOfOptions"
                                                        min="1" max="10" (ngModelChange)="validateStepTwo()" required
                                                        minValue="1">
                                                    <div *ngIf="maxOptions?.invalid && (maxOptions?.dirty || maxOptions?.touched)"
                                                        class="input-error">
                                                        <div *ngIf="maxOptions?.errors.required">
                                                            {{ 'voting.create-poll.maximum-options-require-validation'
                                                            | translate}}
                                                        </div>
                                                        <div *ngIf="maxOptions?.errors.minValue && !maxOptions?.errors.required">
                                                            {{ 'voting.create-poll.maximum-options-value-validation' |
                                                            translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>{{ 'voting.create-poll.block-height' | translate}} &nbsp;
                                            <i class="fa fa-question-circle-o ml-1 info-yellow" placement="right"
                                                triggers="mouseenter:mouseleave" container="body" ngbPopover="{{ 'voting.create-poll.block-height-popover' | translate}}"></i>
                                        </label>
                                        <div>
                                            <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-0">
                                                <div class="col-6 col-md-7 pr-0">
                                                    <input type="number" id="finishHeight" class="pt-0 pb-0 form-control pl-0"
                                                        placeholder="1440" name="duration" #duration="ngModel"
                                                        [(ngModel)]="finishHeight" (ngModelChange)="validateStepTwo()"
                                                        required minValue="1440" maxValue="20000">
                                                </div>
                                                <div class="col-6 col-md-5 pr-1 pl-0 text-right">
                                                    <div class="btn-icon-group text-right">
                                                        <button class="btn btn-primary" (click)="min()">
                                                            <i class="fa fa-fast-backward"></i>
                                                        </button>
                                                        <button class="btn btn-primary" (click)="decrement()">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                        <button class="btn btn-primary" (click)="increment()">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <button class="btn btn-primary" (click)="max()">
                                                            <i class="fa fa-fast-forward"></i>
                                                        </button>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div *ngIf="duration?.invalid && (duration?.dirty || duration?.touched)" class="input-error">
                                            <div *ngIf="duration?.errors.required">
                                                {{ 'voting.create-poll.block-height-require-validation' | translate}}
                                            </div>
                                            <div *ngIf="duration?.errors.minValue && !duration?.errors.required">
                                                {{ 'voting.create-poll.block-height-value-validation' | translate}}
                                            </div>
                                            <div *ngIf="duration?.errors.maxValue && !duration?.errors.required">
                                                {{ 'voting.create-poll.block-height-value-validation' | translate}}
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-raised btn-success mb-0" (click)="addNewOption()">
                                        <i class="fa fa-plus"></i> {{ 'voting.create-poll.add-options-poll' |
                                        translate}}
                                    </button>
                                    <!-- <hr *ngIf="pollOptions.length != 0"> -->
                                    <div class="mt-3 row" *ngIf="pollOptions.length != 0">
                                        <div class="col-md-6" *ngFor="let option of pollOptions; let i = index;">
                                            <div class="form-group">
                                                <input type="text" id="{{ 'options'+ i }}" class="form-control" name="{{ 'options'+ i }}"
                                                    placeholder="{{ 'voting.create-poll.add-options-placeholder' | translate}}"
                                                    [(ngModel)]="option.value" (ngModelChange)="validateStepTwo()"
                                                    required>
                                                <div *ngIf="createPollForm2.form.controls['options' + i]?.invalid && (createPollForm2.form.controls['options' + i]?.dirty || createPollForm2.form.controls['options' + i]?.touched)"
                                                    class="input-error">
                                                    {{ 'voting.create-poll.add-options-require-validation' |
                                                    translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-gradient mr-1 mb-2 mb-md-0 float-right"
                                        [disabled]="createPollForm2.invalid" *ngIf="isSecondStepValid" (click)="createPoll()"
                                        awNextStep>
                                        <i class="fa fa-chevron-right"></i> {{'common.next-btn' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-gradient mr-1 mb-2 mb-md-0 float-right"
                                        [disabled]="createPollForm2.invalid" *ngIf="!isSecondStepValid" (click)="createPoll()">
                                        <i class="fa fa-chevron-right"></i> {{'common.next-btn' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                                        <i class="fa fa-chevron-left"></i> {{'common.previous-btn' | translate}}
                                    </button>
                                </div>
                            </form>
                        </aw-wizard-step>
                        <aw-wizard-step stepTitle="{{'common.confirm-step'| translate}}" [navigationSymbol]="{ symbol: '3' }" class="form-bordered mt-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'common.name-label' | translate}}</div>
                                    <h4> {{ name }} </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'common.description-label' | translate}}</div>
                                    <h4> {{ description }} </h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'common.valid-label' | translate}}</div>
                                    <h4 [innerHTML]=" validBytes | txIsValid "></h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'common.service-fee-label' | translate}}</div>
                                    <h4>{{ tx_fee | amountTkn }}
                                        <small> {{'common.xin-unit-text'| translate}}</small>
                                    </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'voting.create-poll.voting-model-label' | translate}}</div>
                                    <h4>{{ votingModel | votingModel }}</h4>
                                </div>
                            </div>

                            <button type="button" [ngClass]="{'btn-success': !signedTx, 'btn-danger': signedTx}" class="btn btn-raised mr-1 mb-0"
                                (click)="signedTx = !signedTx">
                                <i class="fa fa-key"></i> {{ 'common.signed-transaction-label' | translate}}
                            </button>

                            <div class="form-group" *ngIf="signedTx">
                                <div class="position-relative sign_in_inputs">
                                    <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes" class="form-control pl-0"
                                        name="key"></textarea>
                                </div>
                            </div>
                            <div class="mt-4">
                                <button type="button" [disabled]="!validBytes" class="btn btn-gradient float-right"
                                    (click)="broadcastTransaction(transactionBytes)">
                                    <i class="fa fa-check"></i> {{'common.finish-btn' | translate}}
                                </button>
                                <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                                    <i class="fa fa-chevron-left"></i> {{'common.previous-btn' | translate}}
                                </button>
                            </div>
                        </aw-wizard-step>
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>