<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body portfolio">
                <div class="card-block main-card-block">
                    <div class="row">
                        <div class="col-md-12 block-header">
                            <div class="border-bt">
                                <!-- <h2 class="main-title">Dashboard</h2>
                                <h4 class="sub-title">Dashboard</h4>-->
                                <h2 class="main-title">{{'dashboard.title' | translate}}</h2>
                                <h4 class="sub-title">{{'dashboard.sub-title' | translate}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row coin-row">
                        <div class="col-md-12 mlmr-auto custom-lg">
                            <div class="row">
                                <div class="col-md-4 coin">
                                    <div class=" coin-box shadow-bottom">
                                        <div class="float-left mr-2"><img src="assets/images/logo-modal.png"></div>
                                        <div class="text-left">
                                            <p class="valuation-xin"> {{balanceTQT | amountTqt }}
                                                <small>{{'common.xin-unit-text'| translate}}</small>
                                            </p>
                                            <p class="valuation-usd">
                                                <app-fiat [amountTqt]="balanceTQT" [amount]="undefined"></app-fiat>
                                                <small>USD</small>
                                            </p>
                                        </div>
                                        <p class="account-address mt-5">{{accountRs}}</p>
                                    </div>
                                </div>
                                <div class="col-md-8 coin card-right">
                                    <div class="row" matchHeight="card">
                                        <div class="col-6 col-sm-6 col-xl-6 col-lg-6 col-md-6 pr-sm-1 pr-1 pr-md-2">
                                            <div class="card mt-0 mb-2 mb-sm-2 mb-md-4" (click)="navigateTo('/account/send')">
                                                <div class="card-body">
                                                    <div class="">
                                                        <div class="media-box">
                                                            <div class="text-left">
                                                                <i class="card-icon icon-send"></i>
                                                            </div>
                                                            <div class="media-body text-left">
                                                                <span class="card-title">{{'dashboard.send-btn' |
                                                                    translate}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-6 col-xl-6 col-lg-6 col-md-6 pl-sm-1 pl-1 pl-md-2">
                                            <div class="card mt-0 mb-2 mb-sm-2 mb-md-4" (click)="navigateTo('/account/receive-tab')">
                                                <div class="card-body">
                                                    <div class="">
                                                        <div class="media-box">
                                                            <div class="text-left">
                                                                <i class="card-icon icon-receive"></i>
                                                            </div>
                                                            <div class="media-body text-left">
                                                                <span class="card-title">{{'dashboard.receive-btn' |
                                                                    translate}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-6 col-xl-6 col-lg-6 col-md-6 pr-sm-1 pr-1 pr-md-2">
                                            <div class="card mt-0 mb-2 mb-sm-2 mb-md-4" (click)="navigateTo('/account/detail')">
                                                <div class="card-body">
                                                    <div class="">
                                                        <div class="media-box">
                                                            <div class="text-left">
                                                                <i class="card-icon icon-account_info"></i>
                                                            </div>
                                                            <div class="media-body text-left">
                                                                <span class="card-title">{{'dashboard.account-info-btn'|
                                                                    translate}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-6 col-xl-6 col-lg-6 col-md-6 pl-sm-1 pl-1 pl-md-2">
                                            <div class="card mt-0 mb-2 mb-sm-2 mb-md-4" (click)="navigateTo('/account/transactions')">
                                                <div class="card-body">
                                                    <div class="">
                                                        <div class="media-box">
                                                            <div class="text-left">
                                                                <i class="card-icon icon-transactions"></i>
                                                            </div>
                                                            <div class="media-body text-left">
                                                                <span class="card-title">{{'dashboard.transactions-btn'|
                                                                    translate}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header pl-0 pr-0">
                                    <div class="media">
                                        <h4 class="card-title mb-0">{{'dashboard.market-txt'| translate}}</h4>
                                    </div>
                                </div>
                                <div class="card-body pl-0 pr-0">
                                    <div class="card-block pl-0 pr-0">
                                        <div id="chartdiv" [style.width.%]="100" [style.height.px]="500"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>