<div class="row" *ngIf="!openBookMarks">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'account.balance-lease.balance-lease-title'| translate}}</h2>
                    <app-breadcrumb [routeChange]="routeChange"></app-breadcrumb>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                    <aw-wizard [navBarLayout]="'large-filled-symbols'">
                        <aw-wizard-step stepTitle="{{'common.details-step'| translate}}" [navigationSymbol]="{ symbol: '1' }">
                            <form class="form inner-form" #f="ngForm" novalidate>
                                <div class="form-body">
                                    <div class="row mb-2 mb-md-4 mt-4">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{'account.balance-lease.recipient-label'| translate}}
                                                    <i class="fa fa-question-circle-o ml-1 info-yellow" placement="right"
                                                        triggers="mouseenter:mouseleave" container="body" ngbPopover="{{'account.balance-lease.recipient-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                    <div class="col-7 col-lg-8 pl-0 pr-0">
                                                        <input type="text" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                            name="recipientRS" #recipientRS="ngModel" [(ngModel)]="balanceLeaseForm.recipientRS"
                                                            placeholder="{{ 'account.balance-lease.recipient-placeholder' | translate}}"
                                                            required>
                                                    </div>
                                                    <div class="col-5 col-lg-4 pr-1 pl-0">
                                                        <div class="btn-icon-group text-right">

                                                            <span *isAppEnabled="'Aliases'" class="btn btn-primary mlmr-auto"
                                                                (click)="searchAliases()" triggers="mouseenter:mouseleave"
                                                                placement="top" container="body" ngbPopover="{{'common.alias-connect-tooltip'| translate}}">
                                                                <i class="fa fa-share-alt"></i>
                                                            </span>



                                                            <span *isExpertView="true" class="btn btn-primary btn-left"
                                                                triggers="mouseenter:mouseleave" placement="top"
                                                                (click)="loadBookmarkView()" container="body"
                                                                ngbPopover="{{'common.open-bookmark-tooltip'| translate}}">
                                                                <i class="fa fa-bookmark"></i>
                                                            </span>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div *ngIf="recipientRS?.invalid && (recipientRS?.dirty || recipientRS?.touched)"
                                                    class="input-error">
                                                    <div *ngIf="recipientRS?.errors.required">
                                                        {{'common.recipient-required'| translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{'account.balance-lease.block-duration-label'| translate}}
                                                    <i class="fa fa-question-circle-o ml-1 info-yellow" placement="right"
                                                        triggers="mouseenter:mouseleave" container="body" ngbPopover="{{'account.balance-lease.block-duration-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                    <div class="col-4 col-md-6 pl-0 pr-0">
                                                        <input type="number" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                            [(ngModel)]="balanceLeaseForm.period" name="period" #period="ngModel"
                                                            required minValue="1440" maxValue="65535">
                                                    </div>
                                                    <div class="col-8 col-md-6 pr-1 pl-0">
                                                        <div class="btn-icon-group text-right">
                                                            <a class="btn btn-primary" (click)="min()">
                                                                <i class="fa fa-fast-backward"></i>
                                                            </a>
                                                            <a class="btn btn-primary" (click)="decrement()">
                                                                <i class="fa fa-minus"></i>
                                                            </a>
                                                            <a class="btn btn-primary" (click)="increment()">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                            <a class="btn btn-primary" (click)="max()">
                                                                <i class="fa fa-fast-forward"></i>
                                                            </a>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div *ngIf="period?.invalid && (period?.dirty || period?.touched)"
                                                    class="input-error">
                                                    <div *ngIf="period?.errors.required">
                                                        {{'account.balance-lease.duration-required-msg'| translate}}
                                                    </div>
                                                    <div *ngIf="period?.errors.minValue && !period?.errors.required">
                                                        {{'account.balance-lease.duration-greater-or-equal-msg'|
                                                        translate}}
                                                    </div>
                                                    <div *ngIf="period?.errors.maxValue && !period?.errors.required">
                                                        {{'account.balance-lease.duration-less-or-equal-msg'|
                                                        translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" [ngClass]="{'btn-success': !hasPrivateMessage, 'btn-danger': hasPrivateMessage}"
                                        class="btn btn-raised mr-1 mb-0" (click)="hasPrivateMessage=!hasPrivateMessage">
                                        <i class="fa fa-envelope-o"></i> {{ hasPrivateMessage ? 'Remove' : 'Add' }}
                                        {{'common.encrypted-message-btn'| translate}}
                                    </button>
                                    <button type="button" [ngClass]="{'btn-success': !hasReceiverPublicKey, 'btn-danger': hasReceiverPublicKey}"
                                        class="btn btn-raised mb-0" (click)="hasReceiverPublicKey=!hasReceiverPublicKey">
                                        <i class="fa fa-unlock-alt"></i> {{ hasReceiverPublicKey ? 'Remove' : 'Add' }}
                                        {{'common.public-key-btn'| translate}}
                                    </button>
                                    <!--<hr *ngIf="hasPrivateMessage || hasReceiverPublicKey">-->

                                    <div class="form-group mt-3" *ngIf="hasReceiverPublicKey">
                                        <label>{{'account.balance-lease.public-key-field-label'| translate}}
                                            <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                container="body" ngbPopover="{{'account.balance-lease.public-key-field-popover'| translate}}">
                                            </i>
                                        </label>
                                        <div class="position-relative sign_in_inputs">
                                            <input [(ngModel)]="balanceLeaseForm.pubkey" type="text" class="form-control pl-0"
                                                name="publickey" placeholder="{{ 'account.balance-lease.public-key-field-placeholder' | translate}}">
                                        </div>
                                    </div>

                                    <div class="form-group mt-3" *ngIf="hasPrivateMessage">
                                        <label>{{'account.balance-lease.message-field-label'| translate}}
                                            <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                container="body" ngbPopover="{{'account.balance-lease.message-field-popover'| translate}}">
                                            </i>
                                        </label>
                                        <div class="position-relative sign_in_inputs">
                                            <input [(ngModel)]="balanceLeaseForm.message" rows="5" class="form-control pl-0"
                                                name="message" placeholder="{{ 'account.balance-lease.message-field-placeholder' | translate}}">
                                        </div>
                                    </div>

                                    <button type="button" [disabled]="f.invalid" class="btn btn-gradient mr-1 mb-0 float-right"
                                        (click)="getAndVerifyAccount()" awNextStep>
                                        <i class="fa fa-chevron-right"></i>{{'common.next-btn'| translate}}
                                    </button>
                                </div>
                            </form>
                        </aw-wizard-step>
                        <aw-wizard-step stepTitle="{{'common.confirm-step'| translate}}" [navigationSymbol]="{ symbol: '2' }"
                            class="form-bordered mt-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ucsb"> {{'common.recipient-account-label'| translate}}
                                    </div>
                                    <h4> {{balanceLeaseForm.recipientRS}} </h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="ucsb"> {{'common.recipient-name-label'| translate}}
                                    </div>
                                    <h4> {{accountDetails.name | notSet}} </h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ucsb"> {{'common.recipient-balance-label'| translate}}
                                    </div>
                                    <h4> {{accountDetails.balanceTQT | amountTqt}}
                                        <small> {{'common.xin-unit-text'| translate}}</small> </h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="ucsb"> {{'account.balance-lease.duration-lease-label'| translate}}
                                    </div>
                                    <h4> {{balanceLeaseForm.period | notSet}}
                                        <small> Blocks </small>
                                    </h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ucsb"> {{'common.valid-label'| translate}}
                                    </div>
                                    <h4 [innerHTML]="validBytes | txIsValid"></h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="ucsb"> {{'common.service-fee-label'| translate}}
                                    </div>
                                    <h4> {{ tx_fee | amountTkn }}
                                        <small> {{'common.xin-unit-text'| translate}}</small>
                                    </h4>
                                </div>
                            </div>

                            <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}"
                                class="btn btn-raised mr-1 mb-0" (click)="unsignedTx = !unsignedTx">
                                <i class="fa fa-key"></i> {{'common.signed-transaction-label'| translate}}
                            </button>
                            <button type="button" [ngClass]="{'btn-success': !addMessage, 'btn-danger': addMessage}"
                                class="btn btn-raised mb-0" (click)="addMessage=!addMessage">
                                <i class="fa fa-key"></i> {{'common.encrypted-message-label'| translate}}
                            </button>
                            <!-- <hr *ngIf="unsignedTx || addMessage"> -->
                            <div class="form-group mt-3" *ngIf="unsignedTx">
                                <label>{{'common.signed-transaction-label'| translate}}</label>
                                <div class="position-relative sign_in_inputs">
                                    <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes" class="form-control pl-0"
                                        name="key"></textarea>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="addMessage">
                                <label>{{'common.encrypted-message-label'| translate}}</label>
                                <div class="position-relative sign_in_inputs">
                                    <input disabled="true" rows="5" [(ngModel)]="encrypted" class="form-control pl-0"
                                        name="message">
                                </div>
                            </div>
                            <div class="form-actions mt-4">
                                <button type="button" [disabled]="!validBytes" (click)="broadcastTransaction(transactionBytes)"
                                    class="btn btn-gradient float-right">
                                    <i class="fa fa-check"></i> {{'common.finish-btn'| translate}}
                                </button>
                                <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                                    <i class="fa fa-chevron-left"></i> {{'common.previous-btn'| translate}}
                                </button>
                            </div>
                        </aw-wizard-step>
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row" *ngIf="openBookMarks">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">My Bookmarks</h4>
                <h5 class="back-button" (click)="goBack()">
                    <i class="fa fa-chevron-left"></i> Back
                </h5>
            </div>
            <div class="card-body">
                <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                    <h5 class="mb-1">Bookmark List</h5>
                    <app-bookmark-list [viewFor]="'sendxin'" (selectEvent)="bookmarkSelected($event)"></app-bookmark-list>
                </div>
            </div>
        </div>
    </div>
</div> -->