<ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)'>
    <ngx-datatable-column prop="accountRS" [name]="'table-header.account'| translate">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="tags" [name]="'table-header.tag'| translate">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            {{value}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="isSelectView" [name]="'table-header.actions'| translate">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <a class="btn btn-outline-success" (click)="onAction('select', row)" triggers="mouseenter:mouseleave" container="body" placement="top" ngbPopover="{{'account.my-bookmarks.select-popover'| translate}}">
                <i class="fa fa-plus"></i>
            </a>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [name]="'table-header.actions'| translate" *ngIf="!isSelectView">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <a class="btn btn-outline-danger" (click)="onAction('delete', row)" triggers="mouseenter:mouseleave" container="body" placement="top" ngbPopover="{{'account.my-bookmarks.delete-popover'| translate}}">
                <i class="fa fa-close"></i>
            </a>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
