<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'currencies.my-exchanges.title'| translate}} </h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-header">
                    <div class="pull-right filter-group">
                        <div class="btn-group btn-group-justified btn-group-raised">
                            <a href="javascript:void(0)" class="btn btn-sm btn-grey" (click)="reload()" triggers="mouseenter:mouseleave"
                                container="body" placement="top" ngbPopover="{{'common.reload-filter-popover'| translate}}">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block ml-3 mr-3">
                        <ngx-datatable [rows]="rows" [columnMode]="'standard'" [scrollbarH]="true" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' (autoRefresh)="reload()">
                            <ngx-datatable-column prop="timestamp" [name]="'table-header.date'| translate">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    {{value | timestamp}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="code" [name]="'table-header.ticker'| translate">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <a class="hyperlink" (click)="openCurrencyDetails(value)">{{value}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="rateTQT" [name]="'table-header.price'| translate">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    {{value | rateTqtToPrice:row.decimals}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="units" [name]="'table-header.units'| translate">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    {{value | unitsToQuantity:row.decimals}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="sellerRS" [name]="'table-header.seller'| translate">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <a class="hyperlink" (click)="openAccountDetails(value)">{{value}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="buyerRS" [name]="'table-header.buyer'| translate">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <a class="hyperlink" (click)="openAccountDetails(value)">{{value}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="transaction" [name]="'table-header.actions'| translate">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <a class="btn btn-outline-danger" (click)="goToDetails(row.offer)" triggers="mouseenter:mouseleave"
                                        container="body" placement="top" ngbPopover="{{'currencies.my-exchanges.offer-details-popover'| translate}}">
                                        <i class="fa fa-list-ul"></i>
                                    </a>
                                    <a class="btn btn-outline-danger" (click)="goToDetails(value)" triggers="mouseenter:mouseleave"
                                        container="body" placement="top" ngbPopover="{{'common.details-table-action'| translate}}">
                                        <i class="fa fa-list-ul"></i>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>