<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'shuffling.start-shuffling.title'| translate}} </h2>
                    <app-breadcrumb></app-breadcrumb>
                    <h3 class="back-button" (click)="goBack()">
                        <i class="fa fa-chevron-left"></i> {{'common.back-btn'| translate}}
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block ml-3 mr-3">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="alert alert-info">{{'shuffling.start-shuffling.note'| translate}}</p>
                        </div>
                    </div>
                    <form class="form" #f="ngForm" novalidate>
                        <div class="form-body">
                            <div class="form-group">
                                <label>{{'shuffling.start-shuffling.recipient-public-key-label'| translate}} &nbsp;
                                    <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                        container="body" ngbPopover="{{'shuffling.start-shuffling.recipient-public-key-popover'| translate}}"></i>
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" [(ngModel)]="startShuffleForm.recipientPublickey"
                                        name="recipientPublickey" #recipientPublickey="ngModel" required placeholder="{{'shuffling.start-shuffling.public-key-placeholder'| translate}} ">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="button" [disabled]="f.invalid" class="btn btn-primary mr-1 mb-3 float-right"
                                (click)="startShuffle()">
                                <i class="fa fa-play"></i> {{'shuffling.start-shuffling.start-btn'| translate}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>