<section id="options">
    <div class="row mt-2">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card tab-container">
                <div class="card-block main-card-block">
                    <div class="border-bt">
                        <h2 class="main-title">{{ 'swapps.options.title' | translate}}</h2>
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                </div>
                <form class="form inner-form ml-3 mr-3" #f="ngForm" novalidate>
                    <ngb-accordion [activeIds]="activeIds">
                        <ngb-panel id="nodeAndConnections">
                            <ng-template ngbPanelTitle>
                                <h5>
                                    <i class="fa fa-sitemap"></i> {{ 'swapps.options.connection-sub-title' |
                                    translate}}
                                    <!--<span class="pull-right">-->
                                    <!--<i class="fa accordion"></i>-->
                                    <!--</span>-->
                                </h5>
                            </ng-template>
                            <ng-template ngbPanelContent>

                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>{{'swapps.options.connection-mode-label' | translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'swapps.options.connection-mode-popover' | translate}}"></i>
                                                </label>
                                                <div class="position-relative">
                                                    <select name="connectionMode" class="form-control" [(ngModel)]="optionsForm.CONNECTION_MODE"
                                                        id="connectionMode" #mode="ngModel" (change)="updateConnectionMode(connectionMode)"
                                                        required>
                                                        <option *ngFor="let mode of CONNECTION_MODES" value="{{ mode }}">{{
                                                            mode }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>{{'swapps.options.connection-node-label' | translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'swapps.options.connection-node-popover' | translate}}"></i>
                                                </label>
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" placeholder="{{'swapps.options.connection-node-placeholder' | translate}}"
                                                        name="connectToNode" [(ngModel)]="optionsForm.USER_NODE_URL" id="connectToNode"
                                                        [disabled]="optionsForm.CONNECTION_MODE != 'MANUAL'"
                                                        #userNodeUrl="ngModel" required>
                                                </div>
                                                <div *ngIf="userNodeUrl?.invalid && (userNodeUrl?.dirty || userNodeUrl?.touched)"
                                                    class="input-error">
                                                    <div *ngIf="userNodeUrl?.invalid">
                                                        {{'swapps.options.connection-node-validation' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>{{'swapps.options.connected-url-label' | translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'swapps.options.connected-url-popover' | translate}}"></i>
                                                </label>
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" placeholder="{{'swapps.options.connected-url-placeholder' | translate}}"
                                                        name="connectedTo" [(ngModel)]="connectedURL" id="connectTo"
                                                        readonly="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="randomizeNode"
                                                        [(ngModel)]="optionsForm.RANDOMIZE_NODES" id="randomizeNode">
                                                    <label class="custom-control-label" for="randomizeNode">
                                                        {{'swapps.options.random-node-connect-label' | translate}}
                                                        <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                            container="body" placement="right" ngbPopover="{{'swapps.options.random-node-connect-popover' | translate}}"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <!--<ngb-panel id="blocksAndConfirmations">-->
                        <!--<ng-template ngbPanelTitle>-->
                        <!--<h5>-->
                        <!--<i class="fa fa-chain"></i> Blocks and Confirmations-->
                        <!--<span class="pull-right">-->
                        <!--<i class="fa accordion"></i>-->
                        <!--</span>-->
                        <!--</h5>-->
                        <!--</ng-template>-->
                        <!--<ng-template ngbPanelContent>-->

                        <!--<div class="form-body">-->
                        <!--<div class="row">-->
                        <!--<div class="col-md-4">-->
                        <!--<div class="form-group">-->
                        <!--<label>Transaction Deadline-->
                        <!--<i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="The number of blocks until a transaction expires if not included into a block."></i>-->
                        <!--</label>-->
                        <!--<div class="input-group m-0 sign_in_inputs row form-border-bottom pb-0">-->
                        <!--<div class="col-md-9 pl-0">-->
                        <!--<input type="number" class="pl-0 mb-0 pt-0 pb-0 form-control"-->
                        <!--placeholder="Transaction Deadline" name="transactionDeadline"-->
                        <!--[(ngModel)]="optionsForm.DEADLINE"-->
                        <!--#transactionDeadline="ngModel" required minValue="60"-->
                        <!--maxValue="1440">-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                        <!--<div class="row input-single-group">-->
                        <!--<div class="col-md-12">-->
                        <!--<span class="input-group-text text-yellow">BLOCKS</span>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--<div *ngIf="transactionDeadline?.invalid && (transactionDeadline?.dirty || transactionDeadline?.touched)" class="input-error">-->
                        <!--<div *ngIf="transactionDeadline?.errors.required">-->
                        <!--Transaction Deadline is required-->
                        <!--</div>-->
                        <!--<div *ngIf="transactionDeadline?.errors.minValue && !transactionDeadline?.errors.required">-->
                        <!--Transaction Deadline must be greater than equal to 60-->
                        <!--</div>-->
                        <!--<div *ngIf="transactionDeadline?.errors.maxValue && !transactionDeadline?.errors.required">-->
                        <!--Transaction Deadline must be less than equal to 1440-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                        <!--<div class="form-group">-->
                        <!--<label>Control Height Offset-->
                        <!--<i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="Default number of blocks until a controlled transactions not approved expires."></i>-->
                        <!--</label>-->

                        <!--<div class="input-group m-0 sign_in_inputs row form-border-bottom pb-0">-->
                        <!--<div class="col-md-9 pl-0">-->
                        <!--<input type="number" class="pl-0 mb-0 pt-0 pb-0 form-control" placeholder="Control Height Offset" name="controlHeightOffset" [(ngModel)]="optionsForm.TX_HEIGHT"-->
                        <!--#controlHeightOffset="ngModel" required minValue="10" maxValue="20160">-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                        <!--<div class="row input-single-group">-->
                        <!--<div class="col-md-12">-->
                        <!--<span class="input-group-text text-yellow">BLOCKS</span>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--<div *ngIf="controlHeightOffset?.invalid && (controlHeightOffset?.dirty || controlHeightOffset?.touched)" class="input-error">-->
                        <!--<div *ngIf="controlHeightOffset?.errors.required">-->
                        <!--Control Height Offset is required-->
                        <!--</div>-->
                        <!--<div *ngIf="controlHeightOffset?.errors.minValue && !controlHeightOffset?.errors.required">-->
                        <!--Control Height Offset must be greater than equal to 10-->
                        <!--</div>-->
                        <!--<div *ngIf="controlHeightOffset?.errors.maxValue && !controlHeightOffset?.errors.required">-->
                        <!--Control Height Offset must be less than equal to 20160-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</ng-template>-->
                        <!--</ngb-panel>-->
                        <!--<ngb-panel id="wallet">-->
                        <!--<ng-template ngbPanelTitle>-->
                        <!--<h5>-->
                        <!--<i class="fa fa-credit-card"></i> Wallet-->
                        <!--<span class="pull-right">-->
                        <!--<i class="fa accordion"></i>-->
                        <!--</span>-->
                        <!--</h5>-->
                        <!--</ng-template>-->
                        <!--<ng-template ngbPanelContent>-->

                        <!--<div class="form-body">-->
                        <!--<div class="row">-->
                        <!--<div class="col-md-4">-->
                        <!--<div class="form-group">-->
                        <!--<label>Language</label>-->
                        <!--<div class="position-relative">-->
                        <!--<select name="type" name="language" class="form-control" required>-->
                        <!--<option value="en">English</option>-->
                        <!--<option value="gr">German</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                        <!--<div class="form-group">-->
                        <!--<label>Refresh Interval</label>-->
                        <!--<div class="input-group m-0 sign_in_inputs row form-border-bottom pb-0">-->
                        <!--<div class="col-md-9">-->

                        <!--<input type="number" class="pl-0 mb-0 pt-0 pb-0 form-control" placeholder="Refresh Interval" name="refreshInterval" [(ngModel)]="optionsForm.REFRESH_INTERVAL_MILLI_SECONDS"-->
                        <!--#refreshInterval="ngModel" required minValue="30000">-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                        <!--<div class="row input-single-group">-->
                        <!--<div class="col-md-12">-->
                        <!--<span class="input-group-text text-yellow">MS</span>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--<div *ngIf="refreshInterval?.invalid && (refreshInterval?.dirty || refreshInterval?.touched)" class="input-error">-->
                        <!--<div *ngIf="refreshInterval?.errors.required">-->
                        <!--Refresh Interval is required-->
                        <!--</div>-->
                        <!--<div *ngIf="refreshInterval?.errors.minValue && !refreshInterval?.errors.required">-->
                        <!--Refresh Interval must be greater than equal to 30000-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                        <!--<div class="form-group">-->
                        <!--<label> &nbsp;</label>-->
                        <!--<div class="custom-control custom-checkbox">-->
                        <!--<input type="checkbox" class="custom-control-input" [(ngModel)]="optionsForm.AUTO_UPDATE" id="autoRefresh" name="autoRefresh">-->
                        <!--<label class="custom-control-label" for="autoRefresh"> Auto Refresh-->
                        <!--<i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="If deactivated you are still able to refresh using the manual refresh button."></i>-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</ng-template>-->
                        <!--</ngb-panel>-->
                        <!--<ngb-panel id="extensions">-->
                        <!--<ng-template ngbPanelTitle>-->
                        <!--<h5>-->
                        <!--<i class="fa fa-navicon"></i>-->
                        <!--Extensions-->
                        <!--<span class="pull-right">-->
                        <!--<i class="fa accordion"></i>-->
                        <!--</span>-->
                        <!--</h5>-->
                        <!--</ng-template>-->
                        <!--<ng-template ngbPanelContent>-->
                        <!---->
                        <!--<div class="form-body">-->
                        <!--<div class="row">-->
                        <!--<div class="col-md-12">-->
                        <!--<div class="form-group">-->
                        <!--<div class="custom-control custom-checkbox">-->
                        <!--<input type="checkbox" class="custom-control-input" [(ngModel)]="optionsForm.EXTENSIONS" id="enableExtension" name="enableExtension">-->
                        <!--<label class="custom-control-label" for="enableExtension"> Enable Extensions-->
                        <!--<i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="Check to enable extensions."></i>-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</ng-template>-->
                        <!--</ngb-panel>-->
                    </ngb-accordion>
                    <div class="row" matchHeight="card">
                        <div class="col-xl-2 mb-4 mt-3">
                            <div class="card ml-1 mr-1 ml-md-3 mr-md-3 mt-0" [ngClass]="{'disabled':f.invalid}" (click)="validateAndUpdate()">
                                <div class="card-body">



                                    <div class="btn btn-gradient btn-create">
                                        <span>{{ 'common.save-btn' | translate}} <i class="ft ft-check font-medium-5"></i></span>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>