<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block pb-0">
                <div class="border-bt">
                    <h2 class="main-title">{{'navbar.broadcast-transaction'| translate}} </h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body mt-4 mb-4">
                    <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                        <form #f="ngForm" class="form inner-form" name="broadcastTransactionForm" novalidate>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group mb-0">
                                            <label>{{'tool-pages.parse-transaction.transaction-bytes-label'|
                                                translate}}
                                                <i class="fa fa-question-circle-o" container="body" placement="right"
                                                    triggers="mouseenter:mouseleave" ngbPopover="{{'tool-pages.broadcast-transaction.transaction-bytes-popover'| translate}}"></i>
                                            </label>
                                            <div class="position-relative">
                                                <textarea rows="5" type="text" [(ngModel)]="broadcastTransactionForm.bytes"
                                                    placeholder="{{'tool-pages.parse-transaction.transaction-bytes-label'| translate}}"
                                                    class="form-control" name="bytes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--     <hr *ngIf="showTransaction"> -->
                                <div class="row" *ngIf="showTransaction">
                                    <div class="col-md-6">
                                        <div class="form-group m-0">
                                            <label>{{'tool-pages.broadcast-transaction.broadcasted-label'| translate}}
                                            </label>
                                            <h6>
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-0">
                                            <label>{{'tool-pages.broadcast-transaction.transaction-id-label'|
                                                translate}}
                                            </label>
                                            <div>
                                                <h6> {{transaction}} </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="left mb-3">
                                    <button type="button" (click)="broadcastTransaction()" class="btn btn-gradient mr-1 mb-0 float-right">{{'tool-pages.broadcast-transaction.broadcast-btn'|
                                        translate}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>