<div class="card-header">
	<h3 class="card-title">{{'account.funding-monitor.active-tab-title'| translate}}</h3>
	<div class="pull-right filter-group">
		<div class="btn-group btn-group-justified btn-group-raised">
			<a href="javascript:void(0)" class="btn btn-sm btn-grey" (click)="reload()" triggers="mouseenter:mouseleave" container="body" placement="top" ngbPopover="{{'common.reload-filter-popover'| translate}}">
				<i class="fa fa-refresh"></i>
			</a>
		</div>
	</div>
</div>
<div class="card-body">
	<div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
		<ngx-datatable class="material" [rows]="monitors" [rows]="properties" [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50" [externalPaging]="false"
		               [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)'>
			<ngx-datatable-column prop="amount" [name]="'table-header.amount'| translate">
				<ng-template let-value="value" ngx-datatable-cell-template>
					{{value | amountTqt}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="holdingType" [name]="'table-header.type'| translate">
				<ng-template let-value="value" ngx-datatable-cell-template>
					{{value | holdingType}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="threshold" [name]="'table-header.threshold'| translate">
				<ng-template let-value="value" ngx-datatable-cell-template>
					{{value | amountTqt}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="threshold" [name]="'table-header.threshold'| translate">
				<ng-template let-value="value" ngx-datatable-cell-template>
					{{value | amountTqt}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="property" [name]="'table-header.property'| translate">
				<ng-template let-value="value" ngx-datatable-cell-template>
					{{value}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="monitoredAccounts" [name]="'table-header.recipient'| translate">
				<ng-template let-value="value" ngx-datatable-cell-template>
					<div [innerHTML]="value[0]?.accountRS"></div>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="name" [name]="'table-header.action'| translate">
				<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
					<a class="btn btn-outline-danger" triggers="mouseenter:mouseleave" container="body" placement="top" ngbPopover="{{'account.funding-monitor.stop-monitor-popover'| translate}}" (click)="stopFundingMonitor(row)">
						<i class="fa fa-times"></i>
					</a>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>