<section>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block main-card-block">
                    <div class="border-bt">
                        <h2 class="main-title">{{ 'voting.poll-detail.title' | translate}}</h2>
                        <app-breadcrumb></app-breadcrumb>
                        <h3 class="back-button" (click)="goBack()">
                            <i class="fa fa-chevron-left"></i> {{ 'common.back-btn' | translate}}</h3>
                    </div>

                    <div class="card-body mt-4  form-bordered">
                        <div class="card-block mr-3 ml-3 mb-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'common.name-label' | translate}}
                                    </div>
                                    <h4> {{ poll.name }} </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'common.description-label' | translate}}
                                    </div>
                                    <h4> {{ poll.description }} </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'common.options-step' | translate}}
                                    </div>
                                    <h4>
                                        <ul>
                                            <li *ngFor="let option of poll.options">{{ option }}</li>
                                        </ul>
                                    </h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'voting.poll-detail.poll-id' | translate}}
                                    </div>
                                    <h4> {{ poll.poll }} </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'voting.create-poll.voting-model-label' | translate}}
                                    </div>
                                    <h4 [innerHTML]=" poll.votingModel | votingModel "></h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'table-header.finished' | translate}}
                                    </div>
                                    <h4 [innerHTML]=" poll.finished | isEnabled "></h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'common.issuer-label' | translate}}
                                    </div>
                                    <h4> {{ poll.accountRS }} </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'voting.poll-detail.block-height-finished' | translate}}
                                    </div>
                                    <h4> {{ poll.finishHeight }} </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'voting.poll-detail.date-created' | translate}}
                                    </div>
                                    <h4 [innerHTML]=" poll.timestamp | timestamp "></h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'voting.poll-detail.option-model' | translate}}
                                    </div>
                                    <h4> {{ poll.minNumberOfOptions }} from {{ poll.maxNumberOfOptions }} </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'voting.poll-detail.min-balance-model' | translate}}
                                    </div>
                                    <h4 [innerHTML]=" poll.minBalanceModel | votingModel "></h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{ 'voting.poll-detail.min-balance' | translate}}
                                    </div>
                                    <h4>{{poll.minBalance | amountTqt}}
                                        <small> {{'common.xin-unit-text'| translate}}</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>