<section>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block main-card-block">
                    <div class="border-bt">
                        <h2 class="main-title">{{'assets.search-assets.title' | translate}}</h2>
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="card-body mt-4">
                        <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                            <form class="form inner-form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <h3>{{'assets.search-assets.search-label' | translate}}
                                            <i class="fa fa-question-circle-o" aria-hidden="true" triggers="mouseenter:mouseleave"
                                                placement="right" container="body" [ngbPopover]="'assets.search-assets.search-popover' | translate"></i>
                                        </h3>
                                        <div class="position-relative mt-4">
                                            <input type="text" class="form-control input-search pb-2" name="form-control-with-icon"
                                                [(ngModel)]="searchQuery" (input)="onSearchChange($event.target.value)"
                                                placeholder="{{'assets.search-assets.search-placeholder' | translate}}">
                                            <div class="form-control-position btn-search">
                                                <i class="ft-search info mr-2"></i>{{'assets.search-assets.search-button-label'
                                                | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <ngx-datatable class="material" [rows]="assets" [columnMode]="'force'" [rowHeight]="'auto'"
                                [footerHeight]="50">
                                <ngx-datatable-column prop="name" [name]="'table-header.name' | translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="accountRS" [name]="'table-header.issuer' | translate">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <a class="hyperlink" (click)="goToAccountDetails(value)">{{value}}</a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="asset" [name]="'table-header.actions' | translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <div class="btn-group-raised">
                                            <a class="btn btn-grey btn-icon btn-sm" (click)="goToAssetDetails(row.asset)"
                                                triggers="mouseenter:mouseleave" container="body" placement="top"
                                                [ngbPopover]="'common.details-table-action' | translate">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                            <a class="btn btn-grey btn-icon btn-sm" (click)="goToTradeDesk(row.asset)"
                                                triggers="mouseenter:mouseleave" container="body" placement="top"
                                                [ngbPopover]="'common.tradeDesk-table-action' | translate">
                                                <i class="fa fa-bar-chart"></i>
                                            </a>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>