<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'account.block-generation.block-generation-title'| translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="alert alert-info readonly-note">
                                {{'account.block-generation.block-generation-note'| translate}}
                            </p>
                        </div>
                    </div>
                    <div class="row mt-4 form-bordered">
                        <div class="col-md-6">
                            <div class="ucsb">
                                {{'account.block-generation.local-node-available-label'| translate}}
                                <span class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                    container="body" ngbPopover="{{'account.block-generation.local-node-available-popover'| translate}}">
                                </span>
                            </div>
                            <h4>
                                <strong>
                                    <div [innerHtml]="hasLocal|isEnabled" style="margin-top:0px;"></div>
                                </strong>
                            </h4>
                        </div>
                        <div class="col-md-6 form-bordered">
                            <div class="ucsb"> {{'account.block-generation.status-label'| translate}}
                                <span class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                    container="body" ngbPopover="{{'account.block-generation.status-popover'| translate}}"></span>
                            </div>
                            <h4><strong>
                                    <div [innerHtml]="generationStatus"></div>
                                </strong>
                            </h4>
                        </div>
                    </div>

                    <form class="form inner-form">
                        <div class="form-body">
                            <div class="form-group">
                                <label>{{'common.secret-phrase-label'| translate}} &nbsp;
                                    <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                        container="body" ngbPopover="{{'account.block-generation.secret-phrase-popover'| translate}}"></i>
                                </label>
                                <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                    <div class="col-7 col-lg-8 pl-0 pr-0">
                                        <input type="text" class="pl-0 mb-0 pt-0 pb-0 form-control" required
                                            [(ngModel)]="secretPhrase" name="secretPhrase"
                                            placeholder="{{ 'account.block-generation.secret-phrase-placeholder' | translate}}"></div>
                                    <div class="col-5 col-lg-4 pr-1 pl-0 btn-icon-group text-right pr-1">

                                        <button class="btn btn-primary" (click)="runBlockGeneration(0)" [disabled]="(!hasLocal && !hasHttps) || secretPhrase === ''">
                                            <i class="fa fa-plug" placement="top" triggers="mouseenter:mouseleave"
                                                container="body" ngbPopover="{{'account.block-generation.show-status-popover'| translate}}"></i>
                                        </button>
                                        <button class="btn btn-primary" (click)="runBlockGeneration(2)" [disabled]="(!hasLocal && !hasHttps) || secretPhrase === ''">
                                            <i class="fa fa-stop" placement="top" triggers="mouseenter:mouseleave"
                                                container="body" ngbPopover="{{'account.block-generation.stop-popover'| translate}}"></i>
                                        </button>
                                        <button class="btn btn-primary" (click)="runBlockGeneration(1)" [disabled]="(!hasLocal && !hasHttps) || secretPhrase === ''">
                                            <i class="fa fa-play" placement="top" triggers="mouseenter:mouseleave"
                                                container="body" ngbPopover="{{'account.block-generation.start-popover'| translate}}"></i>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
