window.envConfig = {
    RELEASE_VERSION: '${RELEASE_VERSION}',

    NETWORK_ENVIRONMENT: '${NETWORK_ENVIRONMENT}',

    APP_BASE_HREF:      '${NGINX_PATH}' || '${PUBLIC_PATH}',

    NODE_API_URL: 	'${IEP_WALLET_UI_NODE_API_URL}',

    PEER_ENDPOINTS: 		[${IEP_WALLET_UI_PEER_ENDPOINTS_DEFAULT}],

    XIN_ENDPOINT: '${IEP_WALLET_UI_XIN_ENDPOINT}',

    MARKET_DATA_BASE_URL: '${IEP_WALLET_UI_MARKET_DATA_BASE_URL}',

    EXCHANGE_BLOCKR_URL_ENDPOINT: '${IEP_WALLET_UI_EXCHANGE_BLOCKR_URL_ENDPOINT}',

    AT_COMPILER_URL: '${IEP_WALLET_UI_AT_COMPILER_URL}',
    
    SEARCH_PEER_URL: '${IEP_WALLET_UI_SEARCH_PEER_URL}',

    SESSION_STORAGE_EXPIRATION: 60 * 60 * 1000, // 1 hour

    EPOCH: ${IEP_WALLET_UI_EPOCH} || 1484046000,
    TX_HEIGHT: ${IEP_WALLET_UI_TX_HEIGHT} || 7 * 1440,
    LEASING_OFFSET_BLOCK: ${IEP_WALLET_UI_LEASING_OFFSET_BLOCK} || 3000,
}
