<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'assets.trade-desk.asset-detail-title' | translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                    <h3 class="back-button" (click)="goBack()">
                        <i class="fa fa-chevron-left"></i> {{'common.back-btn' | translate}}
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block mr-3 ml-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.name-label' | translate}}
                            </div>
                            <h4> {{assetDetails.name}} </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.description-label' | translate}}
                            </div>
                            <h4> {{assetDetails.description}} </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> {{'assets.trade-desk.issuer' | translate}}
                            </div>
                            <h4>{{assetDetails.accountRS}}</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb"> {{'assets.trade-desk.asset-id' | translate}}
                            </div>
                            <h4>{{assetDetails.asset}}</h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.initial-supply-label' | translate}}
                            </div>
                            <h4> {{assetDetails.initialQuantityQNT |
                                quantityToShare:assetDetails.decimals|numericalString}}</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb"> {{'assets.show.current-supply' | translate}}
                            </div>
                            <h4> {{assetDetails.quantityQNT | quantityToShare:assetDetails.decimals|numericalString}}</h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> {{'assets.trade-desk.decimals' | translate}}Decimals
                            </div>
                            <h4> {{assetDetails.decimals}} </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb"> {{'assets.trade-desk.shareholders' | translate}}
                            </div>
                            <h4> {{assetDetails.numberOfAccounts}} </h4>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> {{'assets.trade-desk.trades' | translate}}
                            </div>
                            <h4> {{assetDetails.numberOfTrades}} </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb"> {{'assets.trade-desk.transfers' | translate}}
                            </div>
                            <h4> {{assetDetails.numberOfTransfers}} </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>