<div class="row">
    <div class="col-12 mb-1">
        <div class="content-header">
            <h3>{{'tools.tools-online-tab'| translate}} </h3>
        </div>
    </div>
</div>
<div class="row tool-boxes mt-4" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12 mb-3" *ngFor="let extension of extensionsOnline">
        <div class="card">
            <div class="card-header">
                <h4><i [class]="extension.icon"></i> {{'tools.extensions-online.'+ extension.title + '.' + 'title' |
                    translate}}</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <p>{{'tools.extensions-online.'+ extension.title + '.' + 'description'| translate}}</p>
                </div>
                <div class="text-center mt-4"><a href="{{ extension?.link }}" target="{{ extension?.target }}"><span
                            class="btn btn-gradient btn-create white">{{'common.show-btn'| translate}}</span></a></div>
            </div>
        </div>
    </div>
</div>