<div class="row" *ngIf="!openBookMarks">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'currencies.transfer-currency.title'| translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                    <h3 class="back-button" (click)="goBack()">
                        <i class="fa fa-chevron-left"></i> {{'common.back-btn'| translate}}
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <div class="card-block mr-3 ml-3">
                        <aw-wizard [navBarLayout]="'large-filled-symbols'">
                            <aw-wizard-step stepTitle="{{'common.details-step'| translate}}" [navigationSymbol]="{ symbol: '1' }">
                                <form #f="ngForm" class="form" novalidate>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group m-0">
                                                <label>{{'common.ticker-label'| translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        placement="right" container="body" ngbPopover="{{'currencies.transfer-currency.ticker-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div>
                                                    <h6> {{transferCurrencyForm.ticker}} </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-0">
                                                <label>{{'common.currency-id-label'| translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        placement="right" container="body" ngbPopover="{{'currencies.transfer-currency.currency-id-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div>
                                                    <h6> {{transferCurrencyForm.currencyId}} </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'common.recipient-label'| translate}}
                                                        <i class="fa fa-question-circle-o" container="body" placement="right"
                                                            triggers="mouseenter:mouseleave" ngbPopover="{{'currencies.transfer-currency.recipient-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend" *isAppEnabled="'Aliases'">
                                                            <span class="btn btn-primary" (click)="searchAliases()"
                                                                triggers="mouseenter:mouseleave" placement="top"
                                                                container="body" ngbPopover="{{'common.alias-connect-tooltip'| translate}}">
                                                                <i class="fa fa-share-alt"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" [(ngModel)]="transferCurrencyForm.recipient"
                                                            name="recipient" class="form-control" #recipient="ngModel"
                                                            required placeholder="{{ 'common.xin-account-key-placeholder' | translate}}">
                                                        <div class="input-group-append" *isExpertView="true">
                                                            <span class="btn btn-primary" triggers="mouseenter:mouseleave"
                                                                placement="top" (click)="loadBookmarkView()" container="body"
                                                                ngbPopover="{{'common.open-bookmark-tooltip'| translate}}">
                                                                <i class="fa fa-address-card"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="recipient?.invalid && (recipient?.dirty || recipient?.touched)"
                                                        class="input-error">
                                                        <div *ngIf="recipient?.errors.required">
                                                            {{'common.recipient-required'| translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'currencies.transfer-currency.units-label'| translate}}
                                                        <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                            container="body" placement="right" ngbPopover="{{'currencies.transfer-currency.units-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <div class="input-group">
                                                        <input type="number" placeholder="0" minValue="0" required
                                                            [(ngModel)]="transferCurrencyForm.units" name="units"
                                                            #units="ngModel" class="form-control">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                {{'common.units-text'| translate}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="units?.invalid && (units?.dirty || units?.touched)"
                                                        class="input-error">
                                                        <div *ngIf="units?.errors.required">
                                                            {{'currencies.transfer-currency.units-required-msg'|
                                                            translate}}
                                                        </div>
                                                        <div *ngIf="units?.errors.minValue && !units?.errors.required">
                                                            {{'currencies.transfer-currency.units-greater-msg'|
                                                            translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions left">
                                            <button [disabled]="f.invalid" (click)="transferCurrency()" type="button"
                                                class="btn btn-primary mr-1 mb-0 float-right" awNextStep>
                                                <i class="fa fa-chevron-right"></i> {{'common.next-btn'| translate}}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </aw-wizard-step>
                            <aw-wizard-step stepTitle="{{'common.confirm-step'| translate}}" [navigationSymbol]="{ symbol: '2' }">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="ucsb"> {{'common.ticker-label'| translate}}
                                        </div>
                                        <h4> {{transferCurrencyForm.ticker}} </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ucsb"> {{'common.currency-id-label'|
                                            translate}}
                                        </div>
                                        <h4> {{transferCurrencyForm.currencyId}} </h4>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="ucsb"> {{'common.recipient-label'| translate}}
                                        </div>
                                        <h4> {{transferCurrencyForm.recipient}} </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ucsb"> {{'currencies.transfer-currency.units-label'| translate}}
                                        </div>
                                        <h4> {{transferCurrencyForm.units}} </h4>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="ucsb"> {{'common.valid-label'| translate}}
                                        </div>
                                        <h4 [innerHTML]="validBytes | txIsValid"> </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ucsb"> {{'common.service-fee-label'| translate}}
                                        </div>
                                        <h4> {{ tx_fee | amountTkn }}
                                            <small> {{'common.xin-unit-text'| translate}}</small>
                                        </h4>
                                    </div>
                                </div>
                                <hr>
                                <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}"
                                    class="btn btn-raised mr-1 mb-0" (click)="unsignedTx = !unsignedTx">
                                    <i class="fa fa-key"></i> {{'common.signed-transaction-label'| translate}}
                                </button>
                                <hr *ngIf="unsignedTx">
                                <div class="form-group" *ngIf="unsignedTx">
                                    <div class="position-relative">
                                        <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes"
                                            class="form-control" name="key"></textarea>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="button" [disabled]="!validBytes" (click)="broadcastTransaction(transactionBytes);"
                                        class="btn btn-primary float-right">
                                        <i class="fa fa-check"></i> {{'common.finish-btn'| translate}}
                                    </button>
                                    <button type="button" class="btn btn-primary mr-1 float-right" awPreviousStep>
                                        <i class="fa fa-chevron-left"></i> {{'common.previous-btn'| translate}}
                                    </button>
                                </div>
                            </aw-wizard-step>
                        </aw-wizard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="openBookMarks">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">My Bookmarks</h4>
                <h5 class="back-button" (click)="goBack()">
                    <i class="fa fa-chevron-left"></i> Back
                </h5>
            </div>
            <div class="card-body">
                <div class="card-block ml-3 mr-3">
                    <h5 class="mb-1">Bookmark List</h5>
                    <app-bookmark-list [viewFor]="'sendmessage'" (selectEvent)="bookmarkSelected($event)"></app-bookmark-list>
                </div>
            </div>
        </div>
    </div>
</div>