<section>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block main-card-block">
                    <div class="border-bt">
                        <h2 class="main-title">{{'crowdfunding.reserve-founders.title'| translate}} </h2>
                        <app-breadcrumb></app-breadcrumb>
                        <h3 class="back-button" (click)="goBack()">
                            <i class="fa fa-chevron-left"></i> {{'common.back-btn'| translate}}
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [rowHeight]="'auto'"
                            [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' (autoRefresh)="reload()">
                            <ngx-datatable-column prop="currency" [name]="'table-header.details'| translate">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <a (click)="goToDetails(value)" class="hyperlink"><u> {{value}} </u></a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="accountRS" [name]="'table-header.account'| translate">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <a (click)="accountDetail(value)" class="hyperlink"><u> {{value}} </u></a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="amountPerUnitTQT" [name]="'table-header.amount-per-unit'| translate">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value | amountTqt}}
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>