<div class="card-header">
    <h3 class="card-title" *ngIf="offerType==='BUY'">{{'currencies.my-open-offers.open-buy-offers-title'| translate}}
    </h3>
    <h3 class="card-title" *ngIf="offerType==='SELL'">{{'currencies.my-open-offers.open-sell-offers-title'| translate}}</h3>
    <div class="pull-right filter-group">
        <div class="btn-group btn-group-justified btn-group-raised">
            <a href="javascript:void(0)" class="btn btn-sm btn-grey btn-icon" (click)="reload()" triggers="mouseenter:mouseleave"
                container="body" placement="top" ngbPopover="{{'common.reload-filter-popover'| translate}}">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="card-block">
        <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50"
            [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)'
            (autoRefresh)="reload()">
            <ngx-datatable-column prop="code" [name]="'table-header.ticker'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <a class="hyperlink" (click)="openCurrencyDetails(value)">{{value}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="rateTQT" [name]="'table-header.price'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value | rateTqtToPrice:row.decimals}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="limit" [name]="'table-header.limit'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value | supply:row.decimals}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="supply" [name]="'table-header.supply'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value | supply:row.decimals}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="expirationHeight" [name]="'table-header.height'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="currency" [name]="'table-header.actions'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div class="btn-group-raised">
                        <a class="btn btn-sm btn-grey btn-icon" (click)="goToDetails(row.offer)" triggers="mouseenter:mouseleave"
                            container="body" placement="top" ngbPopover="{{'common.details-table-action'| translate}}">
                            <i class="fa fa-list-ul"></i>
                        </a>
                        <a class="btn btn-sm btn-grey btn-icon" (click)="openCancelExchangeOffer(value, offerType)"
                            triggers="mouseenter:mouseleave" container="body" placement="top" ngbPopover="{{'common.cancel-table-action'| translate}}">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>