<!-- <div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Create AT</h4>
      </div>
      <div class="card-body">
        <div class="card-block ml-3 mr-3">
          <aw-wizard [navBarLayout]="'large-filled-symbols'">
            <aw-wizard-step stepTitle="Details" [navigationSymbol]="{ symbol: '1' }">
              <form class="form">
                <div class="form-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>NAME</label>
                        <input type="text" class="form-control"  placeholder="Currency Name">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>CODE</label>
                        <div class="input-group">
                          <input type="number" class="form-control" placeholder="Currency Code">
                          <div class="input-group-append">
                            <span class="input-group-text">XIN</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>CURRENCY DESCRIPTION</label>
                        <div class="position-relative">
                          <textarea rows="5" class="form-control" placeholder="Currency Description"></textarea>
                        </div>
                      </div>
                      <div class="form-actions left">
                        <button type="button" class="btn btn-primary mr-1 mb-0 float-right" awNextStep>
                          <i class="fa fa-chevron-right"></i> Next
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Options" [navigationSymbol]="{ symbol: '2' }">
              <form class="form">
                <div class="form-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>CURRENCY TYPE</label>
                        <div class="custom-control custom-control-inline">
                          <input type="checkbox">
                          <label >Exchangeable</label>
                        </div>
                        <div class="custom-control custom-control-inline">
                          <input type="checkbox">
                          <label>Controllable</label>
                        </div>
                        <div class="custom-control custom-control-inline">
                          <input type="checkbox">
                          <label>Reservable</label>
                        </div>
                        <div class="custom-control custom-control-inline">
                          <input type="checkbox">
                          <label>Claimable</label>
                        </div>
                        <div class="custom-control custom-control-inline">
                          <input type="checkbox">
                          <label>Non Shuffleable</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>CURRENCY DECIMALS</label>
                        <div class="input-group">
                          <input type="number" class="form-control" placeholder="Currency Code">
                          <div class="input-group-append">
                            <span class="input-group-text">DIGITS</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>INITIAL SUPPLY </label>
                        <div class="input-group">
                          <input type="number" class="form-control" placeholder="Currency Code">
                          <div class="input-group-append">
                            <span class="input-group-text">UNITS</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>TOTAL SUPPLY</label>
                        <div class="input-group">
                          <input type="number" class="form-control" placeholder="Currency Code">
                          <div class="input-group-append">
                            <span class="input-group-text">UNITS</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions">
                    <button type="button" class="btn btn-primary mr-1 mb-0 float-right" awNextStep>
                      <i class="fa fa-chevron-right"></i> Next
                    </button>
                    <button type="button" class="btn btn-primary mr-1 float-right" awPreviousStep>
                      <i class="fa fa-chevron-left"></i> Previous
                    </button>
                  </div>
                </div>
              </form>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Confirm" [navigationSymbol]="{ symbol: '3' }">
              <div class="row">
                <div class="col-md-4">
                  <div class="ucsb"> NAME
                  </div>
                  <h6> xyz </h6>
                </div>
                <div class="col-md-4">
                  <div class="ucsb"> TICKER
                  </div>
                  <h6 > xyz </h6>
                </div>
                <div class="col-md-4">
                  <div class="ucsb"> DESCRIPTION
                  </div>
                  <h6 > 100 </h6>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-4">
                  <div class="ucsb"> DECIMALS
                  </div>
                  <h6> 0 </h6>
                </div>
                <div class="col-md-4">
                  <div class="ucsb"> INITIAL SUPPLY
                  </div>
                  <h6>12 UNITS</h6>
                </div>
                <div class="col-md-4">
                  <div class="ucsb"> MAX SUPPLY
                  </div>
                  <h6>12 UNITS</h6>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-4">
                  <div class="ucsb"> VALID
                  </div>
                  <h6><i class="fa fa-times"> </i> </h6>
                </div>
                <div class="col-md-4">
                  <div class="ucsb"> SERVICE FEE
                  </div>
                  <h6>0.00 XIN</h6>
                </div>
              </div>
              <hr>
              <button type="button" [ngClass]="{'btn-success': !hasPrivateMessage, 'btn-danger': hasPrivateMessage}" class="btn btn-raised mb-0"
                      (click)="hasPrivateMessage=!hasPrivateMessage">
                <i class="fa fa-key"></i> {{ hasPrivateMessage ? 'Remove' : 'Add' }} Signed Transaction
              </button>
              <hr *ngIf="hasPrivateMessage">

              <div class="form-group" *ngIf="hasPrivateMessage">
                <label>MESSAGE (MAX. 160 CHARS)</label>
                <div class="position-relative">
                  <textarea rows="5" class="form-control" name="notes"></textarea>
                </div>
              </div>
              <hr>
              <div class="form-actions">
                <button type="button" class="btn btn-primary float-right">
                  <i class="fa fa-check"></i> Finish
                </button>
                <button type="button" class="btn btn-primary mr-1 float-right" awPreviousStep>
                  <i class="fa fa-chevron-left"></i> Previous
                </button>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'currencies.issue-currency.title'| translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block ml-3 mr-3">
                    <aw-wizard [navBarLayout]="'large-filled-symbols'">
                        <aw-wizard-step stepTitle="{{'common.details-step'| translate}}" [navigationSymbol]="{ symbol: '1' }">
                            <form class="form inner-form" #f1="ngForm" novalidate>
                                <div class="form-body">
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <div class="form-group ml-0 mr-0">
                                                <label>{{'common.name-label'| translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'currencies.issue-currency.name-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="ml-0 mr-0">
                                                    <input type="text" placeholder="{{'common.name-label'| translate}}"
                                                        class="form-control" [(ngModel)]="issueCurrencyForm.name" name="name"
                                                        #name="ngModel" minlength="3" maxlength="10" required>
                                                    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="input-error">
                                                        <div *ngIf="name?.errors.required">
                                                            {{'currencies.issue-currency.name-required'| translate}}
                                                        </div>
                                                        <div *ngIf="name?.errors.minlength">
                                                            {{'currencies.issue-currency.name-at-least'| translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ml-0 mr-0">
                                                <label>{{'common.code-label'| translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'currencies.issue-currency.code-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="m-0">
                                                    <input type="text" placeholder="{{'common.code-label'| translate}}"
                                                        class="form-control" [(ngModel)]="issueCurrencyForm.code" name="code"
                                                        #code="ngModel" minlength="3" maxlength="6" required>
                                                    <div *ngIf="code?.invalid && (code?.dirty || code?.touched)" class="input-error">
                                                        <div *ngIf="code?.errors.required">
                                                            {{'common.code-required'| translate}}
                                                        </div>
                                                        <div *ngIf="code?.errors.minlength">
                                                            {{'currencies.issue-currency.code-at-least'| translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>{{'common.description-label'| translate}}
                                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                container="body" placement="right" ngbPopover="{{'currencies.issue-currency.description-popover'| translate}}">
                                            </i>
                                        </label>
                                        <div class="position-relative">
                                            <textarea rows="5" placeholder="{{'common.description-label'| translate}}"
                                                class="form-control" [(ngModel)]="issueCurrencyForm.description" name="description"
                                                #description="ngModel" required></textarea>
                                            <div *ngIf="description?.invalid && (description?.dirty || description?.touched)"
                                                class="input-error">
                                                <div *ngIf="description?.errors.required">
                                                    {{'common.description-required'| translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 mb-4 left">
                                    <button type="button" [disabled]="f1.invalid" (click)="getBlockChainStatus()" class="btn btn-gradient mr-1 mb-0 float-right"
                                        awNextStep>
                                        <i class="fa fa-chevron-right"></i> {{'common.next-btn'| translate}}
                                    </button>
                                </div>
                            </form>
                        </aw-wizard-step>
                        <aw-wizard-step stepTitle="{{'common.details-step'| translate}}" [navigationSymbol]="{ symbol: '2' }">
                            <form class="form inner-form" #f2="ngForm" novalidate>
                                <div class="form-body">
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <div class="form-group m-0">
                                                <label>{{'currencies.issue-currency.currency-type-label'| translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'currencies.issue-currency.currency-type-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div *ngFor="let currency of currencyTypes;index as i" class="custom-control custom-control-inline">
                                                    <input type="checkbox" id="option-{{i}}" (change)="onTypesChange(issueCurrencyForm2.types)"
                                                        name="{{currency|currencyModel}}" [(ngModel)]="issueCurrencyForm2.types[currency]">
                                                    <label for="option-{{i}}">{{currency|currencyModel}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-0">
                                                <label>{{'currencies.issue-currency.currency-decimals-label'|
                                                    translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'currencies.issue-currency.currency-decimals-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                    <div class="col-10 col-md-11 pl-0">
                                                        <input type="number" class="form-control" [(ngModel)]="issueCurrencyForm2.decimals"
                                                            name="decimals" #decimals="ngModel" [minValue]="0"
                                                            [maxValue]="4" required>
                                                    </div>
                                                    <div class="col-2 col-md-1">
                                                        <span class="input-group-text">
                                                            {{'common.digits-text'| translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div *ngIf="decimals?.invalid && (decimals?.dirty || decimals?.touched)"
                                                    class="input-error">
                                                    <div *ngIf="decimals?.errors.required">
                                                        {{'currencies.issue-currency.currency-decimals-required'|
                                                        translate}}
                                                    </div>
                                                    <div *ngIf="decimals?.errors.minValue && !decimals?.errors.required">
                                                        {{'currencies.issue-currency.currency-decimals-greater'|
                                                        translate}}
                                                    </div>
                                                    <div *ngIf="decimals?.errors.maxValue && !decimals?.errors.required">
                                                        {{'currencies.issue-currency.currency-decimals-less'|
                                                        translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group m-0">
                                                <label>{{'common.initial-supply-label'| translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'currencies.issue-currency.initial-supply-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                    <div class="col-10 col-md-11 pl-0">

                                                        <input type="number" placeholder="0" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                            (input)="onInitialSupplyChange()" [(ngModel)]="issueCurrencyForm2.initialSupply"
                                                            name="initialSupply" #initialSupply="ngModel" [minValue]="1"
                                                            required>
                                                    </div>
                                                    <div class="col-2 col-md-1">
                                                        <span class="input-group-text">
                                                            {{'common.units-text'| translate}}
                                                        </span>
                                                    </div>


                                                </div>
                                                <div *ngIf="initialSupply?.invalid && (initialSupply?.dirty || initialSupply?.touched)"
                                                    class="input-error">
                                                    <div *ngIf="initialSupply?.errors.required">
                                                        {{'common.initial-supply-required'| translate}}
                                                    </div>
                                                    <div *ngIf="initialSupply?.errors.minValue && !initialSupply?.errors.required">
                                                        {{'currencies.issue-currency.initial-supply-greater'|
                                                        translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-0">
                                                <label>{{'currencies.issue-currency.total-supply-label'| translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'currencies.issue-currency.total-supply-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                    <div class="col-10 col-md-11 pl-0">
                                                        <input type="number" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                            [attr.disabled]="true" [(ngModel)]="issueCurrencyForm2.maxSupply"
                                                            name="maxSupply" #maxSupply="ngModel" [minValue]="1"
                                                            required>
                                                    </div>
                                                    <div class="col-2 col-md-1">
                                                        <span class="input-group-text">
                                                            {{'common.units-text'| translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div [hidden]="!reservable" class="row">
                                        <div class="col-md-6">
                                            <div class="form-group m-0">
                                                <label>{{'currencies.issue-currency.min-amount-per-unit-label'|
                                                    translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'currencies.issue-currency.min-amount-per-unit-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                    <div class="col-10 col-md-11 pl-0">
                                                        <input type="number" class="pl-0 mb-0 pt-0 pb-0 form-contro"
                                                            [(ngModel)]="issueCurrencyForm2.minAmount" name="minAmount">
                                                    </div>
                                                    <div class="col-2 col-md-1">
                                                        <span class="input-group-text">
                                                            {{'common.xin-unit-text'| translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-0">
                                                <label>{{'currencies.issue-currency.reserve-supply-label'| translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'currencies.issue-currency.reserve-supply-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                    <div class="col-10 col-md-11 pl-0">
                                                        <input type="number" class="form-control" [(ngModel)]="issueCurrencyForm2.reserveSupply"
                                                            name="reserveSupply">
                                                    </div>
                                                    <div class="col-2 col-md-1">
                                                        <span class="input-group-text">
                                                            {{'common.units-text'| translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-0">
                                                <label>{{'currencies.issue-currency.activation-height-label'|
                                                    translate}}
                                                    <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                        container="body" placement="right" ngbPopover="{{'currencies.issue-currency.activation-height-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                    <div class="col-10 col-md-11 pl-0">
                                                        <input type="number" class="form-control" [(ngModel)]="issueCurrencyForm2.activHeight"
                                                            name="activHeight">
                                                    </div>
                                                    <div class="col-2 col-md-1">
                                                        <span class="input-group-text">
                                                            @{{'common.block-text'| translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 mb-4">
                                    <button type="button" [disabled]="f2.invalid" class="btn btn-gradient mr-1 mb-0 float-right"
                                        (click)="issueCurrency()" awNextStep>
                                        <i class="fa fa-chevron-right"></i> {{'common.next-btn'| translate}}
                                    </button>
                                    <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                                        <i class="fa fa-chevron-left"></i> {{'common.previous-btn'| translate}}
                                    </button>
                                </div>
                            </form>
                        </aw-wizard-step>
                        <aw-wizard-step stepTitle="{{'common.confirm-step'| translate}}" [navigationSymbol]="{ symbol: '3' }"
                            class="form-bordered mt-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ucsb"> {{'common.name-label'| translate}}
                                    </div>
                                    <h4> {{issueCurrencyForm.name}} </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{'common.ticker-label'| translate}}
                                    </div>
                                    <h4> {{issueCurrencyForm.code}} </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{'common.description-label'| translate}}
                                    </div>
                                    <h4> {{issueCurrencyForm.description}} </h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ucsb"> {{'currencies.issue-currency.decimals-label'| translate}}
                                    </div>
                                    <h4> {{issueCurrencyForm2.decimals}}
                                        <small> {{'common.units-text'| translate}} </small>
                                    </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{'common.initial-supply-label'| translate}}
                                    </div>
                                    <h4> {{issueCurrencyForm2.initialSupply}}
                                        <small> {{'common.units-text'| translate}} </small>
                                    </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{'currencies.issue-currency.max-supply-label'| translate}}
                                    </div>
                                    <h4> {{issueCurrencyForm2.maxSupply}} </h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ucsb"> {{'common.valid-label'| translate}}
                                    </div>
                                    <h4 [innerHTML]="validBytes | txIsValid"> </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="ucsb"> {{'common.service-fee-label'| translate}}
                                    </div>
                                    <h4> {{ tx_fee | amountTkn }}
                                        <small> {{'common.xin-unit-text'| translate}}</small>
                                    </h4>
                                </div>
                            </div>

                            <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}"
                                class="btn btn-raised mr-1 mb-0" (click)="unsignedTx = !unsignedTx">
                                <i class="fa fa-key"></i> {{'common.signed-transaction-label'| translate}}
                            </button>
                            <!--   <hr *ngIf="unsignedTx"> -->
                            <div class="form-group" *ngIf="unsignedTx">
                                <div class="position-relative sign_in_inputs">
                                    <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes" class="form-control"
                                        name="key"></textarea>
                                </div>
                            </div>
                            <div class="mt-4">
                                <button type="button" [disabled]="!validBytes" class="btn btn-gradient float-right"
                                    (click)="broadcastTransaction(transactionBytes)">
                                    <i class="fa fa-check"></i> {{'common.finish-btn'| translate}}
                                </button>
                                <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                                    <i class="fa fa-chevron-left"></i> {{'common.previous-btn'| translate}}
                                </button>
                            </div>
                        </aw-wizard-step>
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>