<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'at.at-details.title'| translate}} </h2>
                    <app-breadcrumb></app-breadcrumb>
                    <h3 class="back-button" (click)="goBack()">
                        <i class="fa fa-chevron-left"></i> {{'common.back-btn'| translate}}
                    </h3>
                </div>

                <div class="card-body" *ngIf="atDetails">
                    <div class="card-block mr-3 ml-3 form-bordered mt-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> {{'common.name-label'| translate}}
                                </div>
                                <h4> {{atDetails.name}} </h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> {{'common.description-label'| translate}}
                                </div>
                                <h4> {{atDetails.description}} </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> {{'common.issuer-label'| translate}}
                                </div>
                                <h4>
                                    <a class="hyperlink" (click)="goToAccountDetails(atDetails.creatorRS)">{{atDetails.creatorRS}}</a>
                                </h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> {{'at.at-details.at-id-label'| translate}}
                                </div>
                                <h4>{{atDetails.at}} </h4>
                            </div>
                            <div class="col-md-4">
                                <div class="ucsb"> {{'at.at-details.at-balance-label'| translate}}
                                </div>
                                <h4> {{atDetails.balanceTQT|amountTqt}} <small> {{'common.xin-unit-text'| translate}}
                                    </small> </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> {{'at.at-details.creation-block-label'| translate}}
                                </div>
                                <h4> {{atDetails.creationBlock}} </h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> {{'at.at-details.next-block-label'| translate}}
                                </div>
                                <h4> {{atDetails.nextBlock}} </h4>
                            </div>
                            <div class="col-md-4">
                                <div class="ucsb"> {{'at.at-details.prev-balance-label'| translate}}
                                </div>
                                <h4> {{atDetails.prevBalanceTQT|amountTqt}} <small> {{'common.xin-unit-text'|
                                        translate}} </small> </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> {{'at.at-details.finished-label'| translate}}
                                </div>
                                <h4 [innerHtml]="atDetails.finished|txIsValid"></h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> {{'at.at-details.frozen-label'| translate}}
                                </div>
                                <h4 [innerHtml]="atDetails.frozen|txIsValid"></h4>
                            </div>
                            <div class="col-md-4">
                                <div class="ucsb"> {{'at.at-details.running-label'| translate}}
                                </div>
                                <h4 [innerHtml]="atDetails.running|txIsValid"></h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="ucsb"> {{'at.at-details.stopped-label'| translate}}
                                </div>
                                <h4 [innerHtml]="atDetails.stopped|txIsValid"></h4>
                            </div>

                            <div class="col-md-4">
                                <div class="ucsb"> {{'at.at-details.dead-label'| translate}}
                                </div>
                                <h4 [innerHtml]="atDetails.dead|txIsValid"></h4>
                            </div>
                            <div class="col-md-4">
                                <div class="ucsb"> {{'at.at-details.version-label'| translate}}
                                </div>
                                <h4 [innerHtml]="atDetails.atVersion"></h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-block mr-3 ml-3">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <ngb-tabset type="tabs" class="nav-auto">
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-code"></i> {{'at.at-details.machine-code-tab'| translate}}
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <h4> {{atDetails.machineCode}} </h4>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="fa fa-code"></i> {{'at.at-details.machine-data-tab'| translate}}
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <p> {{atDetails.machineData}} </p>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>