<div class="card-header">
    <h3 class="card-title">{{'account.properties.'+ propertyTitle | translate}}</h3>
    <div class="pull-right filter-group" *ngIf="propertyType==='MY' || propertyType==='ALL'">
        <div class="btn-group btn-group-justified btn-group-raised">
            <a href="javascript:void(0)" class="btn btn-sm btn-grey btn-icon" (click)="reload()" triggers="mouseenter:mouseleave"
                container="body" placement="top" ngbPopover="{{'common.reload-filter-popover'| translate}}">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3" *ngIf="propertyType==='SET'">
        <aw-wizard [navBarLayout]="'large-filled-symbols'" *ngIf="!openBookMarks">
            <aw-wizard-step stepTitle="{{'common.details-step'| translate}}" [navigationSymbol]="{ symbol: '1' }">
                <form class="form inner-form" #f="ngForm" novalidate>
                    <div class="form-body">
                        <div class="form-group">
                            <label>{{'common.recipient-label'| translate}}
                                <i class="fa fa-question-circle-o" aria-hidden="true" triggers="mouseenter:mouseleave"
                                    placement="right" container="body" ngbPopover="{{'account.properties.recipient-label-popover'| translate}}">
                                </i>
                            </label>
                            <div class="input-group ml-0 mr-0 sign_in_inputs row form-border-bottom pb-1">
                                <div class="col-6 col-lg-8 pl-0 pr-0">
                                    <input type="text" class="pl-0 mb-0 pt-0 pb-0 form-control" placeholder="{{'common.xin-account-key-placeholder' | translate}}"
                                        name="recipientRS" #recipientRS="ngModel" [(ngModel)]="setAccountPropertyForm.recipientRS"
                                        required>
                                </div>
                                <div class="col-6 col-lg-4 pr-1 pl-0 btn-icon-group text-right pr-1">
                                    <span class="btn btn-primary" triggers="mouseenter:mouseleave" placement="top"
                                        container="body" (click)="setAccount()" ngbPopover="{{'account.properties.won-property-popover'| translate}}">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span class="btn btn-primary" (click)="searchAliases()" triggers="mouseenter:mouseleave"
                                        placement="top" container="body" ngbPopover="{{'common.alias-connect-tooltip'| translate}}">
                                        <i class="fa fa-share-alt"></i>
                                    </span>
                                    <span class="btn btn-primary" triggers="mouseenter:mouseleave" placement="top"
                                        (click)="loadBookmarkView()" container="body" ngbPopover="{{'common.open-bookmark-tooltip'| translate}}">
                                        <i class="fa fa-bookmark"></i>
                                    </span>
                                </div>

                            </div>
                            <div *ngIf="recipientRS?.invalid && (recipientRS?.dirty || recipientRS?.touched)" class="input-error">
                                <div *ngIf="recipientRS?.errors.required">
                                    {{'common.recipient-required'| translate}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="timesheetinput1">{{'account.properties.property-key-label'| translate}}
                                        <i class="fa fa-question-circle-o" aria-hidden="true" triggers="mouseenter:mouseleave"
                                            placement="right" container="body" ngbPopover="{{'account.properties.property-key-popover'| translate}}">
                                        </i>
                                    </label>
                                    <div class="position-relative">
                                        <input type="text" id="timesheetinput1" class="form-control" placeholder="{{'account.properties.property-key-placeholder'| translate}}"
                                            name="key" #key="ngModel" [(ngModel)]="setAccountPropertyForm.key" required>
                                    </div>
                                    <div *ngIf="key?.invalid && (key?.dirty || key?.touched)" class="input-error">
                                        <div *ngIf="key?.errors.required">
                                            {{'account.properties.property-key-required-msg'| translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="timesheetinput1">{{'account.properties.property-value-label'|
                                        translate}}
                                        <i class="fa fa-question-circle-o" aria-hidden="true" triggers="mouseenter:mouseleave"
                                            placement="right" container="body" ngbPopover="{{'account.properties.property-value-popover'| translate}}">
                                        </i>
                                    </label>
                                    <div class="position-relative">
                                        <input type="text" id="timesheetinput1" class="form-control" placeholder="{{'account.properties.property-value-placeholder'| translate}}"
                                            name="value" #value="ngModel" [(ngModel)]="setAccountPropertyForm.value"
                                            required>
                                    </div>
                                    <div *ngIf="value?.invalid && (value?.dirty || value?.touched)" class="input-error">
                                        <div *ngIf="value?.errors.required">
                                            {{'account.properties.property-value-required-msg'| translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="left">
                        <button type="button" class="btn btn-gradient mr-1 mb-0 float-right" (click)="setAccountProperty()"
                            [disabled]="f.invalid" awNextStep>
                            <i class="fa fa-chevron-right"></i>{{'common.next-btn'| translate}}
                        </button>
                    </div>
                </form>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="{{'common.confirm-step'| translate}}" [navigationSymbol]="{ symbol: '2' }" class="form-bordered">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ucsb"> {{'account.properties.account-label'| translate}}
                        </div>
                        <h4> {{setAccountPropertyForm.recipientRS}} </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="ucsb"> {{'account.properties.property-key-label'| translate}}
                        </div>
                        <h4> {{setAccountPropertyForm.key}} </h4>
                    </div>
                    <div class="col-md-6">
                        <div class="ucsb"> {{'account.properties.property-value-label'| translate}}
                        </div>
                        <h4> {{setAccountPropertyForm.value}} </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="ucsb"> {{'common.valid-label'| translate}}
                        </div>
                        <h4 [innerHTML]="validBytes | txIsValid"></h4>
                    </div>
                    <div class="col-md-6">
                        <div class="ucsb"> {{'common.service-fee-label'| translate}}
                        </div>
                        <h4> {{ tx_fee | amountTkn }}
                            <small> {{'common.xin-unit-text'| translate}}</small>
                        </h4>
                    </div>
                </div>

                <div class="mt-4">
                    <button type="button" class="btn btn-gradient float-right" (click)="broadcastTransaction(transactionBytes)">
                        <i class="fa fa-check"></i> {{'common.finish-btn'| translate}}
                    </button>
                    <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                        <i class="fa fa-chevron-left"></i> {{'common.previous-btn'| translate}}
                    </button>
                </div>
            </aw-wizard-step>
        </aw-wizard>
        <div class="row" *ngIf="openBookMarks">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">My Bookmarks</h4>
                        <h5 class="back-button" (click)="goBack()">
                            <i class="fa fa-chevron-left"></i> Back
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                            <h5 class="mb-1">Bookmark List</h5>
                            <app-bookmark-list [viewFor]="'sendxin'" (selectEvent)="bookmarkSelected($event)"></app-bookmark-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3" *ngIf="propertyType==='MY'|| propertyType==='ALL'">
        <ngx-datatable class="material" [rows]="properties" [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50"
            [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)'>
            <ngx-datatable-column prop="setterRS" [name]="'table-header.setter'| translate" *ngIf="propertyType ==='MY'">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <a class="hyperlink" (click)="goToAccountDetails(value)">{{value}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="recipientRS" [name]="'table-header.recipient'| translate" *ngIf="propertyType ==='ALL'">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <a class="hyperlink" (click)="goToAccountDetails(value)">{{value}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="property" [name]="'table-header.key'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="value" [name]="'table-header.value'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="setterRS" [name]="'table-header.action'| translate" *ngIf="propertyType ==='MY'">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <a class="btn btn-outline-danger" (click)="goToDeleteProperty(value, row.property, mode)" triggers="mouseenter:mouseleave"
                        container="body" placement="top" ngbPopover="{{'account.properties.delete-property-popover'| translate}}">
                        <i class="fa fa-times"></i>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="recipientRS" [name]="'table-header.action'| translate" *ngIf="propertyType ==='ALL'">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <a class="btn btn-outline-danger" (click)="goToDeleteProperty(value, row.property, mode)" triggers="mouseenter:mouseleave"
                        container="body" placement="top" ngbPopover="{{'account.properties.delete-property-popover'| translate}}">
                        <i class="fa fa-times"></i>
                    </a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

    </div>
</div>