<div class="row" *ngIf="!openBookMarks">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'escrow.create-escrow.title'| translate}} </h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body mt-4">
                    <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                        <aw-wizard [navBarLayout]="'large-filled-symbols'">
                            <aw-wizard-step stepTitle="{{'common.details-step'| translate}} " [navigationSymbol]="{ symbol: '1' }">
                                <form class="form inner-form" #f="ngForm" novalidate>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>{{'common.recipient-label'| translate}}
                                                        <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                            placement="right" container="body" ngbPopover="{{'escrow.create-escrow.recipient-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <div class="input-group ml-0 mr-0 sign_in_inputs row form-border-bottom pb-1">
                                                        <div class="col-7 col-lg-8 pl-0 ">
                                                            <input type="text" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                                placeholder="{{'common.xin-account-key-placeholder'| translate}}"
                                                                [(ngModel)]="escrowForm.recipientRS" name="recipientRS"
                                                                #recipientRS="ngModel" required>
                                                        </div>
                                                        <div class="col-5 col-lg-4 pr-1 pl-0">
                                                            <div class="btn-icon-group text-right">
                                                                <span class="btn btn-primary" *isAppEnabled="'Aliases'"
                                                                    (click)="searchAliases()" triggers="mouseenter:mouseleave"
                                                                    placement="top" container="body" ngbPopover="{{'common.alias-connect-tooltip'| translate}}">
                                                                    <i class="fa fa-share-alt"></i>
                                                                </span>
                                                                <span class="btn btn-primary" *isExpertView="true"
                                                                    triggers="mouseenter:mouseleave" placement="top"
                                                                    (click)="loadBookmarkView()" container="body"
                                                                    ngbPopover="{{'common.open-bookmark-tooltip'| translate}}">
                                                                    <i class="fa fa-bookmark"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="recipientRS?.invalid && (recipientRS?.dirty || recipientRS?.touched)"
                                                        class="input-error">
                                                        <div *ngIf="recipientRS?.errors.required">
                                                            {{'common.recipient-required'| translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>{{'common.amount-label'| translate}}
                                                        <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                            placement="right" container="body" ngbPopover="{{'escrow.create-escrow.amount-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <div class="input-group  ml-0 mr-0 sign_in_inputs row form-border-bottom pb-1">
                                                        <div class="col-10 pl-0">

                                                            <input type="number" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                                [(ngModel)]="escrowForm.amount" name="amount" #amount="ngModel"
                                                                required minValue="1">
                                                        </div>
                                                        <div class="col-2 text-right pl-0">
                                                            <span class="input-group-text">{{'common.xin-unit-text'|
                                                                translate}} </span>
                                                        </div>


                                                    </div>
                                                    <div *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)"
                                                        class="input-error">
                                                        <div *ngIf="amount?.errors.required">
                                                            {{'common.amount-required'| translate}}
                                                        </div>
                                                        <div *ngIf="amount?.errors.minValue && !amount?.errors.required">
                                                            {{'common.amount-greater'| translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>{{'escrow.create-escrow.days-until-expiration-label'|
                                                        translate}}
                                                        <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                            placement="right" container="body" ngbPopover="{{'escrow.create-escrow.days-until-expiration-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <div class="input-group m-0 sign_in_inputs row form-border-bottom">
                                                        <div class="col-4 col-md-2 pr-0">
                                                            <span class="input-group-text">{{days}}
                                                                {{'common.days-text'| translate}} </span>
                                                        </div>
                                                        <div class="col-4 col-lg-6 pl-0 pr-0">
                                                            <input type="number" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                                placeholder="" [(ngModel)]="escrowForm.escrowDeadline"
                                                                name="escrowDeadline" #escrowDeadline="ngModel"
                                                                required minValue="1">
                                                        </div>
                                                        <div class="col-4 col-lg-4 pr-1 pl-0">
                                                            <div class="btn-icon-group text-right">
                                                                <span (click)="decrement()">
                                                                    <a class="btn btn-primary">
                                                                        <i class="fa fa-minus"></i>
                                                                    </a>
                                                                </span>
                                                                <span (click)="increment()">
                                                                    <a class="btn btn-primary">
                                                                        <i class="fa fa-plus"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>




                                                    </div>
                                                    <div *ngIf="escrowDeadline?.invalid && (escrowDeadline?.dirty || escrowDeadline?.touched)"
                                                        class="input-error">
                                                        <div *ngIf="escrowDeadline?.errors.required">
                                                            {{'escrow.create-escrow.days-required'| translate}}
                                                        </div>
                                                        <div *ngIf="escrowDeadline?.errors.minValue && !escrowDeadline?.errors.required">
                                                            {{'escrow.create-escrow.days-greater'| translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group m-0">
                                                    <label>{{'escrow.create-escrow.decision-model-label'| translate}}
                                                        <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                            placement="right" container="body" ngbPopover="{{'escrow.create-escrow.decision-model-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <select name="type" value="release" class="form-control"
                                                        [(ngModel)]="escrowForm.deadlineAction" required>
                                                        <option *ngFor='let deadline of deadlineActionOptions' [value]="deadline.value">
                                                            {{'escrow.create-escrow.deadlines.'+ deadline.label |
                                                            translate}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group m-0">
                                                    <label>{{'escrow.create-escrow.number-signers-label'| translate}}
                                                        <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                            placement="right" container="body" ngbPopover="{{'escrow.create-escrow.number-signers-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <input type="number" class="form-control" placeholder=""
                                                        [(ngModel)]="escrowForm.requiredSigners" name="requiredSigners"
                                                        #requiredSigners="ngModel" required minValue="1">
                                                    <div *ngIf="requiredSigners?.invalid && (requiredSigners?.dirty || requiredSigners?.touched)"
                                                        class="input-error">
                                                        <div *ngIf="requiredSigners?.errors.required">
                                                            {{'escrow.create-escrow.signers-required'| translate}}
                                                        </div>
                                                        <div *ngIf="requiredSigners?.errors.minValue && !requiredSigners?.errors.required">
                                                            {{'escrow.create-escrow.signers-greater'| translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group m-0">
                                                    <label>{{'escrow.create-escrow.signers-label'| translate}}
                                                        <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                            placement="right" container="body" ngbPopover="{{'escrow.create-escrow.signers-popover'| translate}}">
                                                        </i>
                                                    </label>
                                                    <div class="position-relative sign_in_inputs">
                                                        <textarea rows="5" class="form-control pl-0" placeholder="{{'escrow.create-escrow.signers-placeholder'| translate}}"
                                                            [(ngModel)]="escrowForm.signers" name="signers" #signers="ngModel"
                                                            required></textarea>
                                                    </div>
                                                    <div *ngIf="signers?.invalid && (signers?.dirty || signers?.touched)"
                                                        class="input-error">
                                                        <div *ngIf="signers?.errors.required">
                                                            {{'escrow.create-escrow.signers-required'| translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="left">
                                                    <button [disabled]="f.invalid" type="button" class="btn btn-gradient mr-1 mb-0 float-right"
                                                        (click)="createEscrow()" awNextStep>
                                                        <i class="fa fa-chevron-right"></i> {{'common.next-btn'|
                                                        translate}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </aw-wizard-step>

                            <aw-wizard-step stepTitle="{{'common.confirm-step'| translate}}" [navigationSymbol]="{ symbol: '2' }" class="form-bordered mt-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="ucsb"> {{'common.recipient-account-label'| translate}}
                                        </div>
                                        <h4> {{escrowForm.recipientRS}} </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ucsb"> {{'escrow.create-escrow.amount-or-deadline-label'|
                                            translate}}
                                        </div>
                                        <h4> {{escrowForm.amount}} <small>{{'common.xin-unit-text'| translate}} </small>
                                            / {{escrowForm.escrowDeadline}}
                                            <small>{{'common.days-text'| translate}} </small> </h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="ucsb"> {{'common.valid-label'| translate}}
                                        </div>
                                        <h4 [innerHTML]="validBytes | txIsValid"></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ucsb"> {{'common.service-fee-label'| translate}}
                                        </div>
                                        <h4>{{tx_fee | amountTkn}}
                                            <small> {{'common.xin-unit-text'| translate}}</small>
                                        </h4>
                                    </div>
                                </div>

                                <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}"
                                    class="btn btn-raised mr-1 mb-0" (click)="unsignedTx = !unsignedTx">
                                    <i class="fa fa-key"></i> {{'common.signed-transaction-label'| translate}}
                                </button>
                                <!-- <hr *ngIf="unsignedTx"> -->
                                <div class="form-group" *ngIf="unsignedTx">
                                    <div class="position-relative sign_in_inputs">
                                        <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes"
                                            class="form-control pl-0" name="key"></textarea>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button type="button" [disabled]="!validBytes" class="btn btn-gradient float-right"
                                        (click)="broadcastTransaction(transactionBytes)">
                                        <i class="fa fa-check"></i> {{'common.finish-btn'| translate}}
                                    </button>
                                    <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                                        <i class="fa fa-chevron-left"></i> {{'common.previous-btn'| translate}}
                                    </button>
                                </div>
                            </aw-wizard-step>
                        </aw-wizard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row" *ngIf="openBookMarks">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">My Bookmarks</h4>
                <h5 class="back-button" (click)="goBack()">
                    <i class="fa fa-chevron-left"></i> Back
                </h5>
            </div>
            <div class="card-body">
                <div class="card-block ml-3 mr-3">
                    <h5 class="mb-1">Bookmark List</h5>
                    <app-bookmark-list [viewFor]="'sendxin'" (selectEvent)="bookmarkSelected($event)"></app-bookmark-list>
                </div>
            </div>
        </div>
    </div>
</div> -->