<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'shuffling.shuffling-details.title'| translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                    <h3 class="back-button" (click)="goBack()">
                        <i class="fa fa-chevron-left"></i> {{'common.back-btn'| translate}}
                    </h3>
                </div>
            </div>
            <div class="card-body" *ngIf="shuffle">
                <div class="card-block mr-3 ml-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="ucsb"> {{'shuffling.shuffling-details.shuffling-id-label'| translate}}
                            </div>
                            <h4> {{shuffle.shuffling}} </h4>
                        </div>
                        <div class="col-md-4">
                            <div class="ucsb"> {{'common.holding-type-label'| translate}}
                            </div>
                            <h4> {{shuffle.holdingType|holdingType}} </h4>
                        </div>
                        <div class="col-md-4">
                            <div class="ucsb"> {{'common.amount-label'| translate}}
                            </div>
                            <h4> {{shuffle.amount|quantToAmount|numberString}}
                                <small> {{shuffle.holdingType|holdingType}} </small>
                            </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="ucsb"> {{'common.issuer-label'| translate}}
                            </div>
                            <h4> {{shuffle.issuerRS}} </h4>
                        </div>

                        <div class="col-md-4">
                            <div class="ucsb"> {{'shuffling.shuffling-details.last-assigne-label'| translate}}
                            </div>
                            <h4> {{shuffle.assigneeRS}} </h4>
                        </div>
                        <div class="col-md-4">
                            <div class="ucsb"> {{'shuffling.shuffling-details.block-remaining-label'| translate}}
                            </div>
                            <h4> {{shuffle.blocksRemaining}} </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="ucsb"> {{'shuffling.shuffling-details.participant-count-label'| translate}}
                            </div>
                            <h4> {{shuffle.participantCount}} </h4>
                        </div>
                        <div class="col-md-4">
                            <div class="ucsb"> {{'shuffling.shuffling-details.registrant-count-label'| translate}}
                            </div>
                            <h4> {{shuffle.registrantCount}} </h4>
                        </div>
                        <div class="col-md-4">
                            <div class="ucsb"> {{'shuffling.shuffling-details.state-label'| translate}}
                            </div>
                            <h4> {{shuffle.stage|shufflingStage}} </h4>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="card-block mr-3 ml-3">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <ngb-tabset type="pills">
                                <ngb-tab>
                                    <ng-template ngbTabTitle>
                                        <i class="fa fa-hashtag"></i> {{'transaction-details.full-hash-tab'|
                                        translate}}</ng-template>
                                    <ng-template ngbTabContent>
                                        <p> {{shuffle.shufflingFullHash}} </p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                    <ng-template ngbTabTitle>
                                        <i class="fa fa-hashtag"></i>{{'shuffling.shuffling-details.stage-hash-tab'|
                                        translate}}</ng-template>
                                    <ng-template ngbTabContent>
                                        <p> {{shuffle.shufflingStateHash}} </p>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>