<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{'assets.trade-desk.sell-asset.place-order-confirmation-title' | translate}}</h4>
                <h5 class="back-button" (click)="goBack()">
                    <i class="fa fa-chevron-left"></i> {{'common.back-btn' | translate}}
                </h5>
            </div>
            <div class="card-body" *ngIf="sellAssetForm">
                <div class="card-block mr-3 ml-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> {{'assets.trade-desk.asset-id' | translate}} </div>
                            <h4> {{sellAssetForm.assetId}} </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb"> {{'assets.trade-desk.sell-asset.asset-title' | translate}} </div>
                            <h4> {{sellAssetForm.asset}} </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.price-label' | translate}} </div>
                            <h4> {{sellAssetForm.price | numericalString}}
                                <small> {{'common.xin-unit-text'| translate}}</small>
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.quantity-label' | translate}} </div>
                            <h4> {{sellAssetForm.quantity}} </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.service-fee-label' | translate}} </div>
                            <h4> {{ tx_fee | amountTkn }}
                                <small> {{'common.xin-unit-text'| translate}}</small>
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb"> {{'common.valid-label' | translate}} </div>
                            <h4 [innerHTML]="validBytes | txIsValid"></h4>
                        </div>
                    </div>
                    <hr>
                    <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}" class="btn btn-raised mr-1 mb-0"
                        (click)="unsignedTx = !unsignedTx">
                        <i class="fa fa-key"></i> {{'common.signed-transaction-label' | translate}}
                    </button>
                    <hr *ngIf="unsignedTx">
                    <div class="form-group" *ngIf="unsignedTx">
                        <div class="position-relative">
                            <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes" class="form-control"
                                name="key"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" [disabled]="!validBytes" (click)="broadcastTransaction(transactionBytes)"
                            class="btn btn-primary float-right">
                            <i class="fa fa-check"></i> {{'common.finish-btn' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>