<div class="row">
    <div class="col-12">
        <form class="form" #atCompiler="ngForm" novalidate>
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mt-3 box-border mb-0">
                            <div class="box-header"><label>{{'common.code-label'| translate}}</label></div>
                            <div>
                                <textarea type="text" name="textCode" id="textCode" [(ngModel)]="atTextCode" class="form-control"
                                    style="min-height:350px" placeholder="{{'at.at-workbench.enter-code-placeholder'| translate}} "
                                    required></textarea>
                                <div>
                                    <button class="btn btn-gradient mb-0" (click)="getCode(atTextCode)">
                                        {{'at.at-workbench.generate-btn'| translate}} <i class="fa fa-long-arrow-right ml-2 font-medium-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mt-3 box-border mb-0">
                            <div class="box-header"><label>{{'at.at-workbench.output-label'| translate}} </label></div>
                            <div class="full-height-wrapper">
                                <textarea class="form-control full-height" style="min-height: 140px;" disabled="disabled">{{ outputCode }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>