<section>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block main-card-block">
                    <div class="border-bt">
                        <h2 class="main-title">{{'account.search-account.search-account-title'| translate}} </h2>
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="card-body mt-4">
                        <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                            <form class="form inner-form" #f="ngForm" novalidate>
                                <div class="form-body">
                                    <div class="form-group">
                                        <h3>{{'account.search-account.search-for-account-label'| translate}}
                                            <i class="fa fa-question-circle-o" aria-hidden="true" triggers="mouseenter:mouseleave"
                                                placement="right" container="body" ngbPopover="{{'account.search-account.search-for-account-popover'| translate}}"></i>
                                        </h3>
                                        <div class="position-relative mt-4">
                                            <input type="text" class="form-control input-search pb-2" name="form-control-with-icon"
                                                [(ngModel)]="searchAccountForm.query" placeholder="{{'account.search-account.search-for-account-placeholder'| translate}}"
                                                (input)="onSearchChange($event.target.value)" required>
                                            <div class="form-control-position btn-search">
                                                <i class="ft-search info mr-2"></i>{{'account.search-account.search-btn'|
                                                translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <ngx-datatable class="material" [rows]="accounts" [columnMode]="'force'" [rowHeight]="'auto'"
                                [footerHeight]="50">
                                <ngx-datatable-column prop="name" [name]="'table-header.name'| translate">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="accountRS" [name]="'table-header.account'| translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <a class="hyperlink" (click)="goToAccountDetails(value)">{{value}}</a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="accountRS" [name]="'table-header.actions'| translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <div class="btn-group-raised">
                                            <button class="btn btn-grey btn-icon btn-sm" (click)="openAddressBook(value, row.name)">
                                                <i class="fa fa-plus"></i></button>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>