<div class="card-header">
    <!-- <h3 class="card-title">{{shufflingType}} {{'shuffling.show-shufflings.shufflings-tab'| translate}} </h3> -->
    <h3 class="card-title" *ngIf="shufflingType === 'ALL'">{{'common.all'| translate}} {{'shuffling.show-shufflings.shufflings-tab'| translate}} </h3>
    <h3 class="card-title" *ngIf="shufflingType === 'MY'">{{'common.my'| translate}} {{'shuffling.show-shufflings.shufflings-tab'| translate}} </h3>
    <div class="pull-right filter-group">
        <div class="btn-group btn-group-justified btn-group-raised">
            <a href="javascript:void(0)" class="btn btn-sm btn-grey btn-icon" (click)="removeFilter()" triggers="mouseenter:mouseleave"
                container="body" placement="top" ngbPopover="{{'common.remove-filter-popover'| translate}}">
                <i class="fa fa-history"></i>
            </a>
            <a href="javascript:void(0)" *ngFor="let filter of filters" (click)="applyFilter(filter)" class="btn btn-sm btn-grey btn-icon filter"
                [ngClass]="{'active':filter.isEnabled}" triggers="mouseenter:mouseleave" container="body" placement="top"
                ngbPopover="{{'shuffling.show-shufflings.filters.'+ filter.popoverText| translate}}">
                <i [class]="'fa ' + filter.icon"></i>
            </a>
            <a href="javascript:void(0)" *ngIf="shufflingType=='MY'" class="btn btn-sm btn-icon btn-grey" (click)="clearAllShufflers()"
                triggers="mouseenter:mouseleave" container="body" placement="top" ngbPopover="{{'shuffling.show-shufflings.clear-node-shufflers-filter-popover'| translate}}">
                <i class="fa fa-times"></i>
            </a>
            <a href="javascript:void(0)" class="btn btn-sm btn-icon btn-grey" (click)="reload()" triggers="mouseenter:mouseleave"
                container="body" placement="top" ngbPopover="{{'common.reload-filter-popover'| translate}}">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="card-block">
        <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50"
            [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)'
            (autoRefresh)="reload()">
            <ngx-datatable-column prop="participantCount" [name]="'table-header.participants'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span *ngIf="shufflingType=='ALL'">{{value}} / {{row.registrantCount}}</span>
                    <a class="hyperlink" *ngIf="shufflingType=='MY'" (click)="openShufflingParticipants(row.shuffling)">{{value}}
                        / {{row.registrantCount}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="stage" [name]="'table-header.stage'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value | shufflingStage}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="holdingType" [name]="'table-header.type'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value | holdingType}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="holding" [name]="'table-header.holding'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <a class="hyperlink" *ngIf="row.holdingType === 1" (click)="openAssetDetails(value)">Details</a>
                    <a class="hyperlink" *ngIf="row.holdingType === 2" (click)="openCurrencyDetails(row.holdingInfo.code)">Details</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="amount" [name]="'table-header.amount'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.holdingType === 0">
                        {{value | amountTqt}}
                    </div>
                    <div *ngIf="row.holdingType === 1 || row.holdingType === 2">
                        {{value | quantityToShare:row.holdingInfo.decimals | numberString}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="issuerRS" [name]="'table-header.assigne'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <a class="hyperlink" (click)="openAccountDetails(value)">{{value}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="blocksRemaining" [name]="'table-header.blocks'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="shufflingFullHash" [name]="'table-header.actions'| translate">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div class="btn-group-raised">
                        <a class="btn btn-sm btn-grey btn-icon" (click)="goToDetails(row.shuffling)" triggers="mouseenter:mouseleave"
                            container="body" placement="top" ngbPopover="{{'common.details-table-action'| translate}} ">
                            <i class="fa fa-list-ul"></i>
                        </a>
                        <a class="btn btn-sm btn-grey btn-icon" (click)="openShufflingDetails(row.shuffling)" triggers="mouseenter:mouseleave"
                            container="body" placement="top" ngbPopover="{{'shuffling.show-shufflings.shuffling-details-table-action'| translate}}">
                            <i class="fa fa-question-circle-o"></i>
                        </a>
                        <a *ngIf="shufflingType=='ALL'" class="btn btn-sm btn-grey btn-icon" [ngClass]="{'disabled':canRegisterEnabled(row)}"
                            (click)="joinShuffle(value,row.amount,row.shuffling,row.holding)" triggers="mouseenter:mouseleave"
                            container="body" placement="top" ngbPopover="{{'shuffling.show-shufflings.join-shuffling-table-action'| translate}}">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a *ngIf="shufflingType=='MY'" [ngClass]="{'disabled':canStartEnabled(row)}" class="btn btn-sm btn-grey btn-icon"
                            [ngClass]="{'disabled':canRegisterEnabled(row)}" (click)="startShuffle(value,row.amount)"
                            triggers="mouseenter:mouseleave" container="body" placement="top" ngbPopover="{{'shuffling.show-shufflings.start-shuffling-table-action'| translate}}">
                            <i class="fa fa-play"></i>
                        </a>
                        <a *ngIf="shufflingType=='MY'" [ngClass]="{'disabled':canStopEnabled(row)}" class="btn btn-sm btn-grey btn-icon"
                            [ngClass]="{'disabled':canRegisterEnabled(row)}" (click)="stopShuffle(value)" triggers="mouseenter:mouseleave"
                            container="body" placement="top" ngbPopover="{{'shuffling.show-shufflings.stop-shuffling-table-action'| translate}}">
                            <i class="fa fa-stop"></i>
                        </a>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>