<div class="card-header" *ngIf="assetType==='MY'">
  <h3 class="card-title">{{'assets.show.asset-tool' | translate}}</h3>
  <div class="card-block mt-4">
    <div class="form-actions assets-boxes row">
      <div class="col">
      <button type="button" class="btn mb-0 btn-default media-box text-left" (click)="goToExpectedAssetTransfer()">
        <i class="fa fa-clock-o card-icon" aria-hidden="true"></i> 
        <p class="card-title" [innerHTML]="'assets.show.expected-asset-transfers-lable' | translate"></p>
      </button>
      </div>
       <div class="col">
      <button type="button" class="btn mb-0 btn-default media-box text-left" (click)="goToExpectedOrderCancellation()">
        <i class="fa fa-clock-o card-icon" aria-hidden="true"></i> 
        <p class="card-title" [innerHTML]="'assets.show.expected-order-cancellation-lable' | translate"></p>
      </button>
      </div>
       <div class="col">
      <button type="button" class="btn mb-0 btn-default media-box text-left" (click)="goToExpectedAssetDeletes()">
        <i class="fa fa-clock-o card-icon" aria-hidden="true"></i> 
        <p class="card-title" [innerHTML]="'assets.show.expected-asset-deletes-lable' | translate"></p>
      </button>
      </div>
       <div class="col">
      <button type="button" class="btn mb-0 btn-default media-box text-left" (click)="goToExpectedOrderDetails()">
        <i class="fa fa-clock-o card-icon" aria-hidden="true"></i> 
        <p class="card-title" [innerHTML]="'assets.show.expected-bid-orders-lable' | translate"></p>
      </button>
      </div>
       <div class="col">
      <button type="button" class="btn mb-0 btn-default media-box text-left" (click)="goToOrderTradesDetails()">
        <i class="fa fa-info-circle card-icon" aria-hidden="true"></i> 
        <p class="card-title" [innerHTML]="'assets.show.get-order-trades' | translate"></p>
      </button>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="card-header">
  <h3 class="card-title" *ngIf="assetType=='ALL'">{{'assets.show.all-table-title' | translate}}</h3>
  <h3 class="card-title" *ngIf="assetType=='MY'">{{'assets.show.my-table-title' | translate}}</h3>
  <div class="pull-right filter-group">
    <div class="btn-group btn-group-justified btn-group-raised">
      <a href="javascript:void(0)" class="btn btn-sm btn-grey btn-icon" (click)="removeFilter()" *ngIf="assetType=='ALL'" triggers="mouseenter:mouseleave" container="body" placement="top" [ngbPopover]="'common.remove-filter-popover' | translate">
        <i class="fa fa-history"></i>
      </a>
      <ng-container *ngFor="let filter of filters">
        <a href="javascript:void(0)"  (click)="applyFilter(filter)" class="btn btn-sm btn-grey  btn-icon filter"
           [ngClass]="{'active':filter.isEnabled}" triggers="mouseenter:mouseleave" container="body"
           placement="top" [ngbPopover]="'common.'+filter.popoverText | translate" *ngIf="assetType=='ALL'">
          <i [class]="'fa ' + filter.icon"></i>
        </a>
      </ng-container>
      <a href="javascript:void(0)" class="btn btn-sm btn-grey btn-icon" (click)="reload()" triggers="mouseenter:mouseleave" container="body"
         placement="top" [ngbPopover]="'common.reload-filter-popover' | translate">
        <i class="fa fa-refresh"></i>
      </a>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="card-block">
    <!--<form class="form" *ngIf="assetType=='ALL'">
      <div class="form-body">
        <div class="form-group">
          <div class="position-relative has-icon-left">
            <input type="text" class="form-control" name="form-control-with-icon" [(ngModel)]="searchQuery" (input)="onSearchChange($event.target.value)">
            <div class="form-control-position">
              <i class="ft-search info"></i>
            </div>
          </div>
        </div>
      </div>
    </form>-->
    <ngx-datatable class="material" [rows]="assets" [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50" [externalPaging]="true"
                   [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)'>
      <ngx-datatable-column prop="name" [name]=" 'table-header.name' | translate">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <a class="hyperlink" (click)="goToAssetDetails(row.asset)">{{value}}</a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="quantityQNT" [name]="'quantity' | translate" *ngIf="assetType=='MY'">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          {{value | supply:row.decimals}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="currentQuantityQNT" [name]="'holding' | translate" *ngIf="assetType=='MY'">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          {{(row.quantityQNT * 100) / row.currentQuantityQNT | amountTkn:2}}%
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="accountRS" [name]="'issuer' | translate" *ngIf="assetType=='ALL'">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a class="hyperlink" (click)="goToAccountDetails(value)">{{value}}</a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="quantityQNT" [name]="'currentsupply' | translate" *ngIf="assetType=='ALL'">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          {{value | supply:row.decimals}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="numberOfAccounts" [name]="'shareholders' | translate">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="numberOfTrades" [name]="'trades' | translate">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="numberOfTransfers" [name]="'transfers' | translate">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="asset" [name]="'actions' | translate">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <div class="btn-group-raised">
          <a class="btn btn-sm btn-grey btn-icon" (click)="goToTransactionDetails(value)" triggers="mouseenter:mouseleave" container="body" placement="top" [ngbPopover]="'common.details-table-action' | translate">
            <i class="fa fa-list-ul"></i>
          </a>
          <a class="btn btn-sm btn-grey btn-icon" (click)="goToTradeDesk(value)" triggers="mouseenter:mouseleave" container="body" placement="top" [ngbPopover]="'common.tradeDesk-table-action' | translate">
            <i class="fa fa-bar-chart"></i>
          </a>
          <a class="btn btn-sm btn-grey btn-icon" (click)="goToTransferAsset(value)" triggers="mouseenter:mouseleave" container="body" placement="top" [ngbPopover]="'assets.show.transfer-assets-table-action' | translate" *ngIf="assetType=='MY'">
            <i class="fa fa-user"></i>
          </a>
          <a class="btn btn-sm btn-grey btn-icon" [ngClass]="[this.accountRs === row.issuerAccountRS ? 'enable' : 'disabled']" (click)="goToDividendPayment(value)" triggers="mouseenter:mouseleave" container="body" placement="top" [ngbPopover]="'assets.show.dividend-payments-table-action' | translate" *ngIf="assetType=='MY'">
            <i class="fa fa-dollar"></i>
          </a>
          <a class="btn btn-sm btn-grey btn-icon" (click)="goToDeleteShare(value)" triggers="mouseenter:mouseleave" container="body" placement="top" [ngbPopover]="'assets.show.delete-shares-table-action' | translate" *ngIf="assetType=='MY'">
            <i class="fa fa-minus"></i>
          </a>
          <a class="btn btn-sm btn-grey btn-icon" [ngClass]="[this.accountRs === row.issuerAccountRS ? 'disabled' : 'enable']"  (click)="goToDeleteAsset(value)" triggers="mouseenter:mouseleave" container="body" placement="top" [ngbPopover]="'assets.show.delete-asset-table-action' | translate" *ngIf="assetType=='MY'">
            <i class="fa fa-times"></i>
          </a>
          <a class="btn btn-sm btn-grey btn-icon" (click)="goToDividendHistory(value)" triggers="mouseenter:mouseleave" container="body" placement="top" [ngbPopover]="'assets.show.dividends-history-table-action' | translate" *ngIf="assetType=='ALL'">
            <i class="fa fa-usd"></i>
          </a>
        </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
