<div class="row">
    <div class="col-12 mb-1">
        <div class="content-header">
            <h3>{{'tools.tools-in-development-title'| translate}}</h3>
        </div>
    </div>
</div>
<div class="row tool-boxes orange-boxes" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12 mb-3" *ngFor="let extension of extensionsInDevelopment">
        <div class="card">
            <div class="card-header">
                <h4><i [class]="extension.icon"></i> {{'tools.extensions-in-development.'+ extension.title + '.'+
                    'title'| translate}}</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <p>{{'tools.extensions-in-development.'+ extension.title + '.'+ 'description'| translate}}</p>
                </div>
            </div>
            <!-- <div class="card-footer">
				<span class="badge bg-warning white">In Development</span>
			</div> -->
        </div>
    </div>
</div>