<!--Login Page Starts-->
<section id="login" class="main-bg">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div>
                    <div class="login-header">
                        <div class="welcome-text">
                            <h5><span>{{ 'welcome.title' | translate}}</span></h5>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <form #f="ngForm" novalidate>
                                <div class="welcome-logo text-center">
                                    <img src="assets/images/login-logo.png" alt="">
                                </div>
                                <div class="form-group text-left sign_in_inputs">
                                    <label><img src="assets/images/lock.png" alt="">Passphrase</label>
                                    <input type="password" name="passPhrase" [(ngModel)]="model.passPhrase" #passPhrase="ngModel" class="form-control p_input" required placeholder="{{ 'login.passphrase_placeholder' | translate}}">
                                    <div *ngIf="passPhrase?.invalid && (passPhrase?.dirty || passPhrase?.touched)" class="input-error">
                                        <div *ngIf="passPhrase?.invalid">
                                            {{ 'login.error_passphrase_required' | translate}}
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" [disabled]="f.invalid" class="btn btn-primary btn-block enter-btn mt-2 mt-md-4 btn-gradient col-md-8" (click)="loginToAccount()">
                                    {{ 'login.login_btn' | translate}}
                                </button>
                                <p class="note text-center mt-2 mb-2 mt-md-4 mb-md-4" [innerHTML]="'login.note' | translate"></p>
                                <p class="sign-up text-center mb-0">{{ 'welcome.no_account' | translate}}?<a href="javascript:void(0)" (click)="signUp()"> {{ 'welcome.redirect_signup_btn' | translate}}</a></p>
                            </form>
                        </div>

                    </div>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="centering text-center">
                                <div class="col-md-7 browser-text">
                                    <p>
                                        Chrome v49+ | IE v11+ | Firefox v50+ | Opera v42+ | Android v4.4+ | Chrome for
                                        Android v55+
                                    </p>
                                </div>
                                <!-- <img src="images/angularjs.svg" class="grayscale" alt="" width="15" style="margin-top: 10px; margin-bottom:5px;">
                                <img src="images/bootstrap.svg" class="grayscale" alt="" width="13" style="margin-top: 10px; margin-bottom:5px;"> -->
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->