.welcome-logo{
    img{
       margin: 0 auto 50px auto;
    }
}
.welcome-text{
    text-align: center;
    margin: 40px 0px 40px;
    span {
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        line-height: 30px;
        color: #fff;
        font-weight: 400;
    }
}
.sign-in-note{
    font-size: 12px;
    margin: 0px;
    text-align: center;
}

    
