#signup {
	.welcome-logo 
	{
	img {
    width: 200px;
	}
	}

	.card{
    	max-width: 620px !important;
    	border-radius: 35px;
        margin: 0 auto;
    	box-shadow: -3px 7px 10px rgba(0, 0, 0, 0.30);
	    h5{
	     font-weight: 600;
		 color: #383d43;
		 font-size: 20px;
		 line-height:65px;
		 letter-spacing: 1.2px;
	    }
	 .card-header {
		    padding: 45px 0 0;
		}
	.card-body {
    		padding: 0px 0 30px !important;
		}
    }
}
.pagination{
	li{
	display: inline-block;
    width: 8px;
    height: 8px;
    background: #d9e0ea;
    border-radius: 50%;
    margin-right: 10px;
	    &.active{
	    background: #f49928;
	    }
	}
}
.right-arrrow{
	    margin-left: 10px;
}
@media(max-width: 767px){
  #signup .card .card-header{
  padding-top: 35px !important;
  }
 }