<section>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block main-card-block">
                    <div class="border-bt mb-4">
                        <h2 class="main-title">{{'account.ledger-view.account-ledger-title'| translate}}</h2>
                        <app-breadcrumb></app-breadcrumb>
                        <div class="pull-right filter-group">
                            <div class="btn-group btn-group-justified btn-group-raised">
                                <a href="javascript:void(0)" class="btn btn-sm btn-grey btn-icon" (click)="reload()"
                                trigger="mouseenter:mouseleave" ngbPopover="{{'common.reload-filter-popover'| translate}}"><i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="card-block mr-3 ml-3">
                            <ngx-datatable class="material" [rows]="entries" [columnMode]="'force'" [rowHeight]="'auto'"
                                [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                                [limit]="page.size" (page)='setPage($event)' (autoRefresh)="reload()">
                                <ngx-datatable-column prop="ledgerId" [name]="'table-header.id'| translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="timestamp" [name]="'table-header.date'| translate">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        {{value | timestamp}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="event" [name]="'table-header.transaction'| translate">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <a class="hyperlink" (click)="goToTransactionDetails(value)">{{value}}</a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="isTransactionEvent" [name]="'table-header.event'| translate">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <h4 [innerHTML]="value | isEnabled"></h4>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="holdingType" [name]="'table-header.holding-type'| translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{value | ledgerHolding}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="eventType" [name]="'table-header.transaction-type'| translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{value | ledgerTxTypes}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="change" [name]="'table-header.change'| translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{value | amountTqt}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="balance" [name]="'table-header.balance'| translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{value | amountTqt}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="event" [name]="'table-header.action'| translate">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <div class="btn-group-raised line-3">
                                            <a class="bbtn btn-sm btn-grey btn-icon" (click)="goToTransactionDetails(value)"
                                                triggers="mouseenter:mouseleave" container="body" placement="top"
                                                ngbPopover="{{'common.details-table-action'| translate}}">
                                                <i class="fa fa-list-ul"></i>
                                            </a>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>