<div class="card-header">
    <h3 class="card-title">{{'account.receive-xin.claim-title'| translate}}</h3>
</div>
<div class="card-body">
    <div class="card-block ml-md-3 mr-md-3">
        <form class="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'account.receive-xin.transaction-full-hash-label'| translate}}
                                <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                    container="body" ngbPopover="{{'account.receive-xin.transaction-full-hash-tooltip'| translate}}">
                                </i>
                            </label>
                            <div class="input-group ml-0 mr-0 sign_in_inputs row form-border-bottom pb-1">
                                <div class="col-9  pl-0">
                                    <input type="text" class="pl-0 mb-0 pt-0 pb-0 form-control" [(ngModel)]="claimSeceretForm.fullHash"
                                        name="transaction_hash" placeholder="{{'account.receive-xin.transaction-full-hash-placeholder'| translate}}">
                                </div>
                                <div class="col-3 pl-0 pr-1">

                                    <span class="input-group-text">HASH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'account.receive-xin.revealed-secret-label'| translate}}
                                <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                    container="body" ngbPopover="{{'account.receive-xin.revealed-secret-tooltip'| translate}}">
                                </i>
                            </label>
                            <div class="input-group ml-0 mr-0 sign_in_inputs row form-border-bottom pb-1">
                                <div class="col-9 col-lg-10 pl-0">

                                    <input type="text" class="pl-0 mb-0 pt-0 pb-0 form-control" [(ngModel)]="claimSeceretForm.secretText"
                                        placeholder="{{'account.receive-xin.revealed-secret-placeholder'| translate}}"
                                        name="secret_text">
                                </div>
                                <div class="btn-icon-group text-right col-3 col-lg-2 pr-1" (click)="confirmControlledTransaction(claimSeceretForm.fullHash, claimSeceretForm.secretText)">

                                    <span class="btn btn-primary"><i class="fa fa-user-secret"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="validBytes">
                        <hr />

                        <button type="button" [ngClass]="{'btn-success': !addMessage, 'btn-danger': addMessage}" class="btn btn-raised mb-0"
                            (click)="signedTx=!signedTx">
                            <i class="fa fa-key"></i>{{'common.signed-transaction-label'| translate}}
                        </button>
                        <hr *ngIf="signedTx">
                        <div class="form-group" *ngIf="signedTx">
                            <div class="position-relative">
                                <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes" class="form-control"
                                    name="key"></textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="button" [disabled]="!validBytes" (click)="broadcastTransaction(transactionBytes)"
                                class="btn btn-primary float-right">
                                <i class="fa fa-check"></i>{{'common.finish-btn'| translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>