<section>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block main-card-block">
                    <div class="border-bt">
                        <h2 class="main-title">{{ 'voting.cast-vote.title' | translate}}</h2>
                        <app-breadcrumb></app-breadcrumb>
                        <h3 class="back-button" (click)="goBack()">
                            <i class="fa fa-chevron-left"></i> {{ 'common.back-btn' | translate}}
                        </h3>
                    </div>

                    <div class="card-body poll-vote mt-4">
                        <div class="card-block mr-3 ml-3">
                            <aw-wizard [navBarLayout]="'large-filled-symbols'">
                                <aw-wizard-step stepTitle="{{ 'common.details-step' | translate}}" [navigationSymbol]="{ symbol: '1' }"
                                    [canExit]="isStepOneFormValid" class="form-bordered mt-4">
                                    <form class="form inner-form" #transferAliasForm="ngForm" novalidate>
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group m-0">
                                                        <label>{{ 'common.name-label' | translate}}
                                                            <i class="fa fa-question-circle-o" aria-hidden="true"
                                                                triggers="mouseenter:mouseleave" placement="right"
                                                                container="body" [ngbPopover]="'voting.cast-vote.poll-name-popover' | translate">
                                                            </i>
                                                        </label>
                                                        <div>
                                                            <h4> {{poll.name}} </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group m-0">
                                                        <label>{{ 'common.description-label' | translate}}
                                                            <i class="fa fa-question-circle-o" aria-hidden="true"
                                                                triggers="mouseenter:mouseleave" placement="right"
                                                                container="body" [ngbPopover]="'voting.cast-vote.poll-description-popover' | translate">
                                                            </i>
                                                        </label>
                                                        <div>
                                                            <h4> {{ poll.description }} </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row  mt-4">
                                                <div class="col-md-6">
                                                    <div class="form-group m-0">
                                                        <label>{{ 'voting.cast-vote.available-option-label' |
                                                            translate:{maxNumberOfOptions: poll.maxNumberOfOptions} }}
                                                            <i class="fa fa-question-circle-o" aria-hidden="true"
                                                                triggers="mouseenter:mouseleave" placement="right"
                                                                container="body" [ngbPopover]="'voting.cast-vote.available-option-popover' |
                                                                translate:{maxNumberOfOptions: poll.maxNumberOfOptions}">
                                                            </i>
                                                        </label>
                                                        <div *ngFor="let option of options" class="col-md-6">
                                                            <div class="custom-control form-list custom-checkbox">
                                                                <input type="checkbox" id="{{ option.index }}" class="custom-control-input"
                                                                    (change)="handleOptions(option.index)">
                                                                <label class="custom-control-label" for="{{ option.index }}">{{
                                                                    option.name
                                                                    }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="left">
                                            <button type="button" class="btn btn-gradient mr-1 mb-0 float-right"
                                                (click)="nextStep()" awNextStep>
                                                <i class="fa fa-chevron-right"></i> {{ 'common.next-btn' | translate}}
                                            </button>
                                        </div>
                                    </form>
                                </aw-wizard-step>
                                <aw-wizard-step stepTitle="{{ 'common.confirm-step' | translate}}" [navigationSymbol]="{ symbol: '2' }"
                                    class="form-bordered mt-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="ucsb"> {{ 'common.name-label' | translate}}</div>
                                            <h4> {{ poll.name }} </h4>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="ucsb"> {{ 'common.valid-label' | translate}}</div>
                                            <h4 [innerHTML]="validBytes | txIsValid"></h4>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ucsb"> {{ 'common.service-fee-label' | translate}}</div>
                                            <h4> {{ tx_fee | amountTkn }}
                                                <small> {{'common.xin-unit-text'| translate}}</small>
                                            </h4>
                                        </div>
                                    </div>

                                    <button type="button" [ngClass]="{'btn-success': !signedTx, 'btn-danger': signedTx}"
                                        class="btn btn-raised mr-1 mb-0" (click)="signedTx = !signedTx">
                                        <i class="fa fa-key"></i> {{ 'common.signed-transaction-label' | translate}}
                                    </button>

                                    <div class="form-group" *ngIf="signedTx">
                                        <div class="position-relative sign_in_inputs">
                                            <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes"
                                                class="form-control pl-0" name="key"></textarea>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <button type="button" [disabled]="!validBytes" class="btn btn-gradient float-right"
                                            (click)="broadcastTransaction(transactionBytes)">
                                            <i class="fa fa-check"></i> {{ 'common.finish-btn' | translate}}
                                        </button>
                                        <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                                            <i class="fa fa-chevron-left"></i> {{ 'common.previous-btn' | translate}}
                                        </button>
                                    </div>
                                </aw-wizard-step>
                            </aw-wizard>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>