.card-inner{
	h3{
	font-weight: 600;
	 color: #282322;
	 font-size: 16px;
	 line-height: 20px;
	}
	h4{
	font-size: 13px;
	line-height: 18px;
	color: #333; font-weight: 500;
	&.key-wrapper{
		word-wrap: break-word;
	    word-break: break-all;
	    }
	}
	input{
	padding-left: 0;
	}
}
.sign-up-note{
	padding: 0 !important;
	small{
	font-size: 100%;
	}
}