<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Approve Controlled Transaction</h4>
                <h5 class="back-button" (click)="goBack()">
                    <i class="fa fa-chevron-left"></i> Back
                </h5>
            </div>
            <div class="card-body">
                <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                    <aw-wizard [navBarLayout]="'large-filled-symbols'">
                        <aw-wizard-step stepTitle="Confirm" [navigationSymbol]="{ symbol: '1' }">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ucsb"> Sender Account
                                    </div>
                                    <h4><strong> {{approveControl.sender}} </strong></h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="ucsb"> Recipient Account
                                    </div>
                                    <h4><strong> {{approveControl.recipient}} </strong></h4>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ucsb"> Token Send
                                    </div>
                                    <h4>
                                        <strong> {{approveControl.amount| amountTqt}} </strong>
                                        <small> {{'common.xin-unit-text'| translate}}</small>
                                    </h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="ucsb"> Transaction Dated From
                                    </div>
                                    <h4><strong> {{approveControl.timestamp| timestamp}} </strong></h4>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ucsb"> Transaction Type
                                    </div>
                                    <h4>
                                        <strong> {{approveControl.type| transactionTextSubType:
                                            approveControl.subtype}} </strong>
                                    </h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="ucsb"> Transaction Id
                                    </div>
                                    <h4><strong>{{approveControl.transaction}}</strong>
                                    </h4>
                                </div>
                            </div>
                            <hr>
                            <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}"
                                class="btn btn-raised mr-1 mb-0" (click)="unsignedTx = !unsignedTx">
                                <i class="fa fa-key"></i> Signed Transaction
                            </button>
                            <hr *ngIf="unsignedTx">
                            <div class="form-group" *ngIf="unsignedTx">
                                <div class="position-relative">
                                    <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes" class="form-control"
                                        name="key"></textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="button" [disabled]="!validBytes" class="btn btn-primary float-right"
                                    (click)="broadcastTransaction(transactionBytes)">
                                    <i class="fa fa-check"></i> Finish
                                </button>
                            </div>
                        </aw-wizard-step>
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>