<div class="row">
    <div class="col-sm-12">
        <div class="card">

            <div class="card-block main-card-block pb-0">
                <div class="border-bt">
                    <h2 class="main-title">{{'navbar.user-guide'| translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body">
                    <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3 text-center">
                        <h3 class="text-center">{{'tool-pages.user-guide.coming-soon'| translate}} </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>