.footer-box{
  border-radius: 10px;
    box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    margin-left: 15px;
    margin-right: 15px;
    background: #fff;
    padding: 30px;
    font-size: 11px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.9);
    small{
    font-size: 100%;
    }
    h4 {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
	}
	span{
	color: #e83641;
	}
}
@media(max-width: 767px){
	.footer-box .text-left, .footer-box .text-right{
	text-align: center !important;
    margin-bottom: 15px;
	}
}