<!--Footer Starts-->
<footer>
    <div class="container-fluid">
        <div class="footer-box mb-3">
            <div class="row">
                <div class="col-md-7 text-left copyright">
                    <h4 class="text-left">
                        {{ 'footer.project-title' | translate}}
                    </h4>
                    <small [innerHTML]="'footer.project-info' | translate">
                    </small>

                </div>
                <div class="col-md-5 text-right">
                    <h4>
                        <small>{{ options?.NETWORK_ENVIRONMENT | uppercase }}</small>
                        <span class="label label-xs ml-1 mr-1"> | </span>
                        <small> {{ 'footer.height-label' | translate}} : {{currentHeight}}</small>
                        <span class="label label-xs ml-1 mr-1"> | </span>
                        <small> {{ 'footer.nodes-label' | translate}} : {{totalNodes}}</small>
                        <span class="label label-xs ml-1 mr-1" *ngIf="peerState"> | </span>
                        <small> {{ 'footer.synced-label' | translate}} : {{peerState.isDownloading | isSync}}</small>
                    </h4>
                    <small>{{ 'footer.connected-label' | translate}} : {{connectedURL}}</small>
                    <span class="label label-xs ml-1 mr-1" *ngIf="options"> | </span>
                    <small *ngIf="options"> {{ 'footer.version-label' | translate}} : {{options.VERSION}}</small>

                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer Ends-->
