<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'account.my-bookmarks.my-bookmark-title'| translate}} </h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>

                <div class="card-body mt-4">
                    <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                        <form class="form inner-form" #addBookmarkForm="ngForm">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>{{'account.my-bookmarks.my-bookmark-sub-title'| translate}}</h3>
                                        <div class="form-group">
                                            <label>{{'account.my-bookmarks.account-name-label'| translate}}</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="account" [(ngModel)]="contact.account"
                                                    placeholder="{{ 'account.my-bookmarks.account-name-placeholder' | translate}}"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>{{'account.my-bookmarks.account-tag-label'| translate}}</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="tag" [(ngModel)]="contact.tag"
                                                    placeholder="{{ 'account.my-bookmarks.account-tag-placeholder' | translate}}"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="left">
                                            <button type="button" class="btn btn-gradient" (click)="createNewContact(contact.account,contact.tag)"
                                                [disabled]="!addBookmarkForm?.valid">
                                                <i class="fa fa-plus"></i> {{'account.my-bookmarks.add-btn'|
                                                translate}}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <h3 class="mb-3 mt-4">{{'account.my-bookmarks.bookmark-list-label'| translate}}</h3>
                                        <app-bookmark-list [bookMarkUpdateSubject]="bookMarkUpdateSubject" [viewFor]="'mybookmark'"></app-bookmark-list>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>