<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'aliases.create-alias.title'| translate}} </h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>

            </div>
            <div class="card-body">
                <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                    <aw-wizard [navBarLayout]="'large-filled-symbols'">
                        <aw-wizard-step stepTitle="{{'common.details-step'| translate}}" [navigationSymbol]="{ symbol: '1' }">
                            <form class="form inner-form" #createAliasesForm="ngForm" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group m-0">
                                                <label>{{'common.alias-name-label'| translate}}
                                                    <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                        container="body" ngbPopover="{{'aliases.create-alias.alias-name-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="input-group">
                                                    <input type="text" name="name" #name="ngModel" [(ngModel)]="alias.aliasName"
                                                        class="form-control" placeholder="{{'aliases.create-alias.alias-name-placeholder'| translate}}"
                                                        required>
                                                </div>
                                                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="input-error">
                                                    <div *ngIf="name?.errors.required">
                                                        {{'aliases.create-alias.name-required'| translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group m-0">
                                                <label>{{'aliases.create-alias.prefix-label'| translate}}
                                                    <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                        container="body" ngbPopover="{{'aliases.create-alias.prefix-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <select name="type" value="release" class="form-control" [(ngModel)]="alias.prefix"
                                                    (change)="changePlaceholder(alias.prefix)" required>
                                                    <option *ngFor='let prefix of prefixes' [value]="prefix.value">
                                                        {{'aliases.create-alias.prefixs.'+ prefix.name | translate}}
                                                    </option>
                                                    <!-- <option value='acct:'>Account</option>
                                                     <option value='url:'>URL</option>
                                                     <option value='btc:'>BTC</option>
                                                     <option value=''>Other</option>-->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group m-0">
                                                <label> {{'common.url-label'| translate}}
                                                    <i class="fa fa-question-circle-o" placement="right" triggers="mouseenter:mouseleave"
                                                        container="body" ngbPopover="{{'aliases.create-alias.url-popover'| translate}}">
                                                    </i>
                                                </label>
                                                <div class="input-group m-0 row sign_in_inputs form-border-bottom">
                                                    <div class="col-9 pl-0">
                                                        <input type="text" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                            name="aliaseURI" #aliaseURI="ngModel" [(ngModel)]="alias.aliasURI"
                                                            placeholder="{{uriPlaceholder}}" required>
                                                    </div>
                                                    <div class="col-3 text-right pl-0">
                                                        <span class="input-group-text text-right">@{{'common.xin-unit-text'|
                                                            translate}}</span>
                                                    </div>
                                                </div>

                                                <div *ngIf="aliaseURI?.invalid && (aliaseURI?.dirty || aliaseURI?.touched)"
                                                    class="input-error">
                                                    <div *ngIf="aliaseURI?.errors.required">
                                                        {{'aliases.create-alias.url-required'| translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" [disabled]="createAliasesForm.invalid" (click)="setAlias()"
                                        class="btn btn-primary mr-1 mt-4 mb-0 float-right btn-gradient" awNextStep>
                                        <i class="fa fa-chevron-right"></i> {{'common.next-btn'| translate}}
                                    </button>
                                </div>
                            </form>
                        </aw-wizard-step>
                        <aw-wizard-step stepTitle="{{'common.confirm-step'| translate}}" [navigationSymbol]="{ symbol: '2' }"
                            class="form-bordered">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="ucsb"> {{'common.name-label'| translate}}
                                    </div>
                                    <h4>{{alias.aliasName}}</h4>
                                </div>
                                <div class="col-sm-6">
                                    <div class="ucsb"> {{'common.uri-label'| translate}}
                                    </div>
                                    <h4>{{alias.aliasURI}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ucsb"> {{'common.valid-label'| translate}}
                                    </div>
                                    <h4 [innerHTML]="validBytes | txIsValid"></h4>
                                </div>

                                <div class="col-md-6">
                                    <div class="ucsb"> {{'common.service-fee-label'| translate}}
                                    </div>
                                    <h4>{{tx_fee | amountTkn}}
                                        <small> {{'common.xin-unit-text'| translate}}</small>
                                    </h4>
                                </div>
                            </div>
                            <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}"
                                class="btn btn-raised mr-1 mb-0" (click)="unsignedTx = !unsignedTx">
                                <i class="fa fa-key"></i> {{'common.signed-transaction-label'| translate}}
                            </button>
                            <div class="form-group mt-3" *ngIf="unsignedTx">
                                <div class="position-relative sign_in_inputs">
                                    <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes" class="form-control pl-0"
                                        name="key"></textarea>
                                </div>
                            </div>
                            <div class="mt-4">
                                <button type="button" [disabled]="!validBytes" class="btn btn-gradient float-right"
                                    (click)="broadcastTransaction(transactionBytes)">
                                    <i class="fa fa-check"></i> {{'common.finish-btn'| translate}}
                                </button>
                                <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                                    <i class="fa fa-chevron-left"></i> {{'common.previous-btn'| translate}}
                                </button>
                            </div>
                        </aw-wizard-step>
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>